:host {
  --tcds-tabs-tab-height: var(--tcds-size-medium);
  --tcds-tabs-tab-font-size: var(--tcds-font-size-medium);

  display: block;
}

:host([size*="small"]) {
  --tcds-tabs-tab-height: var(--tcds-size-small);
  --tcds-tabs-tab-font-size: var(--tcds-font-size-small);
}

:host([size*="large"]) {
  --tcds-tabs-tab-height: var(--tcds-size-large);
  --tcds-tabs-tab-font-size: var(--tcds-font-size-medium-plus);
}

:host([size*="full-width"]) {
  --tcds-tabs-tab-flex-grow: 1;
}

:host([variant*="stepper"]) {
  --tcds-tablist-gap: 0;
  --tcds-tabpanel-padding: 2rem;
  --tcds-tabpanel-background: var(--tcds-color-blue-x-light);
  --tcds-tab-border-radius: 1rem;
  --tcds-tabs-tab-background: var(--tcds-color-blue-dark);
  --tcds-tabs-tab-text-color: #fff;
  --tcds-tabs-tab-active-background: var(--tcds-color-blue-x-light);
  --tcds-tabs-tab-active-text-color: var(--tcds-color-blue-dark);
  --tcds-tabs-tab-indicator: none;
  --tcds-tabs-tab-background-floater: none;
  --tcds-tabs-tab-padding-inline: 2rem;
}

[role="tablist"] {
  display: flex;
  overflow-x: auto;
  overscroll-behavior: none;
  gap: var(--tcds-tablist-gap, var(--tcds-space-normal));
}

[role="tab"] {
  background: var(--tcds-tabs-tab-background, transparent);
  border-top-right-radius: var(--tcds-tab-border-radius);
  border-top-left-radius: var(--tcds-tab-border-radius);
  color: var(--tcds-tabs-tab-text-color, var(--tcds-color-secondary));
  font-weight: var(--tcds-font-weight-semibold);
  font-size: var(--tcds-tabs-tab-font-size);
  padding: 0 var(--tcds-tabs-tab-padding-inline, var(--tcds-space-tight));
  height: calc(var(--tcds-tabs-tab-height) + 6px);
  flex: var(--tcds-tabs-tab-flex-grow, 0) 0;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  transition: color var(--tcds-animation-productive-duration) var(--tcds-animation-productive-easing);

  &:hover,
  &[aria-selected="true"] {
    --tcds-tabs-tab-text-color: var(--tcds-tabs-tab-active-text-color, var(--tcds-color-primary));
    --tcds-tabs-tab-background: var(--tcds-tabs-tab-active-background, transparent);
  }

  &:hover {
    --tcds-tabs-tab-background-color: var(--tcds-tabs-tab-active-background-color, var(--tcds-color-red-x-light));
  }

  &[aria-selected="true"] {
    --tcds-tabs-tab-indicator-color: var(--tcds-tabs-tab-active-indicator-color, var(--tcds-color-primary));
  }

  > span {
    display: flex;
    gap: var(--tcds-space-tight);
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    border-bottom: var(--tcds-tabs-tab-indicator, 4px solid var(--tcds-tabs-tab-indicator-color, transparent));
    transition: border-bottom var(--tcds-animation-productive-duration) var(--tcds-animation-productive-easing);

    &::after {
      content: "";
      display: var(--tcds-tabs-tab-background-floater, block);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 6px;
      left: 0;
      background: var(--tcds-tabs-tab-background-color, transparent);
      border-radius: 10px;
      z-index: -1;
      transition: background var(--tcds-animation-productive-duration) var(--tcds-animation-productive-easing);
    }
  }
}
