tcds-tabs {
  &:not(:only-child, :first-child) {
    margin-top: var(--tcds-space-x-loose);
  }

  &:not(:only-child) {
    margin-bottom: var(--tcds-space-x-loose);
  }

  .bg-primary[data-theme="dark"] > &,
  &.bg-primary[data-theme="dark"] {
    --tcds-tabs-tab-active-indicator-color: var(--tcds-color-tint);
  }

  [class*="bg-"][data-theme="dark"] > &,
  &[class*="bg-"][data-theme="dark"] {
    --tcds-tabs-tab-text-color: "inherit";
    --tcds-tabs-tab-active-text-color: "inherit";
    --tcds-tabs-tab-active-background-color: var(--tcds-color-tint-x-weak);
  }

  [class*="bg-"][data-theme="light"] > &,
  &[class*="bg-"][data-theme="light"] {
    --tcds-tabs-tab-active-background-color: var(--tcds-color-shade-xx-weak);
  }
}

tcds-tab {
  grid-area: tabpanels;
}
