.type-scale-table {
  width: 100%;

  td {
    @at-root .type-scale-table tr:not(:last-of-type) td {
      border-bottom: 2px dotted var(--color-gray-2);
    }

    padding: 1rem 0;
    vertical-align: top;

    &:first-of-type {
      width: 80%;
      
      div {
        display: table;
        table-layout: fixed;
        width: 100%;
      }

      p {
        display: table-cell;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        line-height: 1;
      }
    }

    &:last-of-type {
      text-align: right;
    }
  }
}