@mixin headings {
  font-family: var(--tcds-font-headings);
  line-height: var(--tcds-line-height-s);
}

@mixin subheadings {
  font-family: var(--tcds-font-subheadings);
  line-height: var(--tcds-line-height-s);
}

@mixin h1 {
  @include headings;

  font-size: var(--tcds-font-size-2xl);
  font-weight: var(--tcds-font-weight-semibold);
  letter-spacing: -0.05rem;
}

@mixin h2 {
  @include headings;

  font-size: var(--tcds-font-size-xl);
  font-weight: var(--tcds-font-weight-semibold);
  letter-spacing: -0.0125rem;
}

@mixin h3 {
  @include subheadings;

  font-size: var(--tcds-font-size-l);
  font-weight: var(--tcds-font-weight-semibold);
}

@mixin h4 {
  @include subheadings;

  font-size: var(--tcds-font-size-ml);
  font-weight: var(--tcds-font-weight-bold);
}

@mixin h5 {
  @include subheadings;

  font-size: var(--tcds-font-size-m);
  font-weight: var(--tcds-font-weight-bold);
}

@mixin h6 {
  @include subheadings;

  font-size: var(--tcds-font-size-rem);
  font-weight: var(--tcds-font-weight-bold);
}
