@use "mixins" as *;

/**
 * 1. Prevents text size from zooming in on mobile devices when orientation is
 *    switched from portrait to landscape.
 */
html {
  text-size-adjust: 100%; // 1
}

/**
 * 1. Disables oldstyle figures in Calluna. If Calluna is not used (nor any
 *    other font that uses oldstyle figures), can remove.
 * 2. Browsers in macOS still use subpixel antialiasing, but almost no other
 *    modern device does. We're not "fixing" font smoothing here, we're just
 *    aligning macOS browsers with the norm. We'll still keep it on for users
 *    with a high contrast preference set.
 */
body {
  color: var(--tcds-color-text);
  font-family: var(--tcds-font-copy);
  font-size: var(--tcds-font-size-m);
  font-variant-numeric: lining-nums; // 1
  overflow-wrap: break-word;

  @media (prefers-contrast: no-preference), (prefers-contrast: less) {
    -webkit-font-smoothing: antialiased; // 2
    -moz-osx-font-smoothing: grayscale; // 2
  }
}

:where(h1) {
  @include h1;
}

:where(h2) {
  @include h2;
}

:where(h3) {
  @include h3;
}

:where(h4) {
  @include h4;
}

:where(h5) {
  @include h5;
}

:where(h6) {
  @include h6;
}

:is(h1, h2, h3, h4, h5, h6) {
  :where(&:first-child:not(:only-child)) {
    margin: 0 0 1.5rem;
  }

  :where(&:not(:first-child)) {
    margin: 1.5rem 0;
  }
}

:where(:not(h1, hr) + h2),
:where(:not(h2, hr) + h3),
:where(:not(h3, hr) + h4) {
  margin-top: 3rem;
}

:where(
  small,
  sub,
  sup
) {
  font-size: max(var(--tcds-font-size-xs), 85%);
}

a {
  :where(&) {
    color: var(--tcds-color-link);
    text-decoration: underline;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  }

  :where(&:hover) {
    text-decoration: none;
  }
}

p {
  :where(&:not(:first-child)) {
    margin-top: 1.5em;
  }

  :where(&:not(:last-child)) {
    margin-bottom: 1.5em;
  }
}

:where(p, li) {
  line-height: var(--tcds-line-height, var(--tcds-line-height-m));
}

ul,
ol {
  :where(&) {
    margin: 0 0 0 calc(1em + 3px);
  }

  :where(:not(li) > :is(&):not(:last-child)) {
    margin-bottom: 1rem;
  }
}

ol {
  :where(& &) {
    list-style: lower-alpha;
  }

  :where(& & &) {
    list-style: lower-roman;
  }
}