@use "sass:list";
@use "sass:map";
@use "mixins" as *;
@use "typography.json";
@use "../../01-layout/layout.json";

@each $font, $stack in map.merge(typography.$font-stacks, typography.$aliases) {
  .font-#{$font} {
    font-family: var(--tcds-font-#{$font}) !important;
  }
}

@each $weight, $value in typography.$font-weights {
  .font-weight-#{$weight} {
    font-weight: var(--tcds-font-weight-#{$weight}) !important;
  }
}

@each $height, $value in typography.$line-heights {
  .line-height-#{$height} {
    --tcds-line-height: var(--tcds-line-height-#{$height});
    line-height: var(--tcds-line-height) !important;
  }
}

@each $size, $value in typography.$font-sizes {
  .font-size-#{$size} {
    font-size: var(--tcds-font-size-#{$size}) !important;

    @if list.index(("4xl", "3xl", "2xl", "xl", "l"), $size) {
      line-height: var(--tcds-line-height-s);
    }

    @if list.index(("ml", "m", "s", "xs"), $size) {
      line-height: var(--tcds-line-height-m);
    }
  }
}

.text-center {
  text-align: center !important;
}

@each $breakpoint, $value in layout.$breakpoints {
  @media (--above-#{$breakpoint}) {
    .text-center\@above\:#{$breakpoint} {
      text-align: center !important;
    }
  }

  @media (--below-#{$breakpoint}) {
    .text-center\@below\:#{$breakpoint} {
      text-align: center !important;
    }
  }
}

.font-variant-tabular-nums {
  font-variant-numeric: lining-nums tabular-nums !important;
}

.h1 {
  @include h1;
}

.h2 {
  @include h2;
}

.h3 {
  @include h3;
}

.h4 {
  @include h4;
}

.h5 {
  @include h5;
}

.h6 {
  @include h6;
}

.list {
  &--comma-separated {
    display: flex;

    li {
      &::after {
        content: ", ";
      }
    }
  }
}
