/**
 * Typography design tokens. Each token and its value is stored in a map. Note
 * that each map has a corresponding getter function (see _functions.scss) for
 * easier access. For example, rather than `map.get($font-stacks, "default")`,
 * you can simply use `font-stack("default")`.
 */

/**
 * Semantic font stacks. These are first stored as configuration variables for
 * easier overriding on import (downstream use).
 *
 * See: font-stack()
 */
$theme-font-default: ("Inter", system-ui, sans-serif) !default;
$theme-font-headings: ("Metropolis", "Inter", system-ui, sans-serif) !default;
$theme-font-copy: $theme-font-default !default;
$theme-font-ui: $theme-font-default !default;

$font-stacks: (
  "default": $theme-font-default,
  "headings": $theme-font-headings,
  "copy": $theme-font-copy,
  "ui": $theme-font-ui,
);

/**
 * Semantic font sizes, on a scale of x-small to xx-large. In addition to a
 * getter function, there is also a mixin for generating responsive font sizes
 * based on the static values here (as well as automatically providing the
 * appropriate line-height).
 *
 * See: font-size()
 */

$theme-font-size-x-small: 0.75rem !default;
$theme-font-size-small: 0.875rem !default;
$theme-font-size-medium: 1rem !default;
$theme-font-size-medium-plus: 1.25rem !default;
$theme-font-size-large: 1.5rem !default;
$theme-font-size-x-large: 2rem !default;
$theme-font-size-xx-large: 2.5rem !default;

$font-sizes: (
  "x-small": $theme-font-size-x-small,
  "small": $theme-font-size-small,
  "medium": $theme-font-size-medium,
  "medium-plus": $theme-font-size-medium-plus,
  "large": $theme-font-size-large,
  "x-large": $theme-font-size-x-large,
  "xx-large": $theme-font-size-xx-large,
);

/**
 * Font weights. These are stored as tokens in the event of a typeface change,
 * since exact numeric values depend on the type. For example, semibold can mean
 * 500 or 600 depending on the font.
 *
 * See: font-weight()
 */

$theme-font-weight-light: 300 !default;
$theme-font-weight-normal: 400 !default;
$theme-font-weight-semibold: 600 !default;
$theme-font-weight-bold: 700 !default;

$font-weights: (
  "light": $theme-font-weight-light,
  "normal": $theme-font-weight-normal,
  "semibold": $theme-font-weight-semibold,
  "bold": $theme-font-weight-bold,
);

/**
 * Semantic line heights, on a scale of x-tight to x-loose. Generally, larger
 * text should have a tighter line height, medium text should have a looser line
 * height, and smaller text should have a medium line height.
 *
 * See: line-height()
 */

$theme-line-height-x-tight: 1 !default;
$theme-line-height-tight: 1.25 !default;
$theme-line-height-normal: 1.5 !default;
$theme-line-height-loose: 1.75 !default;
$theme-line-height-x-loose: 2 !default;

$line-heights: (
  "x-tight": $theme-line-height-x-tight,
  "tight": $theme-line-height-tight,
  "normal": $theme-line-height-normal,
  "loose": $theme-line-height-loose,
  "x-loose": $theme-line-height-x-loose,
);
