@use "../../../scss/abstracts/mixins" as *;

@layer tcds-components {
  .tcds-article-card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: var(--tcds-color-theme-text-primary);
    position: relative;
    max-width: 310px;

    &:hover {
      --tcds-article-card-image-scale: 1.05;
    }

    &:not(.tcds-article-card--video):hover {
      --tcds-article-card-cta-icon-translate: 30%;
    }

    &__image {
      margin: 0;
      aspect-ratio: 310 / 155;
      border-radius: var(--tcds-border-radius-md);
      overflow: hidden;

      img {
        border-radius: 0;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        transform: scale(var(--tcds-article-card-image-scale, 1));
        transition: transform 500ms var(--tcds-motion-easing-enter);
      }
    }

    &__title {
      @include text("ui", "md");

      margin: .5rem 0 0;
    }

    &__description {
      margin: 0;
      font-size: var(--tcds-font-size-md);
      font-weight: var(--tcds-font-weight-body);
      line-height: var(--tcds-line-height-normal);

      small {
        display: block;
        color: var(--tcds-color-theme-text-secondary);
      }
    }

    &__cta {
      @include text("ui", "md");

      display: flex;
      gap: .5rem;
      text-decoration: none;
      color: var(--tcds-color-theme-accent);

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
      }

      tcds-icon:not(.tcds-button) {
        font-size: .8rem;
        transform: translateX(var(--tcds-article-card-cta-icon-translate, 0%));
        transition: transform 500ms var(--tcds-motion-easing-enter);
      }
    }
  }
}
