// $-host: "https://www.texaschildrens.org/sites/default/files/fonts/mont" !default;
$-host: "../fonts/mont";

@font-face {
  font-family: "Mont";
  src: url("#{$-host}/Mont-Bold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("#{$-host}/Mont-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("#{$-host}/Mont-Regular.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}
