@font-face {
  font-family: mont;
  src: url("../fonts/mont/mont-400.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: mont;
  src: url("../fonts/mont/mont-600.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: mont;
  src: url("../fonts/mont/mont-700.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
