/**
 * Pulls in everything in the desired order (first @font-face declarations, then
 * CSS custom properties, then global element default styles, then utility
 * classes).
 *
 * Primarily, this is used by `src/bundle.scss` in order to generate a complete
 * `dist/bundle.css`. But this is also the standard Sass entrypoint for
 * packages/foundation so that downstream users can get all public members
 * (mixins, functions, etc.)
 */

@forward "../build/output/config";

// Forward members.
@forward "motion/functions";

// Include @font-face declarations first.
@forward "typography/mont";
@forward "typography/calluna";

@forward "props";
@forward "elements";
// Utilities must be imported after elements so that they take precedence.
@forward "utilities";
