/**
 * This compiles only CSS custom properties ("props") so that they can be
 * imported in bulk separately (namely by `_index.scss`) when the main bundle is
 * generated.
 *
 * This also generates a `dist/props.css` bundle.
 */

@forward "typography/fonts";

@forward "@txch/identity/dist/css/tokens.css";

@forward "color/props";
@forward "icons/props";
@forward "layout/props";
@forward "typography/props";
