/**
 * This is a stub file to generate an "elements" bundle from
 * `src/elements/_index.scss` to `dist/elements.css`. It also includes all
 * props, as element styles are dependent on them.
 */

@use "elements/" as *;
