tcds-accordion {
  --tcds-accordion-border-color: var(--tcds-color-gray);

  &:not(:first-child) {
    margin-top: 1.5rem;
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  tcds-accordion-section & {
    --tcds-accordion-section-heading-position: relative;

    padding-left: 1.5rem;
    position: relative;
    z-index: 1;
  }
}
