tcds-card {
  display: block;
  position: relative;

  &::after {
    content: " ";
    display: table;
    clear: both;
  }

  [slot="image"] {
    float: left;
    margin-right: 1rem;
    width: 220px;
  }
}
