@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

/**
 * `text` style utilities.
 *
 * Text styles are bundles of font family, weight, size, and line height choices
 * that correspond to semantic roles (display, headings, body copy, UI, etc.)
 */

@each $style, $levels in tokens("text") {
  @each $level, $value in $levels {
    .text-#{$style}-#{$level} {
      @include text($style, $level, $flag: "!important");
    }
  }
}

/**
 * `font-family` utilities are strictly to override or complete `.text-`
 * utilities. Some text styles don't specify a family (like `text.heading`
 * tokens), while others do but in some cases may need to be overriden.
 *
 * `font.family` tokens contain semantic, role-based options which also map to
 * `font.weight` tokens. As such, the family and weight styles are bundled for
 * these utilities. (These role names also map to `text` style tokens.)
 *
 * Also included, however, are non-semantic utilities derived from the
 * `font.stack` token set, which should be used as a last resort where there is
 * no applicable semantic role to choose from.
 */

@each $role, $value in tokens("font", "family") {
  .font-family-#{$role} {
    font-family: var(--tcds-font-family-#{$role}) !important;
    font-weight: var(--tcds-font-weight-#{$role});
  }
}

@each $stack, $value in tokens("font", "stack") {
  .font-family-#{$stack} {
    font-family: var(--tcds-font-stack-#{$stack}) !important;
  }
}

/**
 * `text-align` utilities with breakpoint prefix support.
 */

@include responsive-utils() using ($breakpoint) {
  .#{$breakpoint}text-align-center {
    text-align: center !important;
  }

  // For center on mobile → back to default (left) on desktop scenarios.
  .#{$breakpoint}text-align-left,
  .#{$breakpoint}text-align-inline-start {
    text-align: inline-start !important;
  }
}

/**
 * Tabular nums are useful for displaying data as they have a similar effect as
 * monospaced fonts.
 */
.font-variant-tabular-nums {
  font-variant-numeric: lining-nums tabular-nums !important;
}

.white-space-nowrap {
  white-space: nowrap;
}
