@use "sass:list";
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;
@use "../theming/abstracts/mixins/headings" as *;
@use "../theming/abstracts/mixins/links" as *;

@each $stack, $value in tokens("font", "stack") {
  .font-family-#{$stack} {
    font-family: var(--tcds-font-stack-#{$stack}) !important;
  }
}

@each $family, $value in tokens("font", "family") {
  .font-family-#{$family} {
    font-family: var(--tcds-font-family-#{$family}) !important;
  }
}

@each $weight, $value in tokens("font", "weight") {
  .font-weight-#{$weight} {
    font-weight: var(--tcds-font-weight-#{$weight}) !important;
  }
}

/**
 * Font size, line height, and text alignment are likely needed to be changed
 * responsively, so we'll enable breakpoint prefixes for each utility here.
 */

@include responsive-utils() using ($breakpoint) {
  @each $size, $value in tokens("font", "size") {
    .#{$breakpoint}text-#{$size} {
      @include text($size, "!important");
    }
  }

  .#{$breakpoint}text-center {
    text-align: center !important;
  }

  // For center on mobile → back to default (left) on desktop scenarios.
  .#{$breakpoint}text-left,
  .#{$breakpoint}text-inline-start {
    text-align: inline-start !important;
  }
}

/**
 * Tabular nums are useful for displaying data as they have a similar effect as
 * monospaced fonts.
 */

.font-variant-tabular-nums {
  font-variant-numeric: lining-nums tabular-nums !important;
}

/**
 * Heading utilities.
 *
 * Useful for managing visual hierarchy while preserving the appropriate
 * semantic meaning and document outline.
 */

@for $level from 1 through 6 {
  .h#{$level} {
    @include heading("h#{$level}", "!important");
    margin: 1rem 0;
  }
}

/**
 * Link utilities.
 */

.link--ui {
  @include link-ui("!important");
}
