<header class="site-header">
  <div class="site-header__logo-fill"></div>
  <div class="site-header__logo">
    <a href="{{ logo.link ?: "/" }}" rel="home" title="Go home">
      {% set logo_height = "41" %}
      {% set logo_width = "310" %}

      {% if logo.image and "nri" in logo.image|lower %}
        {% set logo_height = "48" %}
        {% set logo_width = "225" %}
      {% endif %}

      <img height="{{ logo.height ?: logo_height }}" width="{{ logo.width ?: logo_width }}" src="{{ logo.image ?: "https://unpkg.com/@txch/tcds/dist/images/logos/TC_Horz_CMYK_2K22.svg" }}" alt="Texas Children's logo">
    </a>
  </div>

  <button is="tcds-ui-button" aria-controls="site-header-navs" aria-expanded="false" variant="ui" size="large" class="site-header__navs-open" aria-label="Open menu" title="Open menu"><tcds-icon icon="hamburger"></tcds-icon></button>

  <div class="site-header__navs" id="site-header-navs">
    <button is="tcds-ui-button" aria-controls="site-header-navs" aria-expanded="false" variant="ui" class="site-header__navs-close" aria-label="Open menu" title="Open menu"><tcds-icon icon="x"></tcds-icon></button>

    {% block menus %}{% endblock %}
  </div>
</header>
