<header class="site-header">
  <div class="site-header__logo-fill"></div>
  <div class="site-header__logo">
    <a href="{{ logo.link ?: "/" }}" rel="home" title="Go home">
      <img height="{{ logo.height ?: "41" }}" width="{{ logo.width ?: "310" }}" src="{{ logo.image ?: "https://unpkg.com/@txch/tcds/dist/images/logos/texas-childrens/TC_Horz_CMYK_2K22.svg" }}" alt="Texas Children's logo">
    </a>
  </div>

  <tcds-button controls="site-header-navs" expanded="false" icon="only hamburger" variant="ui" size="large" class="site-header__navs-open">Open menu</tcds-button>
  
  <div class="site-header__navs" id="site-header-navs">
    <tcds-button controls="site-header-navs" expanded="false" icon="only x" variant="ui" class="site-header__navs-close">Close menu</tcds-button>
    
    {% block menus %}{% endblock %}
  </div>
</header>
