/**
 * Modular ratio-based font size generation. See:
 * https://moderncss.dev/generating-font-size-css-rules-and-creating-a-fluid-type-scale/
 */

// Convert px to rem
$type-base-size: 1rem;
$type-level-size: $type-base-size;
// Major third. See: https://type-scale.com/
$type-size-ratio: 1.25;
$type-levels: 1, 2, 3, 4;

$font-sizes: (
  "min": $type-base-size * .8,
  "small": $type-base-size * .9,
  "medium": $type-base-size,
);

@each $level in $type-levels {
  $type-level-size: $type-level-size * $type-size-ratio;

  $font-sizes: map-merge($font-sizes, (
    "large-#{$level}": $type-level-size,
  ));
}

$font-stacks: (
  "sans-serif": (Roboto, system-ui, sans-serif),
  "slab": (Roboto Slab, serif),
);