<div class="Tabs
  {% for modifier in modifiers %}
    Tabs--{{ modifier }}
  {% endfor %}
  {% for class in custom_classes %}
    {{ class }}
  {% endfor %}"
  {% for custom_property, custom_value in custom_attributes %}
    {{ custom_property }}="{{ custom_value }}"
  {% endfor %}
>
  {% block content %}{% endblock %}
</div>
