@use "sass:list";
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;
@use "abstracts/mixins" as *;

@each $family, $value in tokens("font", "family") {
  .font-family-#{$family} {
    font-family: var(--tcds-font-family-#{$family}) !important;
  }
}

@each $weight, $value in tokens("font", "weight") {
  .font-weight-#{$weight} {
    font-weight: var(--tcds-font-weight-#{$weight}) !important;
  }
}

/**
 * Font size, line height, and text alignment are likely needed to be changed
 * responsively, so we'll enable breakpoint prefixes for each utility here.
 */

@include responsive-utils() using ($breakpoint) {
  @each $size, $value in tokens("font", "size") {
    .#{$breakpoint}font-size-#{$size} {
      font-size: var(--tcds-font-size-#{$size}) !important;

      // These shouldn't get `!important` because they're implicit and only
      // intended as reasonable defaults.
      @if list.index(("4xl", "3xl", "2xl", "xl", "lg"), $size) {
        line-height: var(--tcds-line-height-sm);
      }

      @if list.index(("ml", "md", "sm", "xs"), $size) {
        line-height: var(--tcds-line-height-md);
      }
    }
  }

  @each $line-height, $value in tokens("line-height") {
    .#{$breakpoint}line-height-#{$line-height} {
      line-height: var(--tcds-line-height-#{$line-height}) !important;
    }
  }

  .#{$breakpoint}text-center {
    text-align: center !important;
  }

  // For center on mobile -> back to default (left) on desktop scenarios.
  .#{$breakpoint}text-left,
  .#{$breakpoint}text-start {
    text-align: start !important;
  }
}

/**
 * Tabular nums are useful for displaying data as they have a similar effect as
 * monospaced fonts.
 */

.font-variant-tabular-nums {
  font-variant-numeric: lining-nums tabular-nums !important;
}

/**
 * Heading utilities.
 *
 * Useful for managing visual hierarchy while preserving the appropriate
 * semantic meaning and document outline.
 */

.h1 {
  @include h1("!important");
}

.h2 {
  @include h2("!important");
}

.h3 {
  @include h3("!important");
}

.h4 {
  @include h4("!important");
}

.h5 {
  @include h5("!important");
}

.h6 {
  @include h6("!important");
}
