/* stylelint-disable scss/operator-no-unspaced */

:host {
  --tcds-color-text: var(--tcds-color-secondary);
  --tcds-card-text-color: var(--tcds-color-text);
  --tcds-card-content-padding: var(--tcds-space-x-loose);
  --tcds-card-title-font: var(--tcds-font-serif);
  --tcds-card-description-font: var(--tcds-font-serif);

  display: block;
  flex: 1 0;
  width: 100%;
  height: 100%;
  color: var(--tcds-card-text-color);
}

:host([size*="small"]) {
  --tcds-card-image-width: minmax(auto, 220px);
  --tcds-card-content-padding: var(--tcds-space-loose);
  --tcds-card-title-font-size: var(--tcds-font-size-medium-plus);
  --tcds-card-description-font-size: var(--tcds-font-size-small);
}

:host([size*="large"]) {
  --tcds-card-title-font-size: var(--tcds-font-size-x-large);
  --tcds-card-description-font-size: var(--tcds-font-size-medium-plus);
}

:host([variant*="ui"]) {
  --tcds-card-title-font: var(--tcds-font-ui);
  --tcds-card-description-font: var(--tcds-font-ui);
}

:host([variant*="overlay"]) {
  --tcds-card-text-color: #fff;
  --tcds-card-title-color: #fff;
  --tcds-card-overline-color: #fff;
  --tcds-card-link-color: #fff;
}

:host([image*="contain"]) {
  --tcds-card-image-fit: contain;
}

:host([image*="half"]) {
  --tcds-card-image-width: 3fr;
}

article {
  display: grid;
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0.625rem 0 var(--tcds-color-shade-x-weak);
  border-radius: 10px;
  overflow: hidden;

  @nest :host([data-no-image]) & {
    grid-template-areas: "content";
  }

  @nest :host(:not([orientation="horizontal"], [data-no-image])) & {
    grid-template-areas:
      "image"
      "content";
    grid-template-rows: auto 1fr;
  }

  @nest :host([variant*="overlay"]:not([data-no-image])) & {
    grid-template-rows: minmax(200px, 1fr) auto;
  }

  @nest :host([orientation="horizontal"]:not([data-no-image])) & {
    grid-template-columns: var(--tcds-card-image-width, minmax(220px, 1fr)) 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "image content";
  }
}

figure {
  grid-area: image;
  overflow: hidden;
  position: relative;

  @nest :host([variant*="overlay"]:not([data-no-image])) & {
    display: contents;
  }
}

::slotted(img) {
  display: block;
  width: 100%;
  height: 100% !important;
  object-fit: var(--tcds-card-image-fit, cover);
  object-position: center;
  transition: transform var(--tcds-animation-expressive-duration) var(--tcds-animation-expressive-easing);

  @nest :host(:not([variant*="overlay"]):hover) & {
    transform: scale(1.05);
  }

  @nest :host([variant*="overlay"]:not([data-no-image])) & {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }
}

[part="content"] {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--tcds-space-tight);
  color: var(--tcds-color-gray);
  padding:
    var(--tcds-card-content-padding-block, var(--tcds-card-content-padding))
    var(--tcds-card-content-padding-inline, var(--tcds-card-content-padding));

  @nest :host([variant*="overlay"]:not([data-no-image])) & {
    grid-row: 2 / 3;
    background-color: rgb(18 40 64 / 80%);
  }
}
