@mixin max-width {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - (var(--site-outer-gutter) * 2));
  max-width: var(--site-container-max-width);
}

@mixin full-bleed($element: "") {
  margin-left: calc(var(--content-inner-gutter, var(--site-outer-gutter)) * -1) !important;

  @if $element == "img" {
    width: calc(100% + (var(--content-inner-gutter, var(--site-outer-gutter)) * 2)) !important;
    max-width: calc(100% + (var(--content-inner-gutter, var(--site-outer-gutter)) * 2)) !important;
  } @else {
    margin-right: calc(var(--content-inner-gutter, var(--site-outer-gutter)) * -1) !important;
    padding-left: var(--content-inner-gutter, var(--site-outer-gutter)) !important;
    padding-right: var(--content-inner-gutter, var(--site-outer-gutter)) !important;
  }
}
