@use "sass:map";
@use "_variables" as *;

@each $breakpoint, $width in $breakpoints {
  /* stylelint-disable-next-line custom-media-pattern */
  @custom-media --above-#{$breakpoint} (min-width: #{$width});
  /* stylelint-disable-next-line custom-media-pattern */
  @custom-media --below-#{$breakpoint} (max-width: #{$width});
}

:root {
  --site-outer-gutter: var(--tcds-space-normal);
  --site-container-max-width: #{map.get($breakpoints, "x-large")};
  --content-inner-gutter: 1.5rem;

  @each $size, $value in $sizes {
    --tcds-size-#{$size}: #{$value};
  }

  @each $space, $value in $spaces {
    --tcds-space-#{$space}: #{$value};
  }

  --tcds-layer-dialog: 7;
  --tcds-layer-mega-menu: 6;
  --tcds-layer-site-header: 5;
  --tcds-layer-alert-bar: 4;
  --tcds-layer-notification: 3;

  @media (--above-medium) {
    --content-inner-gutter: 4rem;
    --site-outer-gutter: var(--tcds-space-loose);
  }

  @media (--above-x-large) {
    --tcds-layer-alert-bar: 5;
    --tcds-layer-site-header: 4;
    --tcds-outer-gutter: var(--tcds-space-x-loose);
  }
}
