<tcds-global-header>
  <a slot="logo" href="/" rel="home" title="Go home">
    <img src="tcds/dist/logos/tc-horizontal.svg" alt="Texas Children's" width="386" height="90">
  </a>

  <details slot="menu-toggle" name="menu-toggle" open>
    <summary>
      <span class="visually-hidden">Toggle main menu</span>
    </summary>

    <div>
      <nav id="primary-menu">
        <ul>
          <li>
            <details name="primary-menu">
              <summary>Our system</summary>
              <div>
                <p>Our system content</p>
              </div>
            </details>
          </li>

          <li>
            <details name="primary-menu">
              <summary>Patients &amp; families</summary>
              <div>
                <p>Patients &amp; families content</p>
              </div>
            </details>
          </li>

          <li>
            <details name="primary-menu">
              <summary>Health professionals</summary>
              <div>
                <p>Health professionals content</p>
              </div>
            </details>
          </li>

          <li>
            <details name="primary-menu">
              <summary>Researchers</summary>
              <div>
                <p>Researchers content</p>
              </div>
            </details>
          </li>
        </ul>
      </nav>

      <nav id="utility-menu">
        <ul>
          <li>
            <a href="#">
              <tcds-icon icon="mychart"></tcds-icon>
              MyChart
            </a>
          </li>

          <li>
            <a href="#">Find a location</a>
          </li>

          <li>
            <a href="#">Refer a patient</a>
          </li>

          <li>
            <a href="#">Price transparency</a>
          </li>

          <li>
            <a href="#">Find a location</a>
          </li>

          <li>
            <a href="#" data-highlighted>Donate</a>
          </li>
        </ul>
      </nav>
    </div>
  </details>

  <details slot="search-toggle" name="primary-menu">
    <summary>
      <span class="visually-hidden">Toggle search menu</span>
    </summary>
    <div>
      <p>Search content</p>
    </div>
  </details>
</tcds-global-header>