@supports not selector(:popover-open) {
  [popover]:not([open]) {
    display: none;
  }
}

[part=search-toggle],
[part=main-toggle] {
  appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;

  @media (max-width: 1280px) {
    grid-row: 1 / -1;
    margin-left: auto;
  }
}

[part=search-toggle] {
  @media (min-width: 1280px) {
    grid-area: search;
    margin-right: 2rem;
  }

  @media (max-width: 1280px) {
    margin-right: 1rem;
  }
}

[part=main-toggle] {
  @media (min-width: 1280px) {
    display: none;
  }

  @media (max-width: 1280px) {
    margin-right: 2rem;
  }
}

[part=global-menus] {
  @media (min-width: 1280px) {
    display: contents;
  }
}

[part=main-close] {
  @media (min-width: 1280px) {
    display: none;
  }
}