:host([open]) {
  --tcds-global-header-overlay-display: block;

  background-color: var(--tcds-color-white);

  @media (max-width: 1280px) {
    position: sticky;
    top: 0;
  }
}

:host([scrolled]) {
  --tcds-global-header-logo-background: none;
  --tcds-global-header-logo-filter: none;

  background-color: var(--tcds-color-white);
  box-shadow: var(--tcds-box-shadow-m) var(--tcds-box-shadow-shade-weak);
  position: sticky;
  top: 0;
  animation: tcds-global-header-slide-down 250ms var(--tcds-animation-productive-easing);

  @media (min-width: 1280px) {
    grid-template-rows: 0fr 1fr;

    [slot="utility-menu"] {
      display: none;
    }
  }

  @keyframes tcds-global-header-slide-down {
    from {
      transform: translateY(-100%);
    }
  }
}