.tcds-section {
  --tcds-section-padding-top: 3rem;
  --tcds-section-padding-bottom: 3rem;
  
  --_tcds-section-padding-top: var(--tcds-section-padding-top);
  --_tcds-section-padding-bottom: var(--tcds-section-padding-bottom);
  --_tcds-section-padding-x: max(var(--tcds-site-outer-gutter), (100% / 2) - (var(--tcds-site-container-max-width) / 2));

  overflow-x: hidden;
  padding-top: var(--_tcds-section-padding-top);
  padding-bottom: var(--_tcds-section-padding-bottom);
  padding-left: var(--_tcds-section-padding-x);
  padding-right: var(--_tcds-section-padding-x);
  position: relative;
  z-index: 1;

  &--raised {
    --_tcds-section-padding-top: calc(var(--tcds-section-padding-top) + var(--tcds-site-header-height));

    margin-top: calc(var(--tcds-site-header-height) * -1);
  }

  &--masthead {
    background-color: var(--tcds-color-secondary-background);
    color: var(--tcds-color-secondary-text);

    a {
      color: var(--tcds-color-secondary-link);
    }

    h1 {
      line-height: 1;

      small {
        display: block;
        font-family: var(--tcds-font-subheadings);
        font-size: var(--tcds-font-size-xs);
        font-weight: var(--tcds-font-weight-semibold);
        letter-spacing: .1px;
      }
    }
  }

  &--masthead,
  &--logomark {
    &::before {
      content: "";
      background: var(--tcds-color-watermark);
      width: max(100%, var(--tcds-macro-xl));
      height: 100%;
      position: absolute;
      top: 0;
      right: -25%;
      z-index: -1;
      mask: var(--tcds-icon-brand-texas-childrens) 50% 37% no-repeat;
      mask-size: cover;
      opacity: .2;

      @media (--below-m) {
        left: 0;
      }
    }
  }

  p, li {
    font-size: var(--tcds-font-size-ml);
    line-height: var(--tcds-line-height-m);
  }
}
