.tcds-section {
  --tcds-section-padding-block: 3rem;
  --tcds-section-padding-block-start: var(--tcds-section-padding-block);
  --tcds-section-padding-block-end: var(--tcds-section-padding-block);
  --tcds-section-padding-inline: max(var(--tcds-site-outer-gutter), (100% / 2) - (var(--tcds-site-container-max-width) / 2));

  --_tcds-section-padding-block-start: var(--tcds-section-padding-block-start);
  --_tcds-section-padding-block-end: var(--tcds-section-padding-block-end);
  --_tcds-section-padding-inline: var(--tcds-section-padding-inline);

  overflow-x: clip;
  padding-block-start: var(--_tcds-section-padding-block-start);
  padding-block-end: var(--_tcds-section-padding-block-end);
  padding-inline-start: var(--_tcds-section-padding-inline);
  padding-inline-end: var(--_tcds-section-padding-inline);
  position: relative;
  z-index: 1;

  &--raised {
    --_tcds-section-padding-block-start: calc(var(--tcds-section-padding-block-start) + var(--tcds-site-header-height));

    margin-block-start: calc(var(--tcds-site-header-height) * -1);
  }

  &--masthead {
    h1 {
      line-height: 1;
      border-left: 6px solid var(--tcds-color-primary);
      padding-left: 1.5rem;

      small {
        display: block;
        font-family: var(--tcds-font-subheadings);
        font-size: var(--tcds-font-size-xs);
        font-weight: var(--tcds-font-weight-semibold);
        letter-spacing: .1px;
      }
    }
  }

  &--bottom-gradient {
    --tcds-section-padding-inline: 0;

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 10vw;
      background-image: linear-gradient(90deg, rgb(0 0 0 / 0%), var(--tcds-color-background, rgb(0 0 0 / 0%)));
    }
  }

  :where(p, li) {
    font-size: var(--tcds-font-size-ml);
    line-height: var(--tcds-line-height-m);
  }
}
