@use "functions" as *;
@use "icons.json";

:root {
  @each $category, $library in icons.$library {
    @each $name, $svg in $library {
      --tcds-icon-#{$category}-#{$name}: #{svg($svg)};
    }
  }
}
