tcds-fn-ref {
  margin-right: 1em;

  &:hover {
    background: var(--tcds-color-baby-blue);
  }

  &:target {
    box-shadow: inset 0 -3px 0 var(--tcds-color-baby-blue-2);
  }

  &::part(super) {
    white-space: nowrap;
  }

  &::part(anchor) {
    display: inline-block;
    padding: 1em 1em 1em 1.25em;
    margin: -1em -2em -1em -1em;
    line-height: 1;
    font-family: var(--tcds-font-ui);
    font-weight: var(--tcds-font-weight-semibold);
    text-decoration-style: dotted;
    text-underline-offset: .25em;
  }
}

tcds-fn-list {
  display: block;
  font-size: var(--tcds-font-size-s);
  font-family: var(--tcds-font-ui);
  border-top: 1px solid var(--tcds-color-gray);
  padding-top: 1rem;
  margin-top: 2.5rem;

  :target {
    background: var(--tcds-color-baby-blue);
  }

  [aria-roledescription="backlink"] {
    text-decoration-style: dotted;
    font-weight: var(--tcds-font-weight-semibold);
  }
}
