@use "../../00-brand/animation/functions" as *;

button[is="tcds-ui-button"],
a[is="tcds-link-button"] {
  :where(&) {
    --tcds-button-height: var(--tcds-micro-m);
    --tcds-button-inline-padding: var(--tcds-micro-s);
    --tcds-icon-size: .85em;

    --tcds-button-primary-background-color: var(--tcds-color-primary);
    --tcds-button-primary-text-color: var(--tcds-color-white);
    --tcds-button-secondary-background-color: transparent;
    --tcds-button-secondary-text-color: var(--tcds-color-secondary);

    appearance: none;
    cursor: pointer;
    user-select: none;

    position: relative;
    z-index: 1;

    display: inline-flex;
    gap: 1ch;
    align-items: center;
    justify-content: center;
    justify-self: start;
    text-align: center;
    vertical-align: middle;

    height: var(--tcds-button-height);
    width: var(--tcds-button-width, auto);
    line-height: 1;
    margin: 0;
    padding: 0 var(--tcds-button-inline-padding);

    background-color: var(--tcds-button-background-color);
    color: var(--tcds-button-text-color);
    border: 0;
    border-radius: var(--tcds-button-height);
    box-shadow: var(--tcds-button-box-shadow, none);

    font-family: var(--tcds-font-ui);
    font-size: var(--tcds-font-size-rem);
    font-weight: var(--tcds-button-font-weight, var(--tcds-font-weight-bold));
    text-decoration: none;

    transition:
      background-color animation("productive"),
      color animation("productive"),
      box-shadow animation("productive");
  }

  :where(:is(&)[size*="large"]) {
    --tcds-button-height: var(--tcds-micro-l);
    --tcds-button-inline-padding: var(--tcds-micro-m);

    font-size: var(--tcds-font-size-m);
  }

  :where(:is(&)[size*="small"]) {
    --tcds-button-height: var(--tcds-micro-sm);
    --tcds-button-inline-padding: var(--tcds-micro-xs);

    font-size: var(--tcds-font-size-s);
  }

  :where(:is(&):not([variant*="secondary"])) {
    --tcds-button-background-color: var(--tcds-button-primary-background-color);
    --tcds-button-text-color: var(--tcds-button-primary-text-color);
  }

  :where(:is(&)[variant*="secondary"]) {
    --tcds-button-background-color: var(--tcds-button-secondary-background-color);
    --tcds-button-font-weight: var(--tcds-font-weight-semibold);
    --tcds-button-text-color: var(--tcds-button-secondary-text-color);
    --tcds-button-secondary-icon-background-color: transparent;
    --tcds-button-secondary-icon-color: var(--tcds-color-primary);
    --tcds-button-secondary-icon-size: .6em;
    --tcds-button-secondary-icon-space: 1.2em;
    --tcds-button-inline-padding: 0;
    --tcds-button-outline-offset: .5em;

    height: auto;

    &::before {
      content: " ";
      display: block;
      width: var(--tcds-button-secondary-icon-size);
      height: var(--tcds-button-secondary-icon-size);
      mask: var(--tcds-icon-utility-caret-right) center no-repeat;
      background-color: var(--tcds-button-secondary-icon-color);
      position: absolute;
      right: calc((var(--tcds-button-secondary-icon-space) - var(--tcds-button-secondary-icon-size)) / 2);
      transition: background-color animation("productive");
    }

    &::after {
      content: "";
      background-color: var(--tcds-button-secondary-icon-background-color);
      outline: 1.5px solid var(--tcds-button-secondary-icon-outline-color);
      width: var(--tcds-button-secondary-icon-space);
      height: var(--tcds-button-secondary-icon-space);
      border-radius: var(--tcds-button-secondary-icon-space);
      transition:
        background-color animation("productive"),
        outline-color animation("productive");
    }
  }

  :where(:is(&):hover) {
    --tcds-button-primary-background-color: var(--tcds-color-primary-2);
    --tcds-button-secondary-text-color: var(--tcds-color-primary);
    --tcds-button-secondary-icon-background-color: var(--tcds-color-primary);
    --tcds-button-secondary-icon-color: var(--tcds-color-white);
  }

  :where(:is(&):not([variant*="secondary"]):hover) {
    --tcds-button-box-shadow: 0.125rem 0 0.625rem 0 var(--tcds-shade-weak);
  }

  :where(:is(&):active) {
    --tcds-button-primary-background-color: var(--tcds-color-primary-3);
    --tcds-button-secondary-text-color: var(--tcds-color-primary-3);
    --tcds-button-secondary-icon-background-color: transparent;
    --tcds-button-secondary-icon-color: var(--tcds-color-primary);
    --tcds-button-secondary-icon-outline-color: var(--tcds-color-primary);
  }

  :where(:is(&):focus-visible) {
    outline: var(--tcds-button-outline, 2px solid var(--tcds-color-baby-blue));
    outline-offset: var(--tcds-button-outline-offset, -1px);
  }

  [data-theme="dark"] :is(&):not(
    [data-theme="light"],
    [data-theme="light"] *
  ),
  :is(&)[data-theme="dark"] {
    :where(&) {
      --tcds-button-primary-background-color: var(--tcds-color-white);
      --tcds-button-primary-text-color: var(--tcds-color-primary);
      --tcds-button-secondary-background-color: transparent;
      --tcds-button-secondary-text-color: var(--tcds-color-white);
    }

    :where(:is(&):not([variant*="secondary"])) {
      --tcds-button-outline: 3px double var(--tcds-color-baby-blue);
    }

    :where(:is(&):hover) {
      --tcds-button-primary-background-color: var(--tcds-color-primary-2);
      --tcds-button-primary-text-color: var(--tcds-color-white);
      --tcds-button-secondary-text-color: var(--tcds-color-white);
    }

    :where(:is(&):active) {
      --tcds-button-primary-background-color: var(--tcds-color-primary-3);
      --tcds-button-primary-text-color: var(--tcds-color-white);
      --tcds-button-secondary-text-color: var(--tcds-color-white);
      --tcds-button-secondary-icon-background-color: transparent;
      --tcds-button-secondary-icon-color: var(--tcds-color-white);
      --tcds-button-secondary-icon-outline-color: var(--tcds-color-white);
    }
  }
}
