:host {
  --tcds-dialog-padding: var(--tcds-space-x-loose);

  background-color: var(--tcds-color-shade-strong);
  backdrop-filter: blur(0.5px);
  font-family: var(--tcds-font-ui);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: var(--tcds-layer-dialog);
}

:host(:not([data-theme="dark"])) {
  --tcds-color-text: var(--tcds-color-blue-dark);
  --tcds-color-link: var(--tcds-color-link-default);
  --tcds-color-link-hover: var(--tcds-color-blue-dark);
  --tcds-color-highlight: var(--tcds-color-shade-x-weak);
}

:host(:not([open])) {
  display: none;
}

:host([open]) [part="dialog"] {
  animation: slide-in-down var(--tcds-animation-expressive-duration) var(--tcds-animation-expressive-easing) forwards;
}

[part="dialog"] {
  background-color: var(--tcds-dialog-background, #fff);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 60%);
  overflow-wrap: break-word;
  position: relative;
  width: calc(100vw - var(--site-outer-gutter) * 2);
  z-index: 1;
}

@media (min-width: 1024px) {
  [part="dialog"] {
    width: var(--tcds-dialog-base-width, fit-content);
    min-width: var(--tcds-dialog-min-width, 700px);
    max-width: var(--tcds-dialog-max-width, 1000px);
  }
}

[part="content"] {
  display: block;
  width: 100%;
  height: 100%;
  max-height: var(--tcds-dialog-max-height, 75vh);
  padding: var(--tcds-dialog-padding);
  overflow-y: auto;
}

[part="close"] {
  --tcds-button-translate: 50%, -50%;

  position: absolute !important;
  top: 0;
  right: 0;
  z-index: 1;
}
