:host {
  --tcds-dialog-padding: var(--tcds-space-x-loose);
  --tcds-dialog-header-height: 3.5rem;
  --tcds-dialog-footer-height: 4rem;
  --tcds-dialog-border-radius: 10px;

  background-color: var(--tcds-color-shade-strong);
  backdrop-filter: blur(0.5px);
  font-family: var(--tcds-font-ui);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: var(--tcds-layer-dialog);
}

:host(:not([data-theme="dark"])) {
  --tcds-color-text: var(--tcds-color-blue-dark);
  --tcds-color-link: var(--tcds-color-link-default);
  --tcds-color-link-hover: var(--tcds-color-blue-dark);
  --tcds-color-highlight: var(--tcds-color-shade-x-weak);
}

:host([open]:not([position], [variant*="lightbox"])) {
  --tcds-dialog-animation: slide-in-up;
}

:host([open][variant*="lightbox"]) {
  --tcds-dialog-animation: grow-in;
}

:host([variant*="lightbox"]) {
  --tcds-dialog-padding: 0;
}

:host([open][position="right"]) {
  --tcds-dialog-animation: slide-in-left;
}

:host(:not([position])) {
  --tcds-dialog-max-height: 75vh;
}

[part="dialog"] {
  display: flex;
  flex-direction: column;
  background-color: var(--tcds-dialog-background, #fff);
  box-shadow: 0 0 10px rgb(0 0 0 / 60%);
  overflow-wrap: break-word;
  width: calc(100vw - var(--site-outer-gutter) * 2);
  max-height: var(--tcds-dialog-max-height, none);
  aspect-ratio: var(--tcds-dialog-aspect-ratio, auto);
  z-index: 1;
  animation:
    var(--tcds-dialog-animation)
    var(--tcds-animation-expressive-duration)
    var(--tcds-animation-expressive-easing) forwards;
}

:host(:not([position])) [part="dialog"] {
  border-radius: var(--tcds-dialog-border-radius);
  position: relative;
}

:host([position]) [part="dialog"] {
  position: absolute;
}

:host([position="right"]) [part="dialog"] {
  right: 0;
  top: 0;
  bottom: 0;
}

@media (min-width: 1024px) {
  :host(:not([position], [variant*="lightbox"])) [part="dialog"] {
    width: var(--tcds-dialog-base-width, fit-content);
    min-width: var(--tcds-dialog-min-width, 700px);
    max-width: var(--tcds-dialog-max-width, 1000px);
  }

  :host([position], [variant*="lightbox"]) [part="dialog"] {
    width: 700px;
  }
}

:host([variant*="lightbox"]) [part="dialog"] {
  width: auto;
}

main {
  display: block;
  width: 100%;
  height: 100%;
  padding: var(--tcds-dialog-padding);
  overflow-y: auto;
}

header,
footer {
  padding: 0 var(--tcds-dialog-padding);
  background: #fff;
  display: flex;
  align-items: center;
  gap: var(--tcds-space-normal);
}

header {
  border-bottom: 1px solid var(--tcds-color-shade-x-weak);
  min-height: var(--tcds-dialog-header-height);
  border-top-left-radius: var(--tcds-dialog-border-radius);
  border-top-right-radius: var(--tcds-dialog-border-radius);
}

footer {
  box-shadow: 0 -5px 10px rgb(0 0 0 / 8%);
  min-height: var(--tcds-dialog-footer-height);
  border-bottom-left-radius: var(--tcds-dialog-border-radius);
  border-bottom-right-radius: var(--tcds-dialog-border-radius);
}

[part="close"] {
  position: absolute !important;
  top: var(--tcds-dialog-close-button-position);
  right: var(--tcds-dialog-close-button-position);
  z-index: 2;
}

/**
 * There are various conditions defined by the shadow template which determine
 * what variant the close button is. `secondary` is the default, `ui` is used
 * for dialogs that have headers or are positioned to the right, and `ghost` is
 * used for the `lightbox` dialog variant.
 */

[part="close"][variant="secondary"] {
  --tcds-dialog-close-button-position: 0;
  --tcds-button-translate: 50%, -50%;
}

[part="close"][variant="ui"] {
  --tcds-dialog-close-button-position: var(--tcds-space-tight);
}

[part="close"][variant="ghost"] {
  --tcds-dialog-close-button-position: var(--site-outer-gutter);
}
