/** Component-level tokens */
:root {
  // Default
  --tcds-field-background: var(--tcds-color-palette-white);
  --tcds-field-border: 1px solid var(--tcds-field-border-color);
  --tcds-field-border-color: rgb(0 0 0 / 10%);
  --tcds-field-box-shadow: var(--tcds-box-shadow-sm);
  --tcds-field-box-shadow-inset: 0 3px 6px rgb(0 0 0 / 10%);
  --tcds-field-border-radius: var(--tcds-border-radius-xs);
  --tcds-field-padding-block: var(--tcds-space-component-sm);
  --tcds-field-padding-inline: var(--tcds-space-component-sm);
  // Hover state
  --tcds-field-hover-background: var(--tcds-color-palette-red-50);
  // Active state
  --tcds-field-active-background: var(--tcds-color-palette-red-700);
  --tcds-field-active-foreground: var(--tcds-color-palette-white);
  // Focus state
  --tcds-field-focus-border-color: var(--tcds-color-palette-gray-400);
  // Error state
  --tcds-field-error-background: var(--tcds-color-palette-red-50);
  --tcds-field-error-border-color: var(--tcds-color-palette-red-700);
}

/** Resets */
button,
input,
select,
summary,
textarea {
  max-width: 100%;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[type="file"] {
  cursor: pointer;
}

/** Generic settings */
form {
  display: flex;
  flex-direction: column;
  gap: var(--tcds-space-component-sm);

  &, & * {
    font-family: var(--tcds-font-family-ui);
  }
}
