@use "abstracts/mixins" as *;

:root {
  --tcds-button-background: transparent;
  --tcds-button-background-hover: var(--tcds-color-theme-warm-background);
  --tcds-button-background-active: var(--tcds-color-theme-warm-faded);
  --tcds-button-foreground: var(--tcds-color-theme-foreground);
  --tcds-button-foreground-hover: var(--tcds-color-theme-warm-accent);
}

button:not([type=button]),
input[type=button],
input[type=submit],
input[type=reset],
.tcds-button {
  @include tcds-button();
}
