@use "abstracts/mixins" as *;

:root, [data-theme] {
  --tcds-button-background: transparent;
  --tcds-button-background-hover: var(--tcds-color-theme-warm-background);
  --tcds-button-background-active: var(--tcds-color-theme-warm-faded);
  --tcds-button-foreground: var(--tcds-color-theme-foreground);
  --tcds-button-foreground-hover: var(--tcds-color-theme-warm-accent);
  --tcds-button-padding-block: var(--tcds-space-component-sm);
  --tcds-button-padding-inline: var(--tcds-space-component-sm);
  --tcds-button-padding: var(--tcds-button-padding-block) var(--tcds-button-padding-inline);
  --tcds-button-gap: var(--tcds-button-padding-inline);
  --tcds-button-font-size: var(--tcds-font-size-sm);
  --tcds-button-border-radius: var(--tcds-border-radius-sm);
}

button:not([type=button]),
input[type=button],
input[type=submit],
input[type=reset],
.tcds-button {
  @include tcds-button();
}
