fieldset {
  display: flex;
  flex-direction: column;
  gap: var(--tcds-space-component-sm);
  padding: var(--tcds-space-component-sm);
  border: var(--tcds-field-border);
  border-radius: var(--tcds-field-border-radius);
}

legend {
  padding: 0 var(--tcds-space-component-sm);
  font-size: var(--tcds-font-size-xs);
  font-weight: var(--tcds-font-weight-normal);
}
