@use "../../scss/abstracts/mixins" as *;

.tcds-form {
  &--display {
    display: flex;
    flex-direction: column;
    gap: var(--tcds-space-component-xl);

    fieldset {
      display: flex;
      flex-wrap: wrap;
      gap: var(--tcds-space-component-sm);

      > legend {
        @include text("ui", "md");

        margin-bottom: var(--tcds-space-component-md);
      }

      > div {
        flex: 1 0;
        min-width: 146px;
      }

      input[type=radio] {
        appearance: none;
        position: absolute;

        + label,
        ~ input[type=text] {
          @include text("ui", "md");

          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          border: 2px solid var(--tcds-color-theme-accent);
          border-radius: 10px;
          height: 50px;
          width: 100%;
          color: var(--tcds-color-theme-accent);
          transition:
            color var(--tcds-motion-duration-productive) var(--tcds-motion-easing-enter),
            background-color var(--tcds-motion-duration-productive) var(--tcds-motion-easing-enter),
            border-color var(--tcds-motion-duration-productive) var(--tcds-motion-easing-enter);
        }

        + label {
          cursor: pointer;
        }

        ~ input[type=text] {
          &::placeholder {
            color: var(--tcds-color-theme-default-text-muted);
          }
        }

        &:checked + label,
        &:checked ~ input[type=text]:not(:placeholder-shown, :focus) {
          background-color: color-mix(in oklab, var(--tcds-color-theme-accent), #000 65%);
          border-color: color-mix(in oklab, var(--tcds-color-theme-accent), #000 65%);
          color: var(--tcds-color-theme-dark-text-primary);
        }
      }
    }

    > div {
      display: flex;
      flex-wrap: wrap;
      gap: var(--tcds-space-component-md) var(--tcds-space-component-sm);

      > label {
        @include text("ui", "md");
      }
    }

    select {
      @include text("ui", "md");

      display: flex;
      align-items: center;
      border: 2px solid var(--tcds-color-theme-accent);
      border-radius: 10px;
      height: 50px;
      width: 100%;
      color: var(--tcds-color-theme-accent);
      padding-inline: var(--tcds-space-component-md);
      appearance: none;
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.6382999 8.8181801'><path d='M13.1382999,1.5l-5.84517,5.8181801L1.5,1.5' fill='none' stroke='%23da2530' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/></svg>");
      background-repeat: no-repeat;
      background-position: calc(100% - var(--tcds-space-component-md)) center;
      background-size: 1rem;
      transition:
        color var(--tcds-motion-duration-productive) var(--tcds-motion-easing-enter),
        background-color var(--tcds-motion-duration-productive) var(--tcds-motion-easing-enter),
        border-color var(--tcds-motion-duration-productive) var(--tcds-motion-easing-enter);
    }
  }
}
