/**
 * This file contains styles for elements used to mark up regular body copy
 * (paragraphs, lists, links, formatting elements like `small`, etc.)
 */

/**
 * Formatting helpers.
 */

:where(small, sub, sup) {
  font-size: max(var(--tcds-font-size-xs), 85%);
}

:where(sup) {
  vertical-align: baseline;
  position: relative;
  top: -.333lh;
}

/**
 * Links.
 */
a {
  :where(&) {
    color: var(--tcds-color-link);
    text-decoration: underline;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  }

  :where(&:hover) {
    text-decoration: none;
  }

  &[href]:not(:where(
    [slot],
    [href^="#"],
    [href^="javascript:" i],
    [href^="/"]:not([href^="//"])
  )) {
    &::after {
      content: "";
      display: inline-block;
      background-color: var(--tcds-color-text);
      mask: var(--tcds-icon-utility-external) center no-repeat;
      opacity: .4;
      width: .66em;
      height: .66em;
      margin-left: .25em;
      vertical-align: middle;
    }
  }
}

/**
 * Paragraphs and lists.
 *
 * 1. We want to apply some default vertical margin to paragraph elements,
 *    unless the paragraph is either the first or last child in a container (as
 *    we still want them vertically flush). So we exclude those, but we also
 *    want to exclude any that are directly adjacent to headings or slotted
 *    elements, because those are never actually rendered (in-flow).
 */

p {
  :where(&:not(:first-child, :is(h1, h2, h3, h4, h5, h6) + *, [slot] + *:not([slot]))) { // 1
    margin-top: 1.5em;
  }

  :where(&:not(:last-child)) {
    margin-bottom: 1.5rem;
  }
}

:where(p, li) {
  line-height: var(--tcds-line-height, var(--tcds-line-height-m));
}

/**
 * 1. Safari removes role semantics from lists with `list-style: none`, but they
 *    can be readded with `[role=list]`. Therefore, as a general rule, never add
 *    `list-style: none` to list elements elsewhere in the codebase (components,
 *    etc.) Instead, add `role="list"` to any list from which you want `list-
 *    style` removed. This will also remove other default styling.
 */
ul,
ol {
  :where(&) {
    margin: 0 0 0 4ch;
    padding: 0;
  }

  :where(:not(li) > :is(&):not(:last-child)) {
    margin-bottom: 1rem;
  }

  &:where([role="list"]) {
    list-style: none; // 1
    margin: 0;
  }
}

ol {
  :where(& &) {
    list-style: upper-alpha;
  }

  :where(& & &) {
    list-style: upper-roman;
  }

  ::marker {
    font-family: var(--tcds-font-ui);
    font-weight: var(--tcds-font-weight-semibold);
    color: rgb(0 0 0 / 50%);
  }
}

/**
 * 1. List markers do not inherit `font-variant-numeric`, which is already
 *    declared in the `body`.
 */
::marker {
  font-variant-numeric: lining-nums tabular-nums; // 1
}
