@mixin headings {
  font-family: var(--tcds-font-headings);
  line-height: var(--tcds-line-height-s);
}

@mixin subheadings {
  font-family: var(--tcds-font-subheadings);
  line-height: var(--tcds-line-height-s);
}

@mixin h1 {
  @include headings;

  font-size: var(--tcds-font-size-2xl);
  font-weight: var(--tcds-font-weight-semibold);
  letter-spacing: -0.05rem;
}

@mixin h2 {
  @include headings;

  font-size: var(--tcds-font-size-xl);
  font-weight: var(--tcds-font-weight-semibold);
  letter-spacing: -0.0125rem;
}

@mixin h3 {
  @include subheadings;

  font-size: var(--tcds-font-size-l);
  font-weight: var(--tcds-font-weight-semibold);
}

@mixin h4 {
  @include subheadings;

  font-size: var(--tcds-font-size-ml);
  font-weight: var(--tcds-font-weight-bold);
}

@mixin h5 {
  @include subheadings;

  font-size: var(--tcds-font-size-m);
  font-weight: var(--tcds-font-weight-bold);
}

@mixin h6 {
  @include subheadings;

  font-size: var(--tcds-font-size-rem);
  font-weight: var(--tcds-font-weight-bold);
}

:where(h1) {
  @include h1;
}

:where(h2) {
  @include h2;
}

:where(h3) {
  @include h3;
}

:where(h4) {
  @include h4;
}

:where(h5) {
  @include h5;
}

:where(h6) {
  @include h6;
}

:is(h1, h2, h3, h4, h5, h6) {
  :where(&:first-child:not(:only-child)) {
    margin: 0 0 1.5rem;
  }

  :where(&:not(:first-child)) {
    margin: 1.5rem 0;
  }
}

:where(:not(h1, hr) + h2),
:where(:not(h2, hr) + h3),
:where(:not(h3, hr) + h4) {
  margin-top: 3rem;
}
