* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

/**
 * 1. Prevents text size from zooming in on mobile devices when orientation is
 *    switched from portrait to landscape.
 */
html {
  text-size-adjust: 100%; // 1

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}
