table {
  &:not(.table--semantic) {
    font-family: var(--tcds-font-ui);
    font-variant-numeric: tabular-nums lining-nums;
  }
}

tcds-table {
  display: block;
  overflow-x: scroll;

  &[sticky-header*="column"] {

  }

  &[sticky-header*="row"] {

  }
}
