tcds-spotlight {
  --tcds-spotline-padding-inline: 2rem;

  &:not(:defined) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--tcds-space-loose);
    text-align: center;
    padding: var(--tcds-spotlight-padding-inline) 0;

    [slot="heading"] {
      align-self: center;
    }
  }

  [slot="background"],
  &::part(background) {
    grid-area: background;

    @media (max-width: 799px) {
      border-radius: 10px;
    }

    @media (min-width: 800px) {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: -1;
    }
  }

  [slot="heading"] {
    grid-area: heading;
    font-size: var(--tcds-font-size-xx-large);
    margin: 0;

    @media (min-width: 800px) {
      align-self: end;
      font-size: 4.5rem;
    }
  }

  [slot="subheading"] {
    grid-area: subheading;
    padding:
      0
      max(var(--site-outer-gutter), (100vw - var(--site-container-max-width)) / 2);
    font-size: var(--tcds-font-size-large);
    font-family: var(--tcds-font-headings);
    font-weight: var(--tcds-font-weight-semibold);

    @media (min-width: 800px) {
      align-self: end;
      position: relative;
      padding-top: var(--tcds-space-x-loose);
      padding-bottom: var(--tcds-space-x-loose);
      color: #fff;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: var(--tcds-color-secondary);
        z-index: -1;
        opacity: 0.85;
      }
    }
  }
}
