/* stylelint-disable max-line-length */
/* stylelint-disable declaration-empty-line-before */

:is(button[is="tcds-ui-button"], a[is="tcds-link-button"]) {
  --tcds-button-background-color: var(--tcds-color-primary);
  --tcds-button-text-color: #fff;
  --tcds-button-icon-color: var(--tcds-color-primary);
  --tcds-button-icon-background-color: #fff;
  --tcds-button-font-size: var(--tcds-font-size-medium);
  --tcds-button-height: var(--tcds-size-medium);
  --tcds-button-padding-inline: var(--tcds-space-normal);

  appearance: none;
  cursor: pointer;
  user-select: none;

  position: relative;
  z-index: 1;
  margin: 0;

  display: inline-flex;
  gap: var(--tcds-space-tight);
  align-items: center;
  text-align: center;
  justify-content: center;
  vertical-align: middle;

  height: var(--tcds-button-height);
  width: var(--tcds-button-width, auto);
  padding: 0 var(--tcds-button-padding-inline);

  border: 0;
  border-radius: var(--tcds-button-height);
  overflow: hidden;
  box-shadow: var(--tcds-button-box-shadow, none);
  background-color: var(--tcds-button-background-color);
  color: var(--tcds-button-text-color);

  font-family: var(--tcds-font-ui);
  font-size: var(--tcds-button-font-size);
  font-weight: var(--tcds-button-font-weight, var(--tcds-font-weight-normal));
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;

  transform: scale(var(--tcds-button-scale, 1)) translate(var(--tcds-button-translate, 0, 0));
  transition:
    transform 0.15s ease-in,
    background-color 0.08s ease-in,
    color 0.08s ease-in,
    box-shadow 0.08s ease-in;
}

:is(button[is="tcds-ui-button"], a[is="tcds-link-button"]):active {
  --tcds-button-scale: 0.99;
}

:is(button[is="tcds-ui-button"], a[is="tcds-link-button"]):not([variant*="ghost"], [variant*="ui"]) {
  --tcds-button-font-weight: var(--tcds-font-weight-semibold);
}

:is(button[is="tcds-ui-button"], a[is="tcds-link-button"]):focus-visible {
  box-shadow:
    0 0 0 1px var(--tcds-color-secondary),
    0 0 0 3px #fff;
  outline: none;
}

:is(button[is="tcds-ui-button"], a[is="tcds-link-button"])::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: var(--tcds-button-overlay, transparent);
  transition: background-color 0.08s ease-in;
}

:is(button[is="tcds-ui-button"], a[is="tcds-link-button"])[size*="small"] {
  --tcds-button-height: var(--tcds-size-small);
  --tcds-button-font-size: var(--tcds-font-size-small);
}

:is(button[is="tcds-ui-button"], a[is="tcds-link-button"])[size*="large"] {
  --tcds-button-height: var(--tcds-size-large);
  --tcds-button-padding-inline: var(--tcds-space-x-loose);
  --tcds-button-font-size: 1.125rem;
}

:is(button[is="tcds-ui-button"], a[is="tcds-link-button"])[size*="x-large"] {
  --tcds-button-height: var(--tcds-size-x-large);
  --tcds-button-font-size: var(--tcds-font-size-large);
}

:is(button[is="tcds-ui-button"], a[is="tcds-link-button"])[size*="full-width"] {
  display: flex;
  width: 100%;
}

:is(button[is="tcds-ui-button"], a[is="tcds-link-button"]):not([variant*="ghost"], [variant*="ui"], [aria-label]) {
  --tcds-button-icon-background-color: var(--tcds-color-primary);
  --tcds-button-icon-color: #fff;
}

:is(button[is="tcds-ui-button"], a[is="tcds-link-button"]):not([variant*="ghost"], [variant*="ui"], [aria-label]):hover {
  --tcds-button-box-shadow: 0.125rem 0 0.625rem 0 var(--tcds-color-shade-weak);
}

:is(button[is="tcds-ui-button"], a[is="tcds-link-button"])[variant*="ghost"] {
  --tcds-button-padding-inline: 0;
  --tcds-button-background-color: transparent;
  --tcds-button-text-color: var(--tcds-color-secondary);
}

:is(button[is="tcds-ui-button"], a[is="tcds-link-button"])[variant*="ghost"]:hover {
  --tcds-button-text-color: var(--tcds-color-primary);
}

:is(button[is="tcds-ui-button"], a[is="tcds-link-button"])[variant*="secondary"] {
  --tcds-button-background-color: var(--tcds-color-secondary);
  --tcds-button-text-color: var(--tcds-color-tint-x-strong);
  --tcds-button-icon-background-color: transparent;
  --tcds-button-icon-color: inherit;
}

:is(button[is="tcds-ui-button"], a[is="tcds-link-button"])[variant*="ui"] {
  --tcds-button-background-color: transparent;
  --tcds-button-text-color: inherit;
  --tcds-button-icon-background-color: transparent;
  --tcds-button-icon-color: inherit;
}

:is(button[is="tcds-ui-button"], a[is="tcds-link-button"])[aria-label] {
  --tcds-button-width: var(--tcds-button-height);
  --tcds-button-padding-inline: 0;
  --tcds-button-icon-padding: 0;
  --tcds-button-icon-background-color: transparent;
  --tcds-button-icon-color: currentcolor;
}

:is(button[is="tcds-ui-button"], a[is="tcds-link-button"]):not([aria-label], [variant*="ui"], [variant*="secondary"]):hover {
  --tcds-button-icon-background-color: var(--tcds-color-primary);
  --tcds-button-icon-color: #fff;
}

:is(button[is="tcds-ui-button"], a[is="tcds-link-button"]):not([variant*="ghost"]):hover,
:is(button[is="tcds-ui-button"], a[is="tcds-link-button"])[variant*="ui"]:hover {
  --tcds-button-overlay: var(--tcds-color-shade-x-weak);
}

:is(button[is="tcds-ui-button"], a[is="tcds-link-button"]) tcds-icon {
  background-color: var(--tcds-button-icon-background-color);
  color: var(--tcds-button-icon-color);
  padding: var(--tcds-button-icon-padding, 0.1em);
  border-radius: 1em;
  transition:
    background-color 0.08s ease-in,
    color 0.08s ease-in;
}

[data-theme="dark"] > :is(button[is="tcds-ui-button"], a[is="tcds-link-button"]):not([variant*="ghost"], [variant*="ui"], [variant*="secondary"], :hover),
:is(button[is="tcds-ui-button"], a[is="tcds-link-button"])[data-theme="dark"]:not([variant*="ghost"], [variant*="ui"], [variant*="secondary"], :hover) {
  --tcds-button-background-color: #fff;
  --tcds-button-text-color: var(--tcds-color-primary);
  --tcds-button-icon-background-color: #fff;
  --tcds-button-icon-color: var(--tcds-color-primary);
}

[data-theme="dark"] > :is(button[is="tcds-ui-button"], a[is="tcds-link-button"])[variant*="ghost"],
:is(button[is="tcds-ui-button"], a[is="tcds-link-button"])[variant*="ghost"][data-theme="dark"] {
  --tcds-button-text-color: #fff;
}

[data-theme="dark"] > :is(button[is="tcds-ui-button"], a[is="tcds-link-button"]):hover,
:is(button[is="tcds-ui-button"], a[is="tcds-link-button"])[data-theme="dark"]:hover {
  --tcds-button-overlay: rgb(0 0 0 / 0%);
}

[data-theme="dark"] > :is(button[is="tcds-ui-button"], a[is="tcds-link-button"])[variant*="ui"],
:is(button[is="tcds-ui-button"], a[is="tcds-link-button"])[data-theme="dark"][variant*="ui"] {
  --tcds-button-text-color: var(--tcds-color-secondary);
  --tcds-button-background-color: var(--tcds-color-tint-x-strong);
}
