@use "../button/abstracts/mixins" as *;

.tcds-cta-link {
  @include button-style($flag: "!important");

  &--outline {
    @include button-props-outline;
  }

  &--tertiary {
    @include button-props-tertiary;
  }

  &:hover {
    --tcds-cta-link-icon-translate-x: 20%;
  }

  tcds-icon[icon*=caret-right] {
    transition: translate var(--tcds-motion-duration-expressive) var(--tcds-motion-easing-enter);
    translate: var(--tcds-cta-link-icon-translate-x) 0%;
  }
}
