@use "../../00-brand/animation/functions" as *;

tcds-alert-bar {
  --tcds-alert-summary-icon-background-color: transparent;
  --tcds-alert-summary-icon-color: var(--tcds-color-primary);
  --tcds-alert-summary-icon-size: .6em;
  --tcds-alert-summary-icon-space: 1.2em;

  details {
    display: contents;
  }

  details[open]::details-content {
    display: contents;
  }

  details[open] {
    --tcds-alert-summary-icon: var(--tcds-icon-utility-caret-up);
  }

  details[open] {
    --tcds-alert-summary-icon-background-color: transparent;
    --tcds-alert-summary-icon-color: var(--tcds-color-primary);
    --tcds-alert-summary-icon-outline-color: var(--tcds-color-primary);
  }

  summary {
    grid-row: 1 / 2;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    margin: 0 1rem;
    font-size: var(--tcds-font-size-s);

    &:hover {
      --tcds-alert-summary-icon-background-color: var(--tcds-color-primary);
      --tcds-alert-summary-icon-color: var(--tcds-color-white);
    }

    &:active {
      --tcds-alert-summary-icon-background-color: transparent;
      --tcds-alert-summary-icon-color: var(--tcds-color-primary);
      --tcds-alert-summary-icon-outline-color: var(--tcds-color-primary);
    }

    &::before {
      content: " ";
      display: block;
      width: var(--tcds-alert-summary-icon-size);
      height: var(--tcds-alert-summary-icon-size);
      mask: var(--tcds-alert-summary-icon, var(--tcds-icon-utility-caret-down)) center no-repeat;
      background-color: var(--tcds-alert-summary-icon-color);
      position: absolute;
      right: calc((var(--tcds-alert-summary-icon-space) - var(--tcds-alert-summary-icon-size)) / 2);
      transition: background-color animation("productive");
    }

    &::after {
      content: "";
      background-color: var(--tcds-alert-summary-icon-background-color);
      outline: 1.5px solid var(--tcds-alert-summary-icon-outline-color);
      width: var(--tcds-alert-summary-icon-space);
      height: var(--tcds-alert-summary-icon-space);
      border-radius: var(--tcds-alert-summary-icon-space);
      transition:
        background-color animation("productive"),
        outline-color animation("productive");
    }
  }

  summary + div {
    padding: 1rem;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    position: sticky;
    left: 0;
    max-width: calc(100vw - var(--tcds-content-inner-gutter));

    @media (min-width: 1536px) {
      max-width: calc(100vw - var(--tcds-alert-bar-label-width) - var(--tcds-content-inner-gutter));
    }

    ul {
      list-style: "";
    }

    li, p {
      font-size: var(--tcds-font-size-s);
    }
  }
}
