:host {
  --tcds-alert-bar-label-width: 13rem;

  display: block;
}

section {
  display: grid;
  grid-template-columns: var(--tcds-alert-bar-label-width) 1fr min-content;
  grid-template-rows: 1fr min-content;
  align-items: center;
  height: auto;
  box-shadow: 0 2px 4px var(--tcds-shade-weak);
}

::slotted(h2),
slot[name=heading] h2 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  border-bottom: 1px solid var(--tcds-color-gray);
  padding: 1rem 0 1rem 3rem;
  margin: 0;
  font-size: var(--tcds-font-size-m);
}

::slotted(tcds-icon),
slot[name=heading] tcds-icon {
  --tcds-icon-size: 1.5rem;

  color: var(--tcds-color-primary);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-left: 1rem;
}

[part="close"] {
  grid-column: -2 / -1;
  grid-row: 1 / 2;
}

[part="alerts"] {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: 1fr min-content;
  grid-column: 1 / -1;
  align-items: center;
  overflow-x: auto;
  overscroll-behavior: none;

  @media (min-width: 1536px) {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    grid-template-rows: subgrid;
    width: 100%;
  }
}

[part="close"] {
  z-index: 1;
  background: transparent;
  border: 0;
  appearance: none;
  padding: 1rem;
  font-size: var(--tcds-font-size-rem);
}
