tcds-alert-bar {
  --tcds-alert-bar-height: 60px;

  &:not(:defined) {
    display: none;
  }

  &:defined {
    > details {
      --tcds-details-icon-rotate: 90deg;

      display: contents;

      &[open] {
        --tcds-details-icon-rotate: 180deg;
        --tcds-alert-bar-tab-indicator-color: var(--tcds-color-primary);
        --tcds-alert-bar-tab-text-color: var(--tcds-color-primary);
      }

      > summary {
        grid-row: 1 / 2;
        height: var(--tcds-alert-bar-height);
        flex-direction: row-reverse;
        margin-right: 2rem;
        box-shadow: inset 0 -4px 0 var(--tcds-alert-bar-tab-indicator-color, transparent);
        gap: 1rem;
        color: var(--tcds-alert-bar-tab-text-color, var(--tcds-color-secondary));
        font-size: var(--tcds-font-size-s);
        white-space: nowrap;

        &:hover {
          --tcds-alert-bar-tab-text-color: var(--tcds-color-primary);
        }

        &::before {
          background-color: var(--tcds-color-primary);
        }

        + * {
          grid-row: 2 / -1;
          grid-column: 1 / -1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 1rem 0;
          gap: 1rem;
          position: sticky;
          left: 0;
          max-width: calc(100vw - (var(--tcds-site-outer-gutter) * 2));
          background-color: #fff;
          border-top: 1px solid var(--tcds-color-gray);
          font-size: var(--tcds-font-size-s);
          margin: 0;

          @media (min-width: 768px) {
            max-width: calc(100vw - var(--tcds-alert-bar-label-width) - (var(--tcds-site-outer-gutter) * 2));
          }
        }
      }

      ul {
        list-style: "";
      }
    }
  }
}
