@use "@txch/tcds-foundation/src/layout/abstracts/mixins" as *;

.tcds-section {
  @include container-grid();

  background-color: var(--tcds-color-theme-background);
  color: var(--tcds-color-theme-foreground);
  --test: "var";
}
