@mixin container-props() {
  // Creating semi-private variables here so that defaults can be set from
  // higher selectors by downstream developers.
  --_tcds-container-gutter: var(--tcds-container-gutter, var(--tcds-site-inner-gutter));
  --_tcds-size-container: var(--tcds-size-container, var(--tcds-size-layout-lg));
}

@mixin container($flag: "") {
  @include container-props;

  width: calc(100% - var(--_tcds-container-gutter) * 2) #{$flag};
  max-width: var(--_tcds-size-container) #{$flag};
  margin-inline: var(--tcds-container-margin-inline, auto) #{$flag};
  padding: 0 #{$flag};
  position: relative;
}
