@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "../abstracts/functions" as *;

/**
 * Define themed properties (--tcds-color-theme-[cool|warm|neutral]-[element])
 * as their corresponding light or dark mode values
 * (--tcds-color-theme-[theme]-[element]-[light|dark]), based on `[data-mode]`
 * attribute.
 */

@mixin theme-props-by-mode($mode) {
  // Loop through themes (cool/warm/neutral):
  @each $theme, $elements in tokens("color", "theme") {
    // Loop through elements (background/foreground/etc.), not modes:
    @each $element, $modes in $elements {
      // For example, if $theme == warm, $mode == dark:
      // --tcds-color-theme-warm-background:
      //   var(--tcds-color-theme-warm-background-dark)
      --tcds-color-theme-#{$theme}-#{$element}: var(--tcds-color-theme-#{$theme}-#{$element}-#{$mode});
    }
  }
}

@mixin element-props-by-theme($theme) {
  // Loop through elements in a given theme, for example if $theme == cool, then
  // themes.cool.background, themes.cool.foreground, etc.
  @each $element, $modes in tokens("color", "theme", $theme) {
    // For example, if $element == foreground, $theme == neutral:
    // --tcds-color-theme-foreground: var(--tcds-color-theme-neutral-foreground)
    --tcds-color-theme-#{$element}: var(--tcds-color-theme-#{$theme}-#{$element});
  }
}

:root,
[data-mode="light"] {
  // For example:
  // --tcds-color-theme-cool-background:
  //   var(--tcds-color-theme-cool-background-light)
  // etc...
  @include theme-props-by-mode("light");
}

[data-mode="dark"] {
  // For example:
  // --tcds-color-theme-cool-foreground:
  //   var(--tcds-color-theme-cool-foreground-dark)
  // etc...
  @include theme-props-by-mode("dark");
}

[data-mode="auto"] {
  @media (prefers-color-scheme: dark) {
    @include theme-props-by-mode("dark");
  }
}

/**
 * Define unthemed element properties (i.e.
 * --tcds-color-theme-[background|foreground|...]) as their corresponding theme
 * values (i.e. --tcds-color-theme-[theme]-[element]), based on `[data-theme]`.
 */

@each $theme, $elements in tokens("color", "theme") {
  $selector-list: ("[data-theme=#{$theme}]");

  // Treat neutral as default.
  @if $theme == "neutral" {
    $selector-list: list.append($selector-list, ":root", comma);
  }

  #{$selector-list} {
    // For example:
    // [data-theme="cool"] {
    //   --tcds-color-theme-background: var(--tcds-color-theme-cool-background);
    //   etc...
    // }
    // etc...
    @include element-props-by-theme($theme);
  }
}
