[part="heading"] {
  margin: 0;

  @media (max-width: 768px) {
    position: var(--tcds-accordion-section-heading-position, sticky);
    top: 0;
    background: var(--tcds-color-background, #fff);
    z-index: 2;
  }
}

[part="button"] {
  background: none;
  border-bottom: 1px solid var(--tcds-color-highlight);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--tcds-space-x-loose) 0;
  text-align: left;
  font-size: var(--tcds-accordion-heading-font-size, var(--tcds-font-size-medium-plus));
  font-family: var(--tcds-font-ui);
  font-weight: var(--tcds-accordion-heading-font-weight, var(--tcds-font-weight-semibold));
  width: 100%;
  color: var(--tcds-color-text);

  &[aria-expanded="true"] {
    --tcds-accordion-icon-rotate: 180deg;
  }
}

[part="icon"] {
  pointer-events: none;
  transform: rotateZ(var(--tcds-accordion-icon-rotate, 0));
  transition: transform var(--tcds-animation-productive-duration) var(--tcds-animation-productive-easing);
}

[part="panel"] {
  overflow: hidden;
}

[part="content"] {
  padding: var(--tcds-space-tight) 0 var(--tcds-space-normal);
}
