blockquote {
  position: relative;
  margin: 3rem 0 3rem 3rem;
  font-size: var(--tcds-font-size-medium);
  line-height: var(--tcds-line-height-normal);

  &::before {
    content: "“";
    font-family: var(--tcds-font-serif);
    font-size: 5rem;
    color: var(--tcds-color-blue-light);
    position: absolute;
    top: -2rem;
    left: -3rem;
  }

  + figcaption {
    text-align: right;
  }
}
