:where(ul[class]:not(.ul)),
:where(ol[class]:not(.ol)) {
  list-style: none;
}

:where(ul:not([class])),
:where(ol:not([class])),
.ul,
.ol {
  padding-left: 4ch;

  &:not(:last-child) {
    margin: 0 0 var(--tcds-space-normal);
  }

  li {
    line-height: var(--tcds-line-height-normal);
  }
}

dl {
  font-size: var(--tcds-font-size-medium);
  line-height: var(--tcds-line-height-normal);
  display: flex;
  flex-direction: column;
  gap: var(--tcds-space-normal);

  &:not(:last-child) {
    margin: 0 0 var(--tcds-space-normal);
  }

  div {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--tcds-space-normal);

    &:not(:last-child) {
      padding-bottom: var(--tcds-space-normal);
      border-bottom: 1px solid var(--tcds-color-shade-x-weak);
    }
  }
}

dt {
  font-weight: var(--tcds-font-weight-bold);
}
