body main,
.main-content {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;

  &:not(.main--unstyled) {
    background-color: #fff;
    padding: var(--content-inner-gutter);
    box-shadow: 0 0 20px rgb(0 0 0 / 8%);

    @media (--above-medium) {
      border-radius: 25px;
    }
  }

  @media (--below-medium) {
    margin-left: calc(var(--site-outer-gutter) * -1);
    margin-right: calc(var(--site-outer-gutter) * -1);
  }
}
