table {
  border-collapse: collapse;
  width: 100%;
  font-size: var(--tcds-font-size-small);
  font-family: var(--tcds-font-ui);
  line-height: var(--tcds-line-height-normal);

  &:where(:not(:only-child)) {
    margin: var(--tcds-space-x-loose) 0;
  }
}

td {
  vertical-align: top;
  border-bottom: 1px solid var(--tcds-color-shade-xx-weak);
  transition: background-color var(--tcds-animation-productive-duration) var(--tcds-animation-productive-easing);

  table:not(.table--bg-alternate) tr:hover &,
  .table--bg-alternate tbody > tr:nth-of-type(odd) & {
    background-color: var(--tcds-color-shade-xx-weak);
  }
}

:not(thead) > tr:last-child td {
  border-bottom: none;
}

th {
  text-align: left;
}

td,
th {
  padding: var(--tcds-space-tight) var(--tcds-space-normal);
  border-bottom: 1px solid var(--tcds-color-gray-light);
}
