button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"] {
  &:not([is]) {
    appearance: none;
    background: var(--tcds-color-primary);
    color: #fff;
    border: 0;
    padding: 0 1rem;
    height: var(--tcds-size-medium);
    font-size: var(--tcds-font-size-medium);
    font-family: var(--tcds-font-ui);
    font-weight: var(--tcds-font-weight-semibold);
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
  }
}
