form {
  font-family: var(--tcds-font-ui);
}

label {
  font-family: var(--tcds-font-ui);
  font-weight: var(--tcds-font-weight-semibold);
  font-size: var(--tcds-font-size-small);
}

.form-error {
  color: var(--tcds-color-red);
  font-size: var(--tcds-font-size-small);
}