[type="text"],
[type="search"],
[type="tel"],
[type="date"],
[type="email"],
[type="number"],
[type="month"],
[type="week"],
[type="password"],
textarea,
select {
  appearance: none;
  border: 1px solid var(--tcds-color-shade-x-weak);
  box-shadow: 0 4px 6px -4px var(--tcds-color-shade);
  border-radius: 10px;
  background-color: #fff;
  font-family: var(--tcds-font-ui);
  font-size: var(--tcds-font-size-small);
  line-height: var(--tcds-line-height-normal);
  padding: 0 var(--tcds-space-normal);
  height: var(--tcds-size-medium);
  width: 100%;
  max-width: 100%;
  transition:
    border-radius var(--tcds-animation-expressive-duration) var(--tcds-animation-expressive-easing),
    box-shadow var(--tcds-animation-productive-duration) var(--tcds-animation-productive-easing),
    border-color var(--tcds-animation-productive-duration) var(--tcds-animation-productive-easing);

  &:focus {
    box-shadow: 0 2px 0 var(--tcds-color-primary);
    border-bottom-color: var(--tcds-color-primary);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
  }

  @media (hover: none) {
    font-size: var(--tcds-font-size-medium);
  }
}

select {
  background-image: var(--tcds-icon-chevron-down);
  background-size: var(--tcds-font-size-small);
  background-repeat: no-repeat;
  background-position: calc(100% - var(--tcds-space-normal)) center;
}

textarea {
  height: initial;
  min-height: var(--tcds-size-medium);
  padding: var(--tcds-space-normal);
}

[type="search"] {
  appearance: textfield;
}

.input {
  &--large {
    font-size: var(--tcds-font-size-medium);
    height: var(--tcds-size-large);
  }

  &--x-large {
    font-size: var(--tcds-font-size-medium);
    height: var(--tcds-size-x-large);
  }
}
