[type="text"],
[type="search"],
[type="tel"],
[type="date"],
[type="email"],
[type="number"],
[type="month"],
[type="week"],
[type="password"],
textarea,
select {
  appearance: none;
  border: 1px solid var(--tcds-color-shade-weak);
  border-radius: 10px;
  background-color: rgb(255 255 255 / 50%);
  font-family: var(--tcds-font-ui);
  font-size: var(--tcds-font-size-small);
  line-height: var(--tcds-line-height-normal);
  padding: 0 var(--tcds-space-normal);
  height: var(--tcds-size-medium);
  width: 100%;
  transition: background-color var(--tcds-animation-productive-duration) var(--tcds-animation-productive-easing);

  &:hover {
    background-color: rgb(255 255 255 / 85%);
  }

  &:focus-visible {
    border-color: var(--tcds-color-blue);
    background-color: #fff;
  }

  @media (pointer: coarse) {
    font-size: var(--tcds-font-size-medium);
  }
}

select {
  background-image: var(--tcds-icon-chevron-down);
  background-size: var(--tcds-font-size-small);
  background-repeat: no-repeat;
  background-position: calc(100% - var(--tcds-space-normal)) center;
}

textarea {
  height: initial;
  padding: var(--tcds-space-normal);
}

[type="search"] {
  appearance: textfield;
}

.input {
  &--large {
    font-size: var(--tcds-font-size-medium);
    height: var(--tcds-size-large);
  }

  &--x-large {
    font-size: var(--tcds-font-size-medium);
    height: var(--tcds-size-x-large);
  }
}
