@use "../../00-brand/icons/icons.json";

tcds-icon {
  box-sizing: border-box;
  color: inherit;
  display: inline-flex;
  position: relative;
  height: var(--tcds-icon-size, 1em);
  width: var(--tcds-icon-size, 1em);
  vertical-align: middle;

  @each $category, $library in icons.$library {
    @each $name, $value in $library {
      &[icon~="#{$name}"],
      &[icon~="#{$name}"][category~="#{$category}"] {
        --tcds-icon: var(--tcds-icon-#{$category}-#{$name});
      }
    }
  }

  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: currentcolor;
    mask: var(--tcds-icon) no-repeat center;
  }
}