:host {
  contain: content;
}

[part="mega-menu"] {
  position: absolute;
  display: flex;
  font-family: var(--tcds-font-ui);
}

@media (max-width: 1200px) {
  [part="mega-menu"] {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    color: var(--tcds-color-gray);
    box-shadow:
      -1rem 0 2rem var(--tcds-color-shade-xx-weak),
      -0.5rem 0 1rem var(--tcds-color-shade-x-weak);
    padding: 3rem 2rem;
    width: 290px;
    max-width: 100vw;
    overflow-y: auto;
    overscroll-behavior: none;
    z-index: 1;
    animation: slide-in-left var(--tcds-animation-expressive-duration) var(--tcds-animation-expressive-easing);
  }

  .max-width {
    width: 100%;
  }

  [part="close"] {
    position: absolute;
    top: 1rem;
    right: var(--site-outer-gutter);
  }
}

@media (min-width: 1200px) {
  [part="mega-menu"] {
    background-image: linear-gradient(to bottom, #fff 0%, var(--tcds-color-blue-x-light) 100%);
    box-shadow: 0 4px 6px var(--tcds-color-shade-x-weak);
    padding: 3rem 0;
    position: absolute;
    left: 0;
    right: 0;
    animation: slide-in-down var(--tcds-animation-expressive-duration) var(--tcds-animation-expressive-easing);
    z-index: -1;
  }

  [part="close"] {
    display: none;
  }
}
