:host {
  display: flex;
  flex-direction: column;
}

[part="controls"] {
  display: flex;
  justify-content: end;
  gap: 1rem;
  border-bottom: 1px solid var(--tcds-accordion-border-color);
  padding: 0 0 .5rem;
}

[part="open-all"],
[part="close-all"] {
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  display: flex;
  font-family: var(--tcds-font-ui);
  font-weight: var(--tcds-font-weight-semibold);
  gap: 1ch;
}
