tcds-accordion,
tcds-accordion-section,
tcds-alert-bar,
tcds-carousel,
tcds-card,
tcds-icon,
tcds-tabs,
tcds-tab {
  &:not(:defined) {
    opacity: 0;
    animation: tcds-custom-element-show 1ms forwards;
    animation-delay: 1s;

    @keyframes tcds-custom-element-show {
      to {
        opacity: 1;
      }
    }
  }
}
