<div class="example">
  <div class="example__result">
    {% block content %}{% endblock %}
  </div>
  <div class="example__code">
    <details {{ open ? "open" : "" }}>
      <summary>Show code</summary>
<pre><code>{{ block("content")|escape("html") }}</code></pre>
    </details>
  </div>
</div>
