<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/css/foundation.css">
  {% for css in assets.css %}
    <link rel="stylesheet" href="/{{ css }}">
  {% endfor %}
</head>
<body>
  {% embed "@tcds/section/section.twig" %}
    {% block section_content %}
      {{ content }}
    {% endblock %}
  {% endembed %}
  <script type="module" src="/assets/components/shared/vendor.js"></script>
  <script type="module" src="/assets/components/shared/utilities.js"></script>
  {% for js in assets.js %}
    <script type="module" src="/{{ js }}"></script>
  {% endfor %}
</body>
</html>
