<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <link rel="stylesheet" href="/tcds/dist/css/icons.css">
  <link rel="stylesheet" href="/tcds/dist/css/tcds.css">
  <link rel="stylesheet" href="/dist/css/playground.css">

  {% for asset in get_assets() %}
    {% if asset ends with ".css" %}
      <link rel="stylesheet" href="{{ asset }}">
    {% endif %}
  {% endfor %}
</head>
<body>
  <div class="container-lg">
    {{ content|raw }}
  </div>

  <script type="module" src="/tcds/dist/js/shared.js"></script>
  <script type="module" src="/tcds/dist/js/vendor.js"></script>
  <script type="module" src="/dist/js/playground.js"></script>

  {% for asset in get_assets() %}
    {% if asset ends with '.js' %}
      <script type="module" src="{{ asset }}"></script>
    {% endif %}
  {% endfor %}
</body>
</html>
