:root {
  --tcds-color-red-x-light: #fff7f7;
  --tcds-color-red-light: #f2e6e6;
  --tcds-color-red: #da2530;

  --tcds-color-blue-x-light: #f0f6fb;
  --tcds-color-blue-light: #dde7ef;
  --tcds-color-blue: #2d73bc;
  --tcds-color-blue-dark: #122840;

  --tcds-color-white: #fff;
  --tcds-color-gray-x-light: #fafafa;
  --tcds-color-gray-light: #e3e3e3;
  --tcds-color-gray: #555;
  --tcds-color-gray-dark: #252425;
  --tcds-color-black: #000;

  --tcds-color-tint-xx-weak: rgba(235, 245, 255, .03);
  --tcds-color-tint-x-weak: rgba(235, 245, 255, .1);
  --tcds-color-tint-weak: rgba(235, 245, 255, .3);
  --tcds-color-tint: rgba(235, 245, 255, .5);
  --tcds-color-tint-strong: rgba(235, 245, 255, .65);
  --tcds-color-tint-x-strong: rgba(235, 245, 255, .9);

  --tcds-color-shade-xx-weak: rgba(0, 0, 0, .03);
  --tcds-color-shade-x-weak: rgba(0, 0, 0, .1);
  --tcds-color-shade-weak: rgba(0, 0, 0, .3);
  --tcds-color-shade: rgba(0, 0, 0, .5);
  --tcds-color-shade-strong: rgba(0, 0, 0, .65);
  --tcds-color-shade-x-strong: rgba(0, 0, 0, .9);

  --tcds-color-link-default: var(--tcds-color-blue);
  --tcds-color-link-hover-default: var(--tcds-color-blue-dark);
  --tcds-color-link: var(--tcds-color-link-default);
  --tcds-color-link-hover: var(--tcds-color-link-hover-default);

  --tcds-color-highlight: var(--tcds-color-gray-light);

  --tcds-color-primary: var(--tcds-color-red);
  --tcds-color-secondary: var(--tcds-color-blue-dark);
}

[data-theme="dark"] {
  --tcds-color-primary-background: var(--tcds-color-red);
  --tcds-color-primary-text: var(--tcds-color-tint-x-strong);
  --tcds-color-primary-link: var(--tcds-color-tint-x-strong);
  --tcds-color-primary-link-hover: var(--tcds-color-white);
  --tcds-color-primary-highlight: var(--tcds-color-tint-strong);

  --tcds-color-secondary-background: var(--tcds-color-blue-dark);
  --tcds-color-secondary-text: var(--tcds-color-tint-x-strong);
  --tcds-color-secondary-link: var(--tcds-color-tint-strong);
  --tcds-color-secondary-link-hover: var(--tcds-color-white);
  --tcds-color-secondary-highlight: var(--tcds-color-tint);

  --tcds-color-tertiary-background: var(--tcds-color-gray-dark);
  --tcds-color-tertiary-text: var(--tcds-color-gray-light);
  --tcds-color-tertiary-link: var(--tcds-color-tint-strong);
  --tcds-color-tertiary-link-hover: var(--tcds-color-white);
  --tcds-color-tertiary-highlight: var(--tcds-color-tint);
}

[data-theme="light"] {
  --tcds-color-primary-background: var(--tcds-color-red-x-light);
  --tcds-color-primary-text: var(--tcds-color-gray-dark);
  --tcds-color-primary-link: var(--tcds-color-link-default);
  --tcds-color-primary-link-hover: var(--tcds-color-link-hover-default);
  --tcds-color-primary-highlight: var(--tcds-color-shade-x-weak);

  --tcds-color-secondary-background: var(--tcds-color-blue-x-light);
  --tcds-color-secondary-text: var(--tcds-color-blue-dark);
  --tcds-color-secondary-link: var(--tcds-color-link-default);
  --tcds-color-secondary-link-hover: var(--tcds-color-link-hover-default);
  --tcds-color-secondary-highlight: var(--tcds-color-shade-x-weak);

  --tcds-color-tertiary-background: var(--tcds-color-gray-x-light);
  --tcds-color-tertiary-text: var(--tcds-color-blue-dark);
  --tcds-color-tertiary-link: var(--tcds-color-link-default);
  --tcds-color-tertiary-link-hover: var(--tcds-color-link-hover-default);
  --tcds-color-tertiary-highlight: var(--tcds-color-shade-x-weak);
}
