/* stylelint-disable custom-property-empty-line-before */
:root {
  --tcds-color-red-x-light: #fff7f7;
  --tcds-color-red-light: #f2e6e6;
  --tcds-color-red: #da2530;

  --tcds-color-blue-x-light: #f0f6fb;
  --tcds-color-blue-light: #dde7ef;
  --tcds-color-blue: #2d73bc;
  --tcds-color-blue-dark: #122840;

  --tcds-color-white: #fff;
  --tcds-color-gray-x-light: #fafafa;
  --tcds-color-gray-light: #e3e3e3;
  --tcds-color-gray: #555;
  --tcds-color-gray-dark: #252425;
  --tcds-color-black: #000;

  --tcds-color-tint-xx-weak: rgb(235 245 255 / 3%);
  --tcds-color-tint-x-weak: rgb(235 245 255 / 10%);
  --tcds-color-tint-weak: rgb(235 245 255 / 30%);
  --tcds-color-tint: rgb(235 245 255 / 50%);
  --tcds-color-tint-strong: rgb(235 245 255 / 65%);
  --tcds-color-tint-x-strong: rgb(235 245 255 / 90%);

  --tcds-color-shade-xx-weak: rgb(0 0 0 / 3%);
  --tcds-color-shade-x-weak: rgb(0 0 0 / 10%);
  --tcds-color-shade-weak: rgb(0 0 0 / 30%);
  --tcds-color-shade: rgb(0 0 0 / 50%);
  --tcds-color-shade-strong: rgb(0 0 0 / 65%);
  --tcds-color-shade-x-strong: rgb(0 0 0 / 90%);

  --tcds-color-link-default: var(--tcds-color-blue);
  --tcds-color-link-hover-default: var(--tcds-color-blue-dark);
  --tcds-color-link: var(--tcds-color-link-default);
  --tcds-color-link-hover: var(--tcds-color-link-hover-default);

  --tcds-color-highlight: var(--tcds-color-gray-light);

  --tcds-color-primary: var(--tcds-color-red);
  --tcds-color-secondary: var(--tcds-color-blue-dark);

  --site-background-color: var(--tcds-color-blue-x-light);
}

[data-theme="dark"] {
  --tcds-color-primary-background: var(--tcds-color-red);
  --tcds-color-primary-text: var(--tcds-color-tint-x-strong);
  --tcds-color-primary-link: var(--tcds-color-tint-x-strong);
  --tcds-color-primary-link-hover: var(--tcds-color-white);
  --tcds-color-primary-highlight: var(--tcds-color-tint-strong);

  --tcds-color-secondary-background: var(--tcds-color-blue-dark);
  --tcds-color-secondary-text: var(--tcds-color-tint-x-strong);
  --tcds-color-secondary-link: var(--tcds-color-tint-x-strong);
  --tcds-color-secondary-link-hover: var(--tcds-color-white);
  --tcds-color-secondary-highlight: var(--tcds-color-tint);

  --tcds-color-tertiary-background: var(--tcds-color-gray-dark);
  --tcds-color-tertiary-text: var(--tcds-color-gray-light);
  --tcds-color-tertiary-link: var(--tcds-color-tint-strong);
  --tcds-color-tertiary-link-hover: var(--tcds-color-white);
  --tcds-color-tertiary-highlight: var(--tcds-color-tint);
}

[data-theme="light"] {
  --tcds-color-primary-background: var(--tcds-color-red-x-light);
  --tcds-color-primary-text: var(--tcds-color-gray-dark);
  --tcds-color-primary-link: var(--tcds-color-link-default);
  --tcds-color-primary-link-hover: var(--tcds-color-link-hover-default);
  --tcds-color-primary-highlight: var(--tcds-color-shade-x-weak);

  --tcds-color-secondary-background: var(--tcds-color-blue-x-light);
  --tcds-color-secondary-text: var(--tcds-color-blue-dark);
  --tcds-color-secondary-link: var(--tcds-color-link-default);
  --tcds-color-secondary-link-hover: var(--tcds-color-link-hover-default);
  --tcds-color-secondary-highlight: var(--tcds-color-shade-x-weak);

  --tcds-color-tertiary-background: var(--tcds-color-gray-x-light);
  --tcds-color-tertiary-text: var(--tcds-color-blue-dark);
  --tcds-color-tertiary-link: var(--tcds-color-link-default);
  --tcds-color-tertiary-link-hover: var(--tcds-color-link-hover-default);
  --tcds-color-tertiary-highlight: var(--tcds-color-shade-x-weak);
}
