[data-theme="light"] {
  --tcds-color-text: var(--tcds-color-gray-dark);
}

[data-theme="dark"] {
  --tcds-color-text: var(--tcds-color-white);
}

[class*="bg-"],
[class*="text-"] {
  color: var(--tcds-color-text);
}

.bg-primary[data-theme] {
  --tcds-color-link: var(--tcds-color-primary-link);
  --tcds-color-link-hover: var(--tcds-color-primary-link-hover);
  --tcds-color-highlight: var(--tcds-color-primary-highlight);
  --tcds-color-text: var(--tcds-color-primary-text);

  background-color: var(--tcds-color-primary-background);
}

.bg-secondary[data-theme] {
  --tcds-color-link: var(--tcds-color-secondary-link);
  --tcds-color-link-hover: var(--tcds-color-secondary-link-hover);
  --tcds-color-highlight: var(--tcds-color-secondary-highlight);
  --tcds-color-text: var(--tcds-color-secondary-text);

  background-color: var(--tcds-color-secondary-background);
}

.bg-tertiary[data-theme] {
  --tcds-color-link: var(--tcds-color-tertiary-link);
  --tcds-color-link-hover: var(--tcds-color-tertiary-link-hover);
  --tcds-color-highlight: var(--tcds-color-tertiary-highlight);
  --tcds-color-text: var(--tcds-color-tertiary-text);

  background-color: var(--tcds-color-tertiary-background);
}

.bg-white {
  --tcds-color-text: var(--tcds-color-gray-dark);

  background-color: #fff;
}

.text-primary {
  --tcds-color-text: var(--tcds-color-primary);

  [data-theme="dark"] & {
    --tcds-color-text: var(--tcds-color-red-light);
  }
}

.text-secondary {
  --tcds-color-text: var(--tcds-color-secondary);

  [data-theme="dark"] & {
    --tcds-color-text: var(--tcds-color-blue-light);
  }
}

.text-tertiary {
  --tcds-color-text: var(--tcds-color-tertiary);

  [data-theme="dark"] & {
    --tcds-color-text: var(--tcds-color-gray-light);
  }
}

.text-white {
  --tcds-color-text: #fff;
}
