{% extends "@tcds/components/component/component.html.twig" %}

{% set component_name = "Hero" %}

{% set root_element = "section" %}

{% block root_attributes %}
  {% if backgrounds|length == 1 %}
    style="background-image: url('{{ backgrounds[0] }}')"
  {% elseif backgrounds|length > 1 %}
    data-background-images="{% for background in backgrounds %}{{ background }} {% endfor %}"
  {% endif %}
{% endblock %}

{% block inner_content %}
  <div class="Hero__content">
    {% if block("start") %}
      <div class="column">
        {% block start %}{% endblock %}
      </div>
    {% endif %}

    <div class="column">
      {% if heading %} <p class="Hero__heading">{{ heading|raw }}</p> {% endif %}
      {% if subheading %} <p class="Hero__subheading">{{ subheading|raw }}</p> {% endif %}
      {% block content %}{% endblock %}
    </div>
  </div>
{% endblock %}
