@use "../typography/abstracts/mixins" as *;

:where(h1) {
  @include h1();
}

:where(h2) {
  @include h2();
}

:where(h3) {
  @include h3();
}

:where(h4) {
  @include h4();
}

:where(h5) {
  @include h5();
}

:where(h6) {
  @include h6();
}

:is(h1, h2, h3, h4, h5, h6) {
  :where(&:first-child:not(:only-child)) {
    margin: 0 0 1.5rem;
  }

  :where(&:not(:first-child)) {
    margin: 1.5rem 0;
  }
}

:where(:not(h1, hr) + h2),
:where(:not(h2, hr) + h3),
:where(:not(h3, hr) + h4) {
  margin-top: 3rem;
}
