[role="tabpanel"] {
  padding: var(--tcds-tabpanel-padding, var(--tcds-tabpanel-padding-block-start, var(--tcds-space-normal)) 0 0);
  border-bottom-left-radius: var(--tcds-tab-border-radius);
  border-bottom-right-radius: var(--tcds-tab-border-radius);
}
