/* stylelint-disable custom-property-empty-line-before */

:root {
  --tcds-font-sans-serif: "Poppins", "Helvetica Neue", "Helvetica", system-ui, sans-serif;
  --tcds-font-serif: "Calluna", serif;

  --tcds-font-display: var(--tcds-font-serif);
  --tcds-font-headings: var(--tcds-font-serif);
  --tcds-font-copy: var(--tcds-font-sans-serif);
  --tcds-font-ui: var(--tcds-font-sans-serif);

  --tcds-font-weight-normal: 400;
  --tcds-font-weight-semibold: 600;
  --tcds-font-weight-bold: 700;

  --tcds-line-height-x-tight: 1;
  --tcds-line-height-tight: 1.2;
  --tcds-line-height-normal: 1.75;
  --tcds-line-height-loose: 2;
  --tcds-line-height-x-loose: 2.5;

  --tcds-font-size-scaler: 0.9;
  --tcds-font-size-x-small: 0.75rem;
  --tcds-font-size-small: 0.875rem;
  --tcds-font-size-medium: 1rem;
  --tcds-font-size-medium-plus: calc(var(--tcds-font-size-scaler) * 1.125rem);
  --tcds-font-size-large: calc(var(--tcds-font-size-scaler) * 1.5rem);
  --tcds-font-size-x-large: calc(var(--tcds-font-size-scaler) * 2rem);
  --tcds-font-size-xx-large: calc(var(--tcds-font-size-scaler) * 3rem);
  --tcds-font-size-xxx-large: calc(var(--tcds-font-size-scaler) * 6rem);

  @media (--above-medium) {
    --tcds-font-size-scaler: 1;
  }
}
