@use "sass:list";
@use "../layout/variables" as *;

.text-center {
  text-align: center;
}

@each $breakpoint, $width in $breakpoints {
  @media (--above-#{$breakpoint}) {
    .above-#{$breakpoint}\:text-center {
      text-align: center;
    }
  }

  @media (--below-#{$breakpoint}) {
    .below-#{$breakpoint}\:text-center {
      text-align: center;
    }
  }
}

@each $font in ("sans-serif", "serif", "display", "headings", "copy", "ui") {
  .font-#{$font} {
    font-family: var(--tcds-font-#{$font});
  }
}

@each $weight in ("normal", "semibold", "bold") {
  .font-weight-#{$weight} {
    font-weight: var(--tcds-font-weight-#{$weight});
  }
}

@each $size in ("x-small", "small", "medium", "medium-plus", "large", "x-large", "xx-large", "xxx-large") {
  .font-size-#{$size} {
    font-size: var(--tcds-font-size-#{$size});

    @if list.index(("xx-large", "x-large", "large"), $size) {
      line-height: var(--tcds-line-height-tight);
    }

    @if list.index(("medium-plus", "medium", "small", "x-small"), $size) {
      line-height: var(--tcds-line-height-normal);
    }
  }
}

@each $height in ("x-tight", "tight", "normal", "loose", "x-loose") {
  .line-height-#{$height} {
    line-height: var(--tcds-line-height-#{$height});
  }
}
