@use "sass:list";
@use "sass:map";
@use "color.json";

:root {
  @each $name, $values in color.$library {
    @each $value in $values {
      $index: list.index($values, $value);
      $discriminator: if($index == 1, "", "-#{$index}");

      #{"--tcds-color-#{$name}" + $discriminator}: #{$value};
    }
  }

  @each $alias, $color in color.$aliases {
    $color-map: map.get(color.$library, $color);

    @each $value in $color-map {
      $index: list.index($color-map, $value);
      $discriminator: if($index == 1, "", "-#{$index}");

      #{"--tcds-color-#{$alias}" + $discriminator}: var(--tcds-color-#{$color + $discriminator});
    }
  }
}

:root,
[data-theme="light"] {
  @each $alias, $scheme in map.get(color.$themes, "light") {
    // Make default out of light secondary.
    @if $alias == "secondary" {
      @each $element, $color in $scheme {
        #{"--tcds-color-#{$element}"}: var(--tcds-color-#{$color});
      }
    }

    @each $element, $color in $scheme {
      #{"--tcds-color-#{$alias}-#{$element}"}: var(--tcds-color-#{$color});
    }
  }
}

@mixin dark-props {
  @each $alias, $scheme in map.get(color.$themes, "dark") {
    // Make default out of dark secondary.
    @if $alias == "secondary" {
      @each $element, $color in $scheme {
        #{"--tcds-color-#{$element}"}: var(--tcds-color-#{$color});
      }
    }

    @each $element, $color in $scheme {
      #{"--tcds-color-#{$alias}-#{$element}"}: var(--tcds-color-#{$color});
    }
  }
}

[data-theme="dark"] {
  @include dark-props;
}

[data-theme="auto"] {
  @media (prefers-color-scheme: dark) {
    @include dark-props;
  }
}