@mixin cta-props() {
  --tcds-cta-font-family: var(--tcds-font-family-ui);
  --tcds-cta-font-size: var(--tcds-font-size-ml);
}

@mixin cta-primary-props {
  --tcds-cta-background-color: var(--tcds-color-theme-accent);
}

@mixin cta-secondary-props {
  --tcds-cta-background-color: transparent;
  --tcds-cta-foreground-color: var(--tcds-color-theme-foreground);
  --tcds-cta-foreground-color-hover: var(--tcds-color-theme-foreground);
  --tcds-cta-secondary-icon-size: 1.25em;
  --tcds-cta-secondary-icon-background-color: var(--tcds-color-theme-neutral-background);
  --tcds-cta-secondary-icon-background-color-hover: var(--tcds-color-theme-accent);
  --tcds-cta-secondary-icon-foreground-color: var(--tcds-color-theme-accent);
  --tcds-cta-secondary-icon-foreground-color-hover: var(--tcds-color-theme-dark-foreground);
}

:root {
  @include cta-props();
}

.tcds-cta {
  display: inline-grid;
  font-family: var(--tcds-cta-font-family);
  font-size: var(--tcds-cta-font-size);
  background-color: var(--tcds-cta-background-color);
  color: var(--tcds-cta-foreground-color);
  cursor: pointer;
  position: relative;
  z-index: 1;

  &:hover {
    background-color: var(--tcds-cta-background-color-hover);
    color: var(--tcds-cat-foreground-color-hover);
  }

  &--secondary {
    @include cta-secondary-props();

    grid-template-columns: max-content var(--tcds-cta-secondary-icon-size);
    gap: var(--tcds-space-component-xs);
    align-items: center;
    text-decoration: none;
    font-weight: var(--tcds-font-weight-semibold);

    &:hover,
    [data-hover-proxy="tcds-cta"]:hover & {
      --tcds-cta-foreground-color: var(--tcds-cta-foreground-color-hover);
      --tcds-cta-secondary-icon-background-color: var(--tcds-cta-secondary-icon-background-color-hover);
      --tcds-cta-secondary-icon-foreground-color: var(--tcds-cta-secondary-icon-foreground-color-hover);
    }

    &::before,
    &::after {
      content: "";
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      position: relative;
      top: 3%;
    }

    &::before {
      width: var(--tcds-cta-secondary-icon-size);
      height: var(--tcds-cta-secondary-icon-size);
      border-radius: var(--tcds-cta-secondary-icon-size);
      background-color: var(--tcds-cta-secondary-icon-background-color);
    }

    &::after {
      justify-self: center;
      width: 50%;
      aspect-ratio: var(--tcds-aspect-ratio-square);
      background-color: var(--tcds-cta-secondary-icon-foreground-color);
      mask-image: var(--tcds-icon-utility-caret-right);
      mask-position: center;
    }
  }
}
