<tcds-site-header>
  <a slot="logo" href="/" rel="home" title="Go home">
    <img src="tcds/dist/logos/tc-horizontal.svg" alt="Texas Children's" width="386" height="90">
  </a>

  <nav slot="primary-menu">
    <ul>
      <li>
        <details name="mega-menu">
          <summary>Our system</summary>
          <nav>
            <p>Our system content</p>
          </nav>
        </details>
      </li>

      <li>
        <details name="mega-menu">
          <summary>Patients &amp; families</summary>
          <nav>
            <p>Patients &amp; families content</p>
          </nav>
        </details>
      </li>

      <li>
        <details name="mega-menu">
          <summary>Health professionals</summary>
          <nav>
            <p>Health professionals content</p>
          </nav>
        </details>
      </li>

      <li>
        <details name="mega-menu">
          <summary>Researchers</summary>
          <nav>
            <p>Researchers content</p>
          </nav>
        </details>
      </li>

      <li>
        <details name="mega-menu">
          <summary>
            <tcds-icon>Search</tcds-icon>
          </summary>
          <nav>
            <p>Search content</p>
          </nav>
        </details>
      </li>
    </ul>
  </nav>

  <nav slot="utility-menu">
    <ul>
      <li>
        <a href="#">
          <tcds-icon icon="mychart"></tcds-icon>
          MyChart
        </a>
      </li>

      <li>
        <a href="#">Find a location</a>
      </li>

      <li>
        <a href="#">Refer a patient</a>
      </li>

      <li>
        <a href="#">Price transparency</a>
      </li>

      <li>
        <a href="#">Find a location</a>
      </li>

      <li>
        <a href="#" data-highlighted>Donate</a>
      </li>
    </ul>
  </nav>
</tcds-site-header>