:root {
  --tcds-site-header-height: 65px;
  --tcds-site-header-logo-width: 276px;

  @media (--above-s) {
    --tcds-site-header-height: 90px;
    --tcds-site-header-logo-width: 386px;
  }
}

tcds-site-header {
  display: grid;
  grid-template-columns: var(--tcds-site-header-logo-width) 1fr min-content 2rem;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "logo utility utility ."
    "logo primary search .";
  align-items: center;
  background-color: transparent;
  height: var(--tcds-site-header-height);
  position: relative;
  z-index: var(--tcds-z-index-site-header);

  @media (--above-m) {
    --tcds-site-header-menu-gap: 2rem;
  }
  
  &[scrolled] {
    --tcds-site-header-logo-background: none;
    --tcds-site-header-logo-filter: none;
  
    background-color: var(--tcds-color-white);
    box-shadow: var(--tcds-box-shadow-m) var(--tcds-box-shadow-shade-weak);
    position: sticky;
    top: 0;
    animation: tcds-site-header-slide-down 250ms var(--tcds-animation-productive-easing);
  
    @media (--above-m) {
      grid-template-rows: 0fr 1fr;
  
      #utility-menu {
        display: none;
      }
    }

    @keyframes tcds-site-header-slide-down {
      from {
        transform: translateY(-100%);
      }
    }
  }

  details summary {
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
  }
}

[id=site-header-logo] {
  grid-area: logo;
  display: flex;
  height: 100%;
  background-image: var(--tcds-site-header-logo-background, url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%20386%2090%27%3E%3Cpath%20style=%27fill%3A%20%23da2530%27%20d=%27M261,90c-1.2,0-2.4,0-3.7,0H0V0h386l-67.9,67.2c-6.9,6.9-15.1,12.4-24.1,16.2-8.8,3.8-18.3,6-27.9,6.5h-.2c-1.2,0-3.8,0-5,0Z%27%2F%3E%3C%2Fsvg%3E "));
  background-repeat: no-repeat;

  img {
    max-height: 100%;
    padding: 0 4rem 0 1rem;
    filter: var(--tcds-site-header-logo-filter, saturate(0) contrast(0) brightness(0) invert(1));

    @media (--above-s) {
      padding: 0 6.25rem 0 1rem;
    }
  }
}

details:is(#site-header-nav, #site-header-search) {
  @media (--below-m) {
    grid-row: 1 / -1;

    &[open] {
      position: fixed;
      inset: 0;
      z-index: 2;

      > summary {
        position: absolute;
        top: 1.75rem;
        right: 2rem;
        z-index: 1;
      }
  
      > div {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background-color: var(--tcds-color-white);
        padding: 4rem 0;
      }
    }
  }

  &[open],
  [open] {
    @media (--below-m) {
      --tcds-site-header-menu-toggle-icon: var(--tcds-icon-utility-x);
    }
  
    &::before {
      content: "";
      background: rgb(0 0 0 / 50%);
      position: fixed;
      inset: 0;
      top: var(--tcds-site-header-height);
    }

    &:is(#site-header-nav)::before {
      @media (--above-m) {
        display: none;
      }
    }
  
    [open]::before {
      @media (--below-m) {
        display: none;
      }
    }
  }

  > summary {
    width: 2rem;
    height: 2rem;
    background-color: currentcolor;
    mask: var(--tcds-site-header-menu-toggle-icon) no-repeat center;
    cursor: pointer;

    @media (--above-m) {
      width: 1rem;
      height: 1rem;
    }
  }
}

[id=site-header-nav] {
  --tcds-site-header-menu-toggle-icon: var(--tcds-icon-utility-hamburger);

  @media (--above-m) {
    display: contents;

    > summary {
      display: none;
    }

    > div {
      display: contents;
    }
  }

  @media (--below-m) {
    grid-column: 3 / 4;

    &:not([open]) {
      margin-left: 1rem;
    }
  }

  nav {
    grid-row: 1 / -1;
    margin-left: auto;

    ul {
      display: flex;
      align-items: center;
      list-style: none;
  
      @media (--above-m) {
        gap: var(--tcds-site-header-menu-gap);
        margin-left: auto;
      }

      li {
        a, summary {
          display: flex;
          align-items: center;
          gap: .5ch;
          cursor: pointer;
          color: var(--tcds-color-navy);
          font-family: var(--tcds-font-ui);
          font-size: var(--tcds-font-size-m);
          font-weight: var(--tcds-font-weight-semibold);
          text-decoration: none;
          user-select: none;
        }

        [open] summary,
        summary:hover,
        a:hover {
          color: var(--tcds-color-red);
        }

        a tcds-icon {
          --tcds-icon-size: 1.5em;

          transform: translateY(-9%);
        }
      }
    }
  }
}

[id=site-header-search] {
  --tcds-site-header-menu-toggle-icon: var(--tcds-icon-utility-search);

  grid-area: search;
  margin-left: var(--tcds-site-header-menu-gap);

  @media (--below-m) {
    grid-column: 2 / 3;
    margin-left: auto;
  }
}

#primary-menu {
  grid-area: primary;

  ul {
    li {
      summary, a {
        font-weight: var(--tcds-font-weight-bold);
      }

      [open] summary,
      summary:hover,
      a:hover {
        box-shadow: 0 4px 0 var(--tcds-color-red);
      }
    }
  }
}

#utility-menu {
  grid-area: utility;
  align-self: end;

  ul {
    li {
      a {
        font-size: var(--tcds-font-size-xs);

        &:not(:hover) {
          color: var(--tcds-color-gray-4);
        }

        &[data-highlighted] {
          background-color: var(--tcds-color-secondary);
          color: var(--tcds-color-white);
          padding: .25rem 1rem;
          border-radius: 1rem;
      
          &:hover {
            background-color: var(--tcds-color-primary);
          }
        }
      }
    }
  }
}

[id="site-header-search"] > div,
[id="primary-menu"] details > div {
  @media (--above-m) {
    position: absolute;
    top: var(--tcds-site-header-height);
    left: 0;
    width: 100%;
    padding: 2rem;
    background: #fff;
  }
}

[slot="primary-menu"] {
  --tcds-site-header-link-font-weight: var(--tcds-font-weight-bold);
  --tcds-site-header-link-font-size: var(--tcds-font-size-m);
  --tcds-site-header-link-color: var(--tcds-color-secondary);
  --tcds-site-header-link-hover-color: var(--tcds-color-secondary);
  --tcds-site-header-link-hover-box-shadow: 0 4px 0 var(--tcds-color-primary);

  grid-area: primary;

  @media (--below-m) {
    --tcds-site-header-list-flex-direction: column;
    --tcds-site-header-list-gap: 0;
    --tcds-site-header-item-border: 1px solid var(--tcds-color-gray);
    --tcds-site-header-link-padding: 1rem 0;
    --tcds-site-header-link-icon-display: block;

    padding: var(--tcds-site-header-primary-menu-padding, 4rem 0 2rem);
  }

  details {
    height: 100%;
    
    &[open] {
      --tcds-site-header-link-color: var(--tcds-color-primary);
      --tcds-site-header-link-icon: var(--tcds-icon-utility-minus);

      @media (--above-m) {
        --tcds-site-header-link-hover-color: var(--tcds-color-primary);
        --tcds-site-header-link-box-shadow: 0 4px 0 var(--tcds-color-primary);
      }
    }

    > summary {
      padding: var(--tcds-site-header-link-padding, .5rem 0);
      position: relative;
      z-index: 1;

      &::after {
        @media (--below-m) {
          content: "";
          display: var(--tcds-site-header-link-icon-display, none);
          background-color: var(--tcds-color-primary);
          mask: var(--tcds-site-header-link-icon, var(--tcds-icon-utility-plus)) no-repeat center;
          width: 1em;
          height: 1em;
          margin-left: auto;
        }
      }
    }

    > div {
      @media (--above-m) {
        position: absolute;
        top: var(--tcds-site-header-height);
        left: 0;
        width: 100%;
        background-color: var(--tcds-color-white);
        z-index: 2;
      }

      @media (--below-m) {
        position: relative;
        padding: 2rem 0;
        box-shadow: inset 0 20px 15px -20px var(--tcds-box-shadow-shade-weak);
      }
    }
  }
}

[slot="utility-menu"] {
  --tcds-site-header-link-font-weight: var(--tcds-font-weight-semibold);
  --tcds-site-header-link-font-size: var(--tcds-font-size-xs);
  --tcds-site-header-link-color: var(--tcds-color-gray-4);
  --tcds-site-header-link-hover-color: var(--tcds-color-primary);

  grid-area: utility;
  align-self: end;

  @media (--below-m) {
    --tcds-site-header-item-flex: 1 0 33%;
    --tcds-site-header-link-display: inline-flex;
    --tcds-site-header-list-flex-wrap: wrap;
    --tcds-site-header-list-gap: 1.5rem 0;
    --tcds-site-header-link-font-size: var(--tcds-font-size-m);

    padding: 2rem 0;
    background-color: var(--tcds-color-baby-blue);
  }

  tcds-icon {
    --tcds-icon-size: 1.6em;

    position: relative;
    top: -2px;
  }
}

:is([slot="primary-menu"], [slot="utility-menu"]) {
  @media (--above-m) {
    margin: 0 2rem 0 auto;
  }

  > ul {
    display: flex;
    flex-direction: var(--tcds-site-header-list-flex-direction, row);
    flex-wrap: var(--tcds-site-header-list-flex-wrap);
    gap: var(--tcds-site-header-list-gap, 2rem);
    list-style: none;
    margin: 0;

    @media (--below-m) {
      width: min(100% - 2rem, var(--tcds-breakpoint-xs));
      margin: 0 auto;
    }

    > li {
      flex: var(--tcds-site-header-item-flex);

      &:not(:last-of-type) {
        border-bottom: var(--tcds-site-header-item-border, none);
      }

      > a,
      > details > summary {
        box-shadow: var(--tcds-site-header-link-box-shadow, none);
        color: var(--tcds-site-header-link-color);
        font-family: var(--tcds-font-ui);
        font-weight: var(--tcds-site-header-link-font-weight);
        font-size: var(--tcds-site-header-link-font-size);
        text-decoration: none;
        line-height: 1;
        display: var(--tcds-site-header-link-display, flex);
        align-items: center;
        gap: .5rem;
        height: 100%;
        cursor: pointer;
        user-select: none;
        transition:
          color var(--tcds-animation-productive-duration) var(--tcds-animation-productive-easing),
          box-shadow var(--tcds-animation-productive-duration) var(--tcds-animation-productive-easing),
          background-color var(--tcds-animation-productive-duration) var(--tcds-animation-productive-easing);

        &:hover {
          @media (--above-m) {
            box-shadow: var(--tcds-site-header-link-hover-box-shadow, none);
            color: var(--tcds-site-header-link-hover-color);
          }
        }

        &:active {
          --tcds-site-header-link-color: var(--tcds-color-primary);
        }

        &[data-highlighted] {
          background-color: var(--tcds-color-secondary);
          color: var(--tcds-color-white);
          padding: .5rem 1rem;
          border-radius: 1rem;

          &:hover {
            background-color: var(--tcds-color-primary);
          }
        }
      }
    }
  }
}