details {
  --tcds-details-icon: var(--tcds-icon-utility-caret-right);

  &[open] {
    --tcds-details-icon-rotate: 90deg;
  }

  > summary {
    :where(&) {
      font-family: var(--tcds-font-family-ui);
      font-weight: var(--tcds-font-weight-semibold);
      font-size: var(--tcds-font-size-rem);
      padding: 1em 0;
      list-style: none;
      display: flex;
      gap: 0.5em;
      align-items: center;
      line-height: 1;
      cursor: pointer;
      user-select: none;

      &::before {
        content: "";
        display: block;
        width: 0.7em;
        height: 0.7em;
        background: currentcolor;
        mask: var(--tcds-details-icon) center no-repeat;
        transform: rotateZ(var(--tcds-details-icon-rotate, 0));
      }
    }

    &::-webkit-details-marker {
      display: none;
    }
  }
}
