@use "sass:map";
@use "../../../tcds-identity/dist/tokens" as identity;

/**
 * Wrapper function for getting from token map in identity package.
 */

@function tokens($keys...) {
  $value: map.get(identity.$tokens, $keys...);

  @if $value == null {
    @error "[tokens]: No value found in identity.$tokens for keys: #{$keys}";
  }

  @return $value;
}
