tcds-accordion,
tcds-accordion-section,
tcds-card,
tcds-carousel,
tcds-slide,
tcds-icon,
tcds-tabs,
tcds-tab {
  &:not(:defined) {
    visibility: hidden;
    animation: tcds-component-reveal 1ms ease forwards;
    animation-delay: 1s;

    &:not([hidden]) {
      display: block;
    }

    @keyframes tcds-component-reveal {
      to {
        visibility: visible;
      }
    }
  }
}

tcds-mega-menu {
  &:not(:defined) {
    display: none;
  }
}
