.tcds-breadcrumb,
/* Legacy selector, do not use */
.coh-breadcrumb {
  font-family: var(--tcds-font-ui);
  font-size: var(--tcds-font-size-medium);
}

.tcds-breadcrumb :is(ul, ol),
/* Legacy selector, do not use */
:is(ul, ol).coh-breadcrumb {
  display: flex;
  list-style: none;

  li:not(:last-child)::after {
    content: "/";
    margin: 0 1ch;
    user-select: none;
  }

  a:not(:hover) {
    text-decoration: none;
  }
}
