.tcds-resource-card {
  display: flex;
  width: 100%;
  aspect-ratio: 645 / 309;
  border-radius: var(--tcds-border-radius-lg);
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;

  a {
    position: absolute;
    inset: 0;
    display: inline-flex;
    align-items: end;
    gap: .5ch;
    padding: var(--tcds-space-component-lg);
    background-image: linear-gradient(0, rgb(0 0 0 / 80%) 0%, rgb(0 0 0 / 0%) 80%);
    font-size: var(--tcds-font-size-3xl);
    font-family: var(--tcds-font-family-ui);
    font-weight: var(--tcds-font-weight-ui);
    text-decoration: none;
    line-height: var(--tcds-line-height-normal);

    &:hover {
      --tcds-resource-card-caret-left: 2%;
    }

    span {
      max-width: 73%;
    }

    tcds-icon {
      position: relative;
      top: -8.5%;
      left: var(--tcds-resource-card-caret-left, 0);
      font-size: 55%;
      transition: left .3s var(--tcds-motion-easing-translate);
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    mask: linear-gradient(0, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%);
    backdrop-filter: blur(10px);
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
  }
}
