<header class="site-header">
  <div class="site-header__logo">
    <a href="{{ logo.link ?: "/" }}" rel="home" title="Go home">
      <img height="{{ logo.height ?: "150" }}" width="{{ logo.width ?: "160" }}" src="{{ logo.image ?: "https://unpkg.com/@txch/tcds/dist/images/logo.svg" }}" alt="Texas Children's logo">
    </a>
  </div>

  <tcds-button icon="only hamburger" round color="ghost" class="site-header__open-menu" controls="header-menu">Open menu</tcds-button>

  <div class="site-header__menu" id="header-menu">
    <tcds-button icon="only x" round color="ghost" class="site-header__close-menu" controls="header-menu">Close menu</tcds-button>

    {% block menus %}{% endblock %}
  </div>
</header>
