@use "sass:map";
@use "variables" as *;
@use "functions" as *;

@mixin breakpoint-above($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: breakpoint($breakpoint)) {
      @content;
    }
  } @else {
    @media (min-width: #{$breakpoint}) {
      @content;
    }
  }
}

@mixin breakpoint-below($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (max-width: breakpoint($breakpoint)) {
      @content;
    }
  } @else {
    @media (max-width: #{$breakpoint}) {
      @content;
    }
  }
}

@mixin max-width {
  margin: 0 auto;
  width: calc(100% - (var(--site-outer-gutter) * 2));
  max-width: breakpoint("x-large");
}

@mixin full-bleed($add-inner-gutter: true) {
  margin-left: calc(var(--container-gutter, var(--site-outer-gutter)) * -1);
  margin-right: calc(var(--container-gutter, var(--site-outer-gutter)) * -1);

  @if $add-inner-gutter == true {
    padding-left: var(--container-gutter, var(--site-outer-gutter));
    padding-right: var(--container-gutter, var(--site-outer-gutter));
  }
}
