.site-footer {
  font-family: var(--tcds-font-sans-serif);

  ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    gap: var(--tcds-space-normal);
    flex-wrap: wrap;
  }

  a:not(:hover) {
    text-decoration: none;
  }

  &__top {
    padding: 3rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;

    &::before {
      display: block;
      content: "";
      width: min(768px, 110vw);
      height: min(768px, 110vw);
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(25%, 25%);
      color: inherit;
      background: var(--tcds-color-shade-x-weak);
      mask: var(--tcds-icon-texas-childrens);
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      mask-size: contain;
    }

    a {
      color: var(--tcds-color-tint-strong);

      &:hover {
        color: #fff;
      }
    }

    hr {
      border-bottom-width: 1px;
      margin: 3rem 0;
    }
  }

  &__primary-menu {
    text-align: left;

    h3 {
      font-size: var(--tcds-font-size-medium-plus);
      font-weight: var(--tcds-font-weight-bold);
      font-family: inherit;
      color: #fff;
      margin-bottom: var(--tcds-space-x-loose);
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: var(--tcds-space-x-tight);

      a {
        font-size: var(--tcds-font-size-small);
      }
    }
  }
  
  &__social {
    font-family: var(--tcds-font-copy);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--tcds-space-loose);
    flex-wrap: wrap;

    p {
      margin: 0;
      color: var(--tcds-color-tint-strong);
    }

    ul {
      gap: var(--tcds-space-normal);
      justify-content: center;
    }
  }

  &__legal {
    background-color: #fff;
    border-bottom: 8px solid var(--tcds-color-primary);
    padding: 3rem 0;
  
    .max-width {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
      gap: var(--tcds-space-loose);
    }
  }

  &__branding {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: var(--tcds-space-loose);
  }

  &__logo-link {
    display: block;
    text-decoration: none;
    margin-bottom: var(--tcds-space-normal);
  }

  &__copyright {
    color: var(--tcds-color-gray);
  }

  &__secondary-menu {
    display: flex;
    align-self: start;
    grid-column: span 2;
    margin-bottom: var(--tcds-space-normal);

    @media (--above-x-large) {
      justify-self: end;
    }

    ul {
      column-gap: var(--tcds-space-x-loose);
      row-gap: var(--tcds-space-normal);
    }

    li {
      font-size: var(--tcds-font-size-small);
      font-weight: var(--tcds-font-weight-semibold);
    }

    a {
      color: var(--tcds-color-blue-dark);

      &:hover {
        color: var(--tcds-color-red);
      }
    }
  }

  &__fine-print {
    font-size: var(--tcds-font-size-x-small);
    color: var(--tcds-color-gray);
  }
}