@use "sass:string";
@use "_variables" as *;
@use "_functions" as *;

/**
 * A mixin for generating responsive font sizes and automatically providing the
 * appropriate line-height based on the font-size.
 *
 * 1. A static fallback for browsers that do not support `clamp`.
 * 2. Set a tight line-height for font sizes xx-large through medium-plus.
 * 3. Set a normal line-height for font sizes medium through x-small.
 */
@mixin font-size($font-size, $responsive: true, $custom-property: false) {
  font-size: font-size($font-size); // 1

  @if $custom-property {
    font-size: var(#{string.unquote($custom-property)}, #{font-size($font-size, $responsive: true)});
  } @else {
    font-size: font-size($font-size, $responsive: true);
  }

  @if index(("xx-large", "x-large", "large", "medium-plus"), $font-size) {
    line-height: line-height("tight"); // 2
  }

  @if index(("medium", "small", "x-small"), $font-size) {
    line-height: line-height("normal"); // 3
  }
} 