@use "../_all" as *;

.text-center {
  text-align: center;
}

@each $token, $value in $font-weights {
  .text-#{$token} {
    font-weight: $value;
  }
}

@each $token, $value in $font-sizes {
  .text-#{$token} {
    font-size: $value;
  }
}

@each $token, $value in $font-stacks {
  .font-#{$token} {
    font-family: $value;
  }
}