@use "../_all" as *;

/**
 * 1. Make padding add to the box's total dimensions, rather than pushing
 *    content inwards (as in `box-sizing: border-box`).
 * 2. Set the minimum height to 100% of the viewport height, minus top and
 *    bottom padding (so the total height isn't 100% plus padding). Then, if
 *    defined, subtract the height of the site's header, which will be added as
 *    top padding in [4].
 * 4. Set the top padding to the height of the site header (to be pulled up by
 *    the same amount in [5]), plus whatever additional top padding is
 *    specified.
 * 5. Pull the hero up with a negative top margin, by the height of the site
 *    header (so that the header overlays the hero).
 * 6. If the hero rotates between multiple background images, create a proper
 *    "crossfade" effect with a "darken" blend mode.
 */

.Hero {
  --_hero-base-height: 50vh;
  --_site-header-height: 0px;
  --hero-padding-bottom: 3rem;
  --hero-padding-top: 3rem;

  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  box-sizing: content-box; // 1
  min-height: calc(
    var(--hero-base-height, var(--_hero-base-height))
    - var(--hero-padding-top)
    - var(--hero-padding-bottom)
    - var(--site-header-height, var(--_site-header-height))
  ); // 3
  padding-top: calc(var(--site-header-height, var(--_site-header-height)) + var(--hero-padding-top)); // 4
  padding-bottom: var(--hero-padding-bottom);
  margin-top: calc(var(--site-header-height, var(--_site-header-height)) * -1); // 5
  z-index: 1;
  position: relative;
  color: #fff;

  &[data-background-images] {
    background-blend-mode: darken; // 6
    transition: background-image 3s;
  }

  &--full-height {
    --hero-base-height: 100vh;
  }
  
  @include motion-ok {
    &--parallax {
      background-attachment: fixed;
    }
  }

  /**
   * Increase contrast with the background image(s) by adding a darkened
   * overlay.
   */

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: color("shade");
  }

  &__headline {
    font-size: font-size("xx-large");
    font-weight: font-weight("semibold");
    line-height: 1.15;
    margin: 0;
  }

  &__tagline {
    font-size: font-size("medium-plus");
    width: 50%;
  }
}