@use "@txch/tcds-identity/dist/icons" as identity;

/**
 * Define icon tokens as `url()` values pointing to icon paths. Example:
 *   --tcds-icon-utility-check: url('../icons/utility/check.svg')
 *
 * @todo At some point we might get more clever with this (inlining base64
 * encoded SVGs, or maybe dynamic paths with an environment variable), but for
 * now we'll just assume (A) that the icons/ directory is placed in the same
 * spot as css/, and (B) that these custom properties will never be referenced
 * outside of TCDS stylesheets.
 */

:root {
  @each $category, $icons in identity.$icons {
    @each $icon in $icons {
      --tcds-icon-#{$category}-#{$icon}: url("../icons/#{$category}/#{$icon}.svg");
    }
  }
}
