.example {
  border: 1px solid var(--tcds-color-theme-edge);
  border-radius: var(--tcds-border-radius-sm);
  margin: 0 0 1.5em 0;
}

.example__result {
  padding: var(--tcds-space-component-md);
  border-bottom: 1px solid var(--tcds-color-theme-edge)
}

.example__howto {
  padding: 0 var(--tcds-space-component-md);

  a {
    display: block;
    padding-block: var(--tcds-space-component-md);
  }
}

.example__code {
  background: rgb(50 100 255 / 1%);
  font-size: var(--tcds-font-size-sm);
  line-height: var(--tcds-line-height-md);
  padding: var(--tcds-space-component-md);
  border: 1px solid rgb(0 0 0 / 5%);
  border-radius: var(--tcds-border-radius-md);
  overflow-x: auto;
}
