.playground {
  overflow: hidden;
  display: grid;
  grid-template-columns: 3fr 1fr;
  resize: vertical;
  width: 100%;
  height: 100dvh;
}

.playground__stage {
  padding: var(--tcds-space-component-lg);
  background: var(--tcds-color-theme-background);
  border-right: 1px solid var(--tcds-color-theme-edge);
  overflow-x: auto;
}

.playground__controls {
  padding: var(--tcds-space-component-md);
  height: 100%;
  overflow-y: auto;
}
