.tcds-submenu {
  ul {
    display: flex;
    flex-direction: column;
    margin: 0;

    ul {
      margin-left: 2ch;
    }

    li {
      > a,
      > span {
        display: flex;
        font-family: var(--tcds-font-ui);
        font-weight: var(--tcds-font-weight-semibold);
        text-decoration: none;
        color: var(--tcds-color-navy);
        padding: 1em .5em;
        border-bottom: 1px solid var(--tcds-color-gray);
        position: relative;

        &:hover {
          --tcds-submenu-link-hover-background: var(--tcds-color-pink);

          color: var(--tcds-color-red);
        }

        &::after {
          content: "";
          position: absolute;
          inset: .5em 0;
          border-radius: var(--tcds-border-radius-s);
          background-color: var(--tcds-submenu-link-hover-background);
          z-index: -1;
        }

        &.active {
          color: var(--tcds-color-red);
          font-weight: var(--tcds-font-weight-bold);

          &::before {
            content: "";
            width: 5px;
            background-color: currentcolor;
            display: block;
            position: relative;
            left: -.5em;
          }
        }
      }
    }
  }
}
