@use "../../scss/abstracts/mixins" as *;
@use "./abstracts/mixins" as *;

:root {
  --tcds-site-header-height: 65px;
  --tcds-site-header-logo-width: 276px;

  scroll-padding-top: calc(var(--tcds-site-header-height) + 1rem);

  @include breakpoint("sm") {
    --tcds-site-header-height: 90px;
    --tcds-site-header-logo-width: 386px;
  }
}

tcds-site-header {
  --tcds-site-header-toggle-color: var(--tcds-color-palette-gray-700);
  --tcds-site-header-link-color: var(--tcds-color-palette-gray-700);
  --tcds-site-header-link-color-hover: var(--tcds-color-palette-red-700);

  display: grid;
  grid-template-columns: var(--tcds-site-header-logo-width) 1fr min-content 2rem;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "logo utility utility ."
    "logo primary search .";
  align-items: center;
  background-color: transparent;
  height: var(--tcds-site-header-height);
  position: relative;
  z-index: var(--tcds-z-index-site-header);

  @include breakpoint("lg") {
    --tcds-site-header-menu-gap: var(--tcds-space-component-lg);
  }

  &[open] {
    background: var(--tcds-color-palette-white);
  }

  &[scrolled] {
    --tcds-site-header-logo-background: none;
    --tcds-site-header-logo-filter: none;

    background-color: var(--tcds-color-palette-white);
    box-shadow: var(--tcds-box-shadow-md);
    position: sticky;
    top: 0;
    animation: tcds-site-header-slide-down 250ms var(--tcds-motion-easing-translate);

    @include breakpoint("lg") {
      grid-template-rows: 0fr 1fr;

      [data-part=utility-menu] {
        display: none;
      }
    }

    @keyframes tcds-site-header-slide-down {
      from {
        // Have to use top instead of translate here because it messes with
        // details[open] { position: fixed } below.
        top: calc(var(--tcds-site-header-height) * -1);
      }
    }
  }

  &[data-mode="dark"],
  &:has(+ section[data-mode="dark"]) {
    &:not([scrolled], [open]) {
      @include dark-header;
    }
  }

  @media (prefers-color-scheme: dark) {
    &[data-mode="auto"],
    &:has(+ section[data-mode="auto"]) {
      &:not([scrolled], [open]) {
        @include dark-header;
      }
    }
  }

  @include breakpoint("", "lg") {
    > details:not([open]) > summary {
      color: var(--tcds-site-header-toggle-color);
    }
  }

  @include breakpoint("lg") {
    > details > summary {
      color: var(--tcds-site-header-toggle-color);
    }
  }

  details {
    summary {
      &::before {
        display: none;
      }
    }
  }

  [slot=logo] {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 25%;
    height: 100%;
    background-image: var(--tcds-site-header-logo-background, url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%20386%2090%27%3E%3Cpath%20style=%27fill%3A%20%23da2530%27%20d=%27M261,90c-1.2,0-2.4,0-3.7,0H0V0h386l-67.9,67.2c-6.9,6.9-15.1,12.4-24.1,16.2-8.8,3.8-18.3,6-27.9,6.5h-.2c-1.2,0-3.8,0-5,0Z%27%2F%3E%3C%2Fsvg%3E "));
    background-repeat: no-repeat;
    text-decoration: none;

    span {
      text-align: right;
      color: var(--tcds-color-brand-secondary);
      font-family: var(--tcds-font-family-ui);
      font-weight: var(--tcds-font-weight-semibold);
      font-size: var(--tcds-font-size-md);
    }

    img,
    span {
      filter: var(--tcds-site-header-logo-filter, saturate(0) contrast(0) brightness(0) invert(1));
    }
  }

  details:is([slot=menus], [slot=search]) {
    @include breakpoint("", "lg") {
      grid-row: 1 / -1;

      &[open] {
        position: fixed;
        inset: 0;
        z-index: 2;

        > summary {
          position: absolute;
          top: 1rem;
          right: 2rem;
          z-index: 1;
        }

        > div {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          background-color: var(--tcds-color-palette-white);
        }
      }
    }

    &[open],
    [open] {
      @include breakpoint("", "lg") {
        --tcds-site-header-menu-toggle-icon: var(--tcds-icon-utility-x);
      }

      &::before {
        content: "";
        background: rgb(0 0 0 / 50%);
        position: fixed;
        left: 0;
        right: 0;
        height: calc(100% - 4rem);
        margin-top: 4rem;
      }

      &:is([slot=menus])::before {
        @include breakpoint("lg") {
          display: none;
        }
      }

      [open]::before {
        @include breakpoint("", "lg") {
          display: none;
        }
      }
    }

    > summary {
      width: 2rem;
      height: 2rem;
      background-color: currentcolor;
      mask: var(--tcds-site-header-menu-toggle-icon) no-repeat center;
      cursor: pointer;

      @include breakpoint("lg") {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  /**
   * 1. This is necessary for Chrome, which has a `[pseudo=details-content]`
   *    element in `details` shadow DOM. For whatever reason, combining this
   *    selector in a selector list with `&` above breaks Firefox and Safari,
   *    even if the "invalid" selector is inside an `:is()` selector function.
   */
  [slot=menus] {
    --tcds-site-header-menu-toggle-icon: var(--tcds-icon-utility-hamburger);

    @include breakpoint("lg") {
      & {
        display: contents;
      }

      &::details-content { // 1
        display: contents;
      }

      > summary {
        display: none;
      }

      > div {
        display: contents;
      }
    }

    @include breakpoint("", "lg") {
      grid-column: 3 / 4;

      &:not([open]) {
        margin-left: 1rem;
      }
    }

    > div > nav {
      grid-row: 1 / -1;
      margin-left: auto;

      > ul {
        display: flex;

        @include breakpoint("lg") {
          gap: var(--tcds-site-header-menu-gap);
        }

        > li {
          > details > summary,
          > a {
            display: flex;
            align-items: center;
            gap: .5ch;
            cursor: pointer;
            color: var(--tcds-site-header-link-color);
            font-family: var(--tcds-font-family-ui);
            font-size: var(--tcds-font-size-md);
            font-weight: var(--tcds-font-weight-bold);
            line-height: 1;
            text-decoration: none;
            user-select: none;
          }

          > [open] > summary,
          > details > summary:hover,
          > a:hover {
            color: var(--tcds-site-header-link-color-hover);
          }

          > a > tcds-icon {
            --tcds-icon-size: 1.5em;

            transform: translateY(-9%);
          }
        }
      }
    }

    [data-part=primary-menu]:not(:only-child) {
      grid-area: primary;
      align-self: start;
    }

    [data-part=utility-menu] {
      &:not(:only-child) {
        grid-area: utility;
        align-self: center;
      }

      @include breakpoint("", "lg") {
        padding: 3rem 0;
        background: var(--tcds-color-palette-blue-50);
      }

      > ul {
        @include breakpoint("", "lg") {
          gap: 1rem 0;
          flex-wrap: wrap;
          width: min(100vw - 2rem, var(--tcds-size-breakpoint-xs));
          margin: 0 auto;
        }

        > li {
          display: flex;

          @include breakpoint("", "lg") {
            flex: 1 0 33%;

            &:nth-child(3n+1) {
              text-align: left;
              justify-content: start;
            }

            &:nth-child(3n+2) {
              text-align: center;
              justify-content: center;
            }

            &:nth-child(3n+3) {
              text-align: right;
              justify-content: end;
            }
          }

          > a {
            font-size: var(--tcds-font-size-xs);

            @include breakpoint("", "lg") {
              font-size: var(--tcds-font-size-md);
            }

            &:not(:hover) {
              color: var(--tcds-site-header-utility-link-color, var(--tcds-site-header-link-color, var(--tcds-color-palette-blue-900)));
            }

            &[data-highlighted] {
              background-color: var(--tcds-site-header-highlight-background, var(--tcds-color-brand-secondary));
              color: var(--tcds-color-palette-white);
              padding: .5rem 1rem;
              border-radius: 1rem;

              &:hover {
                background-color: var(--tcds-color-brand-primary);
              }
            }
          }
        }
      }
    }
  }

  [slot=search] {
    --tcds-site-header-menu-toggle-icon: var(--tcds-icon-utility-search);

    margin-left: var(--tcds-site-header-menu-gap);
    align-self: center;
    grid-row: 1 / -1;

    @at-root tcds-site-header [slot=menus]:has(div > :nth-child(2)) + [slot=search] {
      @include breakpoint("lg") {
        grid-area: search;
        align-self: start;
      }
    }

    @include breakpoint("", "lg") {
      grid-column: 2 / 3;
      margin-left: auto;
    }
  }

  nav:not([data-part=utility-menu]) {
    @include breakpoint("", "lg") {
      padding: 4rem 0;
    }

    > ul {
      @include breakpoint("", "lg") {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin: 0;
      }

      > li {
        @include breakpoint("", "lg") {
          width: 100%;
        }

        > details > summary,
        > a {
          @include breakpoint("lg") {
            padding: .5rem 0;
          }

          @include breakpoint("", "lg") {
            font-size: var(--tcds-font-size-md);
          }
        }

        > [open] > summary,
        > details > summary:hover,
        > a:hover {
          @include breakpoint("lg") {
            box-shadow: 0 4px 0 var(--tcds-color-palette-red-700);
          }
        }

        > details {
          @include breakpoint("", "lg") {
            position: relative;
            z-index: 1;
          }

          &[open] {
            --tcds-site-header-details-icon: var(--tcds-icon-utility-minus);

            &::after {
              @include breakpoint("", "lg") {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 3rem;
                height: 2.5rem;
                background-image: linear-gradient(0deg, var(--tcds-color-palette-white) 0%, rgb(246, 246, 246) 100%);
                z-index: -1;
              }
            }
          }

          > div {
            @include breakpoint("", "lg") {
              padding: 2rem 0;
            }
          }
        }

        > details > summary,
        > details > div,
        > a {
          @include breakpoint("", "lg") {
            width: min(100vw - 4rem, var(--tcds-size-breakpoint-xs));
            margin: 0 auto;
          }
        }

        > details > summary,
        > a {
          @include breakpoint("", "lg") {
            padding: 1rem 0;

            &::after {
              content: "";
              background-color: var(--tcds-color-brand-primary);
              mask: var(--tcds-site-header-details-icon, var(--tcds-icon-utility-plus)) no-repeat center;
              width: 1em;
              height: 1em;
              margin-left: auto;
            }
          }
        }

        > a {
          --tcds-site-header-details-icon: var(--tcds-icon-utility-caret-right);
        }
      }

      li:not(:last-of-type) *:not([open]) > summary,
      li:not(:last-of-type) a {
        @include breakpoint("", "lg") {
          border-bottom: 1px solid var(--tcds-color-palette-gray-200);
        }
      }
    }
  }

  [slot=search] > div,
  [data-part=primary-menu] details > div {
    @include breakpoint("lg") {
      position: absolute;
      top: var(--tcds-site-header-height);
      left: 0;
      width: 100%;
      padding: 2rem;
      background: var(--tcds-color-palette-white);
    }
  }
}

