$static-path: "../" !default;

@font-face {
  font-family: mont;
  src: url("#{$static-path}fonts/mont/mont-400.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: mont;
  src: url("#{$static-path}fonts/mont/mont-400i.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: mont;
  src: url("#{$static-path}fonts/mont/mont-600.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: mont;
  src: url("#{$static-path}fonts/mont/mont-600i.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: mont;
  src: url("#{$static-path}fonts/mont/mont-700.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: mont;
  src: url("#{$static-path}fonts/mont/mont-700i.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
