@use "../abstracts/mixins" as *;

:root {
  --tcds-site-inner-gutter: var(--tcds-space-6);
  --tcds-site-container-max-width: var(--tcds-size-layout-lg);

  @include breakpoint("md") {
    --tcds-site-inner-gutter: var(--tcds-space-8);
  }
}
