@use "sass:list";
@use "sass:map";
@use "../../build/output/config" as config;
@use "../../build/output/icons" as icons;

:root {
  @each $category, $icons in icons.$library {
    @each $icon in $icons {
      #{"--tcds-icon-#{$category}-#{$icon}"}: url("#{config.$public-path}/icons/#{$category}/#{$icon}.svg");
    }
  }
}
