@use "sass:list";
@use "sass:map";
@use "@txch/identity/dist/scss/tokens" as identity;

.tcds-icon {
  display: inline-flex;
  vertical-align: middle;

  $icons: map.get(identity.$tokens, "icon");

  @each $category, $category-icons in $icons {
    @each $icon, $value in $category-icons {
      &--#{$icon},
      &--#{$icon}#{&}--#{$category} {
        --tcds-icon: var(--tcds-icon-#{$category}-#{$icon});
      }
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 0.75em;
    width: 0.75em;
    background: currentcolor;
    mask: var(--tcds-icon) no-repeat center;
  }
}
