@use "sass:list";
@use "sass:map";
@use "../../scripts/output/icons.scss" as icons;

.tcds-icon {
  @each $category, $icons in icons.$library {
    @each $icon in $icons {
      &--#{$icon},
      &--#{$icon}#{&}--#{$category} {
        --tcds-icon: var(--tcds-icon-#{$category}-#{$icon});
      }
    }
  }

  &::after {
    content: "";
    display: block;
    height: 1em;
    width: 1em;
    background: currentcolor;
    mask: var(--tcds-icon) no-repeat center;
  }
}
