@mixin cta-props-reverse() {
  --tcds-cta-background-color: var(--tcds-color-theme-accent-text-primary);
  --tcds-cta-text-color: var(--tcds-color-theme-accent);
  --tcds-cta-background-color-hover: var(--tcds-color-theme-accent);
  --tcds-cta-text-color-hover: var(--tcds-color-palette-white);
}

@mixin cta-props-large() {
  --tcds-cta-padding: 1.25rem;
  --tcds-cta-font-size: var(--tcds-font-size-lg);
}

@mixin cta-props-outline {
  --tcds-cta-background-color: transparent;
  --tcds-cta-text-color: var(--tcds-color-theme-accent);
  --tcds-cta-border-color: var(--tcds-color-theme-accent);

  &:hover {
    --tcds-cta-border-color-hover: var(--tcds-cta-background-color);
  }
}

@mixin cta-style($color: false, $size: false) {
  @if $color == "reverse" {
    @include cta-props-reverse();
  } @else {
    --tcds-cta-background-color: var(--tcds-color-theme-accent);
    --tcds-cta-text-color: var(--tcds-color-theme-accent-text-primary);
    --tcds-cta-background-color-hover: color-mix(in oklab, var(--tcds-color-theme-accent), rgb(0 0 0) 10%);
    --tcds-cta-text-color-hover: var(--tcds-color-theme-accent-text-primary);
  }

  @if $size == "large" {
    @include cta-props-large();
  } @else {
    --tcds-cta-padding: 1.125rem 2rem;
    --tcds-cta-font-size: var(--tcds-font-size-md);
  }

  background-color: var(--tcds-cta-background-color);
  border: 2px solid var(--tcds-cta-border-color, var(--tcds-cta-background-color));
  color: var(--tcds-cta-text-color);
  font-weight: var(--tcds-font-weight-ui);
  padding: var(--tcds-cta-padding);
  border-radius: 5rem;
  display: inline-flex;
  gap: .75rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  transition:
    background-color var(--tcds-motion-duration-productive) var(--tcds-motion-easing-translate),
    border-color var(--tcds-motion-duration-productive) var(--tcds-motion-easing-translate),
    color var(--tcds-motion-duration-productive) var(--tcds-motion-easing-translate);

  &:hover,
  [data-pointer-event-proxy=".tcds-cta"]:hover & {
    --tcds-cta-background-color: var(--tcds-cta-background-color-hover);
    --tcds-cta-text-color: var(--tcds-cta-text-color-hover);
    --tcds-cta-border-color: var(--tcds-cta-border-color-hover);
  }

  &::after {
    font-size: 1.8em;
  }

  tcds-icon {
    font-size: .8em;
  }
}
