@use "../../abstracts/functions" as *;
@use "../../abstracts/mixins" as *;

/**
 * Spacing utilities (gap, margin, padding).
 */

/**
 * Gap utilities for flex box and grid.
 *
 * Based on space.layout tokens (xs, sm, md, lg, xl, e.g. `.gap-xl`).
 *
 * Breakpoint-based prefixes (xs, sm, md, lg, xl) can be applied to the classes
 * (e.g. `.md:gap-xl`).
 */

@include responsive-utils() using ($breakpoint) {
  @each $name, $value in tokens("space", "layout") {
    .#{$breakpoint}gap-#{$name} {
      gap: var(--tcds-space-layout-#{$name}) !important;
    }

    .#{$breakpoint}row-gap-#{$name} {
      row-gap: var(--tcds-space-layout-#{$name}) !important;
    }

    .#{$breakpoint}column-gap-#{$name} {
      column-gap: var(--tcds-space-layout-#{$name}) !important;
    }
  }
}

/**
 * Vertical rhythm utilities (margin and padding).
 *
 * Vertical (margin/padding-block), top (margin/padding-block-start), and bottom
 * (margin/padding-block-end) utilities are available, based on layout sizing
 * tokens (xs, sm, md, lg, xl). Example: `.padding-block-sm` or
 * `.margin-block-start-xl`.
 *
 * Breakpoint-based prefixes can be applied to the classes (xs, sm, md, lg, xl),
 * e.g. `.xs:padding-block-xs`
 */

@include responsive-utils() using ($breakpoint) {
  @each $name, $value in tokens("space", "layout") {
    .#{$breakpoint}padding-block-#{$name} {
      padding-block: var(--tcds-space-layout-#{$name}) !important;
    }

    .#{$breakpoint}padding-block-start-#{$name} {
      padding-block-start: var(--tcds-space-layout-#{$name}) !important;
    }

    .#{$breakpoint}padding-block-end-#{$name} {
      padding-block-end: var(--tcds-space-layout-#{$name}) !important;
    }

    .#{$breakpoint}margin-block-#{$name} {
      margin-block: var(--tcds-space-layout-#{$name}) !important;
    }

    .#{$breakpoint}margin-block-start-#{$name} {
      margin-block-start: var(--tcds-space-layout-#{$name}) !important;
    }

    .#{$breakpoint}margin-block-end-#{$name} {
      margin-block-end: var(--tcds-space-layout-#{$name}) !important;
    }
  }
}

/**
 * Horizontal auto-spacing utilities.
 *
 * `.margin-inline-auto` centers the element by applying auto-margin to both
 * left and right.
 *
 * `.margin-inline-start-auto` pushes the element all the way to the right if
 * inside a flex container, and vice versa, `.margin-inline-end-auto` pushes the
 * element all the way to the left.
 */

@include responsive-utils() using ($breakpoint) {
  .#{$breakpoint}margin-inline-auto {
    margin-inline: auto !important;
  }

  .#{$breakpoint}margin-inline-start-auto {
    margin-inline-start: auto !important;
  }

  .#{$breakpoint}margin-inline-end-auto {
    margin-inline-end: auto !important;
  }
}
