details {
  --tcds-details-icon: var(--tcds-icon-utility-caret-right);

  &[open] {
    --tcds-details-icon: var(--tcds-icon-utility-caret-down);
  }

  > summary {
    font-family: var(--tcds-font-ui);
    font-weight: var(--tcds-font-weight-semibold);
    padding: 1em 0;
    list-style: none;
    display: flex;
    gap: .5em;
    align-items: center;
    line-height: 1;
    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }

    &::before {
      content: "";
      display: block;
      width: .7em;
      height: .7em;
      background: currentcolor;
      mask: var(--tcds-details-icon) center no-repeat;
    }
  }
}