/**
 * This stylesheet belongs to the Content subsystem, so it is only concerned
 * with headings as they interrelate to other content (margin, etc.)
 *
 * For basic heading typography styles, refer to the Branding subsystem.
 * @see ../00-brand/typography/globals.scss
 */

:is(h1, h2, h3, h4, h5, h6) {
  :where(&:first-child:not(:only-child)) {
    margin: 0 0 1.5rem;
  }

  :where(&:not(:first-child)) {
    margin: 1.5rem 0;
  }
}

:where(:not(h1, hr) + h2),
:where(:not(h2, hr) + h3),
:where(:not(h3, hr) + h4) {
  margin-top: 3rem;
}