* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  overflow-x: hidden;
}

/**
 * 1. `display: block` invalidates `vertical-align: middle`, but we're still
 *    setting it in case `display` is overridden elsewhere.
 */
:where(audio, canvas, iframe, img, picture, svg, video) {
  display: block;
  vertical-align: middle; // 1
  max-width: 100%;

  :where(&:not([height])) {
    height: auto;
  }
}

/**
 * User agent-applied `display: none` on `[hidden]` elements can be easily and
 * unintentionally overriden if the element has any `display` property in an
 * author stylesheet, which isn't desired, so we'll set it explicitly here.
 */
 [hidden=""] {
  display: none !important;
}
