@use "sass:map";
@use "sass:string";
@use "layout.json";

@each $breakpoint, $value in layout.$breakpoints {
  @custom-media --above-#{$breakpoint} (min-width: #{$value}px);
  @custom-media --below-#{$breakpoint} (max-width: #{$value}px);
}

:root {
  @each $name, $value in layout.$aspect-ratios {
    --tcds-aspect-ratio-#{$name}: #{string.unquote($value)};
  }

  @each $name, $value in layout.$breakpoints {
    --tcds-breakpoint-#{$name}: #{$value}px;
  }

  @each $scale, $scheme in layout.$sizes {
    @each $name, $value in $scheme {
      --tcds-#{$scale}-#{$name}: calc(#{$value} * #{map.get(layout.$base-units, $scale)});
    }
  }

  @each $name, $value in layout.$z-indices {
    --tcds-z-index-#{$name}: #{$value};
  }

  --tcds-site-container-max-width: var(--tcds-breakpoint-m);
  --tcds-site-outer-gutter: 1rem;
  --tcds-content-inner-gutter: 2rem;
  
  @media (--above-s) {
    --tcds-site-outer-gutter: 2rem;
    --tcds-content-inner-gutter: 4rem;
  }
}
