/** REMOVE after migration to in-house lightbox **/

.gbtn {
  box-sizing: content-box;
}

/** END REMOVE **/

tcds-gallery {
  --tcds-gallery-columns: 3;

  display: grid;
  grid-template-columns: repeat(var(--tcds-gallery-columns), 1fr);
  gap: var(--tcds-space-loose);
  margin: var(--tcds-space-loose) 0;

  @media (min-width: 1200px) {
    --tcds-gallery-columns: 6;
  }

  + tcds-gallery::before {
    content: "";
    grid-column: 1 / -1;
    display: block;
    width: min(500px, 70%);
    height: 1px;
    background: var(--tcds-color-highlight);
    margin: 3.5rem auto;
  }

  > a {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: block;
    position: relative;

    > img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: transform var(--tcds-animation-expressive-duration) var(--tcds-animation-expressive-easing);
    }

    &:hover > img {
      transform: scale(1.1);
    }
  }
}
