.Button {
  $x-padding: 1em;
  $y-padding: .5em;

  /**
   * Base styles.
   *
   * 1. Remove excess space from text for more precise padding.
   * 2. Constrain absolute-positioned elements to within the button.
   * 3. In the event that the class is used on a link.
   * 4. Allow child elements to have a relative negative z-index.
   */
  appearance: none;
  display: inline-flex;
  align-items: center;
  background: theme-color("primary");
  border: 0;
  color: #fff;
  font: inherit;
  line-height: 1; // 1
  overflow: hidden;
  padding: $y-padding $x-padding;
  position: relative; // 2
  text-decoration: none; // 3
  transform: scale(var(--scale, 1)) translate(var(--translate, 0, 0));
  transition: transform animation("productive");
  white-space: nowrap;
  z-index: 1; // 4

  /** Qualifiers */
  @at-root :where(a#{&}) {
    cursor: pointer;
  }

  /** States */
  &:hover {
    --overlay-color: #{color("dark-2")};
    text-decoration: none; // 3
  }

  &:active {
    --overlay-color: #{color("dark-3")};
    --scale: .98;
  }

  /** Modifiers */
  &--small {
    font-size: font-size("min");
  }

  &--large {
    font-size: font-size("large-1");
  }

  &--round {
    border-radius: 2em;
  }

  &--full-width {
    display: flex;
    width: 100%;
  }

  &--icon-right {
    flex-direction: row-reverse;
    --icon-margin-top: #{$y-padding * -1};
    --icon-margin-right: #{$x-padding * -1};
    --icon-margin-bottom: #{$y-padding * -1};
    --icon-margin-left: #{$x-padding};
  }

  &--icon-only {
    --icon-background: none;
    --icon-margin-top: #{$y-padding * -1};
    --icon-margin-right: #{$x-padding * -1};
    --icon-margin-bottom: #{$y-padding * -1};
    --icon-margin-right: #{$x-padding * -1};
  }

  &--ghost {
    background: transparent;
    color: inherit;
    --icon-background: none;
  }

  &--ghost:not(#{&}--icon-right):not(#{&}--icon-only) {
    --icon-margin-right: 0;
  }

  &--ghost#{&}--icon-right {
    --icon-margin-left: 0;
  }

  /** Children */
  &::after {
    content: "";
    background: var(--overlay-color, transparent);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background animation("productive");
    z-index: -1;
  }

  &__icon {
    display: flex;
    align-items: center;
    background: var(--icon-background, #{color("dark-2")});
    margin:
      var(--icon-margin-top, #{$y-padding * -1})
      var(--icon-margin-right, #{$x-padding})
      var(--icon-margin-bottom, #{$y-padding * -1})
      var(--icon-margin-left, #{$x-padding * -1});
    padding: $y-padding;
  }

  svg,
  img {
    height: 1em;
    width: 1em;
  }
}