.tcds-section {
  --_tcds-container-gutter: var(--tcds-container-gutter, var(--tcds-site-inner-gutter));
  --_tcds-size-container: var(--tcds-size-container, var(--tcds-size-layout-lg));
  display: grid;
  grid-template-columns: minmax(var(--_tcds-container-gutter), 1fr) minmax(auto, calc(var(--_tcds-size-container) / 2)) minmax(auto, calc(var(--_tcds-size-container) / 2)) minmax(var(--_tcds-container-gutter), 1fr);
  grid-auto-rows: minmax(0, auto);
}
.tcds-section > * {
  grid-column: 2/span 2;
}
.tcds-section::before, .tcds-section::after {
  content: "";
  grid-column: 1/-1;
}
.tcds-section::before {
  order: -1;
  height: var(--tcds-section-padding-block-start, var(--tcds-section-padding-block, 3rem));
}
.tcds-section::after {
  order: 1;
  height: var(--tcds-section-padding-block-end, var(--tcds-section-padding-block, 3rem));
}
.tcds-section {
  background-color: var(--tcds-color-theme-background);
  color: var(--tcds-color-theme-foreground);
  --test: "var";
}