@mixin focus-style {
  box-shadow:
    0 0 0 1px #2d73bc,
    0 0 0 3px #d5e3ff;
  outline: none;
}

@mixin visually-hidden {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  position: absolute;
}