@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--site-background-color);
  overflow-x: hidden;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-numeric: lining-nums;
}

a,
button,
input,
select,
summary,
textarea {
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

img,
svg,
video {
  max-width: 100%;
  height: auto;

  @at-root {
    &,
    audio,
    canvas,
    iframe {
      vertical-align: middle;
    }
  }
}

[hidden] {
  display: none !important;
}

:focus-visible {
  @include focus-style;
}
