@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  overflow-x: hidden;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
button,
input,
select,
summary,
textarea {
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
  max-width: 100%;

  &:where(:not([height])) {
    height: auto;
  }
}

[hidden] {
  display: none !important;
}

:focus-visible {
  @include focus-style;
}