:host {
  --tcds-accordion-horizontal-padding: var(--tcds-space-loose);
  --tcds-color-text: var(--tcds-color-secondary);

  flex-direction: column;
  background: #fff;
  padding: var(--tcds-space-x-tight) var(--tcds-accordion-horizontal-padding) !important;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
  border-radius: 10px;
  contain: content;
}

:host(:not([hidden])) {
  display: flex;
}

[part="controls"] {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid var(--tcds-color-gray-light);
  margin: 0 calc(var(--tcds-accordion-horizontal-padding) * -1);
  padding: var(--tcds-space-x-tight);
}
