:host {
  display: flex;
  flex-direction: column;
}

[part="controls"] {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid var(--tcds-color-gray-light);
  padding: var(--tcds-space-x-tight) 0;
}
