tcds-accordion {
  &:not(:only-child) {
    margin: var(--tcds-space-normal) 0;

    &:first-child {
      margin: 0 0 var(--tcds-space-normal);
    }
  }

  tcds-accordion-section & {
    padding-left: var(--tcds-space-loose);
  }

  tcds-accordion-section &,
  &[size*="small"] {
    --tcds-accordion-heading-font-size: var(--tcds-font-size-medium);
    --tcds-accordion-heading-font-weight: var(--tcds-font-weight-normal);
  }
}
