@use "../../scss/abstracts/mixins" as *;

.tcds-section {
  --tcds-section-padding-block: var(--tcds-space-layout-lg);
  --tcds-section-padding-block-start: var(--tcds-section-padding-block);
  --tcds-section-padding-block-end: var(--tcds-section-padding-block);

  --_tcds-section-padding-block-start: var(--tcds-section-padding-block-start);
  --_tcds-section-padding-block-end: var(--tcds-section-padding-block-end);
  --_tcds-section-padding-block: var(--_tcds-section-padding-block-start) var(--_tcds-section-padding-block-end);

  background-color: var(--tcds-color-theme-background);
  color: var(--tcds-color-theme-foreground);
  overflow: clip;
  padding-block: var(--_tcds-section-padding-block);
  position: relative;
  z-index: 1;

  &--raised {
    --_tcds-section-padding-block-start: calc(var(--tcds-section-padding-block-start) + var(--tcds-site-header-height));

    margin-block-start: calc(var(--tcds-site-header-height) * -1);
  }

  p {
    @include breakpoint("md") {
      font-size: var(--tcds-font-size-ml);
    }
  }
}
