@use "@tcds" as *;

:root {
  --site-outer-gutter: #{space("x-loose")};
}

.max-width {
  @include max-width;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

@for $flex from 1 through 12 {
  .flex-#{$flex} {
    flex: $flex;
  }
}

.grid {
  --grid-columns-default: 12;
  --grid-columns: var(--grid-columns-default);

  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);

  @include breakpoint-above("small") {
    --above-small-grid-columns: var(--grid-columns-default);
    --grid-columns: var(--above-small-grid-columns);
  }

  @include breakpoint-above("medium") {
    --above-medium-grid-columns: var(--above-small-grid-columns);
    --grid-columns: var(--above-medium-grid-columns);
  }

  @include breakpoint-above("large") {
    --above-large-grid-columns: var(--above-medium-grid-columns);
    --grid-columns: var(--above-large-grid-columns);
  }

  @include breakpoint-above("x-large") {
    --above-x-large-grid-columns: var(--above-large-grid-columns);
    --grid-columns: var(--above-x-large-grid-columns);
  }
}

.column-full {
  grid-column: 1 / -1;
}

@for $column from 1 through 12 {
  .column-#{$column} {
    grid-column: span $column;
  }
}

@each $breakpoint, $x in $breakpoints {
  @include breakpoint-above($breakpoint) {
    .above-#{$breakpoint}\:column-full {
      grid-column: 1 / -1;
    }

    @for $column from 1 through 12 {
      .above-#{$breakpoint}\:column-#{$column} {
        grid-column: span $column;
      }
    }
  }
}

.justify-space-between {
  justify-content: space-between;
}

.justify-start,
.justify-left {
  justify-content: start;
}

.justify-end,
.justify-right {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-start,
.align-top {
  align-items: start;
}

.align-end,
.align-bottom {
  align-items: end;
}

.float-left {
  margin: 0 auto space("loose");

  @include breakpoint-above("small") {
    float: left;
    margin: 0 space("loose") space("loose") 0;
  }
}

.float-right {
  margin: 0 auto space("loose");

  @include breakpoint-above("small") {
    float: right;
    margin: 0 0 space("loose") space("loose");
  }
}

@each $space, $value in $spaces {
  .gap-#{$space} {
    gap: $value;
  }

  .row-gap-#{$space} {
    row-gap: $value;
  }

  .column-gap-#{$space} {
    column-gap: $value;
  }

  .margin-bottom-#{$space} {
    margin-bottom: $value;
  }
}

@each $breakpoint, $x in $breakpoints {
  @include breakpoint-below($breakpoint) {
    .hide-below-#{$breakpoint} {
      display: none !important;
    }
  }

  @include breakpoint-above($breakpoint) {
    .hide-above-#{$breakpoint} {
      display: none !important;
    }
  }
}

.is-self-responsive {
  container-type: width;
  width: 100%;
  height: 100%;
}
