/* stylelint-disable property-no-vendor-prefix */
:host {
  --tcds-section-vertical-padding: 7rem;
  --tcds-section-watermark-size: min(768px, 110vw);
  --tcds-section-watermark-y-offset: 25%;
  --tcds-section-watermark-color: var(--tcds-color-shade-x-weak);
  --tcds-section-heading-color: var(--tcds-color-primary);
  --tcds-section-text-align: left;

  position: relative;
  z-index: 1;
  background: transparent !important;
}

:host(:not([hidden])) {
  display: block;
}

:host([data-theme="dark"]) {
  --tcds-section-heading-color: #fff;
}

:host([data-theme="light"].bg-secondary) {
  --tcds-section-watermark-color: var(--tcds-color-blue-light);
}

:host([data-theme="light"].bg-primary) {
  --tcds-section-watermark-color: var(--tcds-color-red-light);
}

:host([has-background]) {
  --tcds-section-aspect-ratio: 4 / 3;
}

@media (min-width: 768px) {
  :host([has-background]) {
    --tcds-section-aspect-ratio: 16 / 9;
  }

  :host([has-background="video"]) {
    --tcds-section-aspect-ratio: 4 / 3;
  }
}

@media (min-width: 1200px) {
  :host([has-background]) {
    --tcds-section-aspect-ratio: 16 / 5;
  }

  :host([has-background="video"]) {
    --tcds-section-aspect-ratio: 16 / 9;
  }

  :host([has-video]) {
    --tcds-section-aspect-ratio: 16 / 7;
  }
}

@media (min-width: 1920px) {
  :host([has-background="video"]) {
    --tcds-section-aspect-ratio: 16 / 5;
  }
}

:host([image="bottom"]) {
  --tcds-section-padding-top: 3rem;
  --tcds-section-padding-bottom: 15rem;

  position: relative;
  display: grid;
  grid-template-areas:
    "content"
    "image";
  grid-template-rows: 3fr 1fr;
}

:host([watermark]) section {
  overflow: hidden;
  position: relative;
}

:host([watermark*="large"]) {
  --tcds-section-watermark-size: 127vw;
  --tcds-section-watermark-y-offset: 50%;
}

:host([class*="bg-"][watermark]) section::after {
  display: block;
  content: "";
  width: var(--tcds-section-watermark-size);
  height: var(--tcds-section-watermark-size);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%, var(--tcds-section-watermark-y-offset));
  color: inherit;
  background: var(--tcds-section-watermark-color);
  -webkit-mask: var(--tcds-icon-texas-childrens);
  mask: var(--tcds-icon-texas-childrens);
  -webkit-mask-position: 50% 50%;
  mask-position: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  opacity: 0.45;
  z-index: -1;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: var(--tcds-section-vertical-align, center);
  aspect-ratio: var(--tcds-section-aspect-ratio);
  z-index: 1;
  padding:
    var(--tcds-section-padding-top, var(--tcds-section-vertical-padding))
    0 var(--tcds-section-padding-bottom, var(--tcds-section-vertical-padding));
}

section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

:host([overlay*="darken"]) section::before {
  background-color: rgb(30 35 40 / var(--tcds-section-overlay-opacity, 60%));
}

:host([overlay*="desaturate"]) section::before {
  backdrop-filter: saturate(0);
}

:host([overlay*="bottom-gradient"]) section::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  height: 50%;
  background-image: linear-gradient(to top, rgb(0 0 0 / 50%) 0%, rgb(0 0 0 / 0%) 100%);
}

.max-width {
  z-index: 1;
}

[part="content"] {
  display: grid;
  align-items: center;
  gap: var(--tcds-space-normal) 3vw;
  grid-template-columns: 1fr;
  grid-template-areas:
    "image"
    "text"
    "cta";
  position: relative;
}

@media (max-width: 768px) {
  :host {
    --tcds-section-text-align: center;
  }

  [part="content"] {
    gap: var(--tcds-space-normal);
  }
}

@media (min-width: 768px) {
  :host([has-image]:not([image="bottom"])) [part="content"] {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "text image"
      "cta  cta";
  }
}

hgroup {
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: var(--tcds-space-tight);
  text-align: var(--tcds-section-text-align);
}

figure {
  grid-area: image;
  position: relative;
}

@media (max-width: 768px) {
  figure {
    margin:
      calc(var(--tcds-section-vertical-padding) * -1)
      calc(var(--site-outer-gutter) * -1)
      3rem;
  }
}

nav {
  grid-area: cta;
  display: flex;
  gap: var(--tcds-space-x-loose);
}

@media (max-width: 768px) {
  nav {
    justify-content: center;
  }
}
