/* stylelint-disable scss/operator-no-unspaced */
/* stylelint-disable property-no-vendor-prefix */

:host {
  --tcds-section-watermark-size: min(768px, 110vw);
  --tcds-section-watermark-y-offset: 25%;
  --tcds-section-watermark-color: var(--tcds-color-shade-x-weak);
  --tcds-section-watermark-opacity: 0.6;
  --tcds-section-region-gap: var(--tcds-space-x-loose);

  background: transparent !important;

  @media (min-width: 800px) {
    --tcds-section-region-gap: var(--tcds-space-x-loose);
  }
}

[data-theme="light"] {
  @nest :host(&) {
    --tcds-section-watermark-opacity: 0.35;
  }

  @nest :host(&.bg-primary) {
    --tcds-section-watermark-color: var(--tcds-color-red-light);
  }

  @nest :host(&.bg-secondary) {
    --tcds-section-watermark-color: var(--tcds-color-blue-light);
  }
}

:host([watermark*="large"]) {
  --tcds-section-watermark-size: 127vw;
  --tcds-section-watermark-offset-block: 50%;
}

:host([overlay*="darken"]) {
  --tcds-section-overlay-color: var(--tcds-color-shade-strong);
}

:host([overlay*="desaturate"]) {
  --tcds-section-overlay-backdrop-filter: saturate(0);
}

section {
  display: grid;
  grid-template-columns:
    max(var(--site-outer-gutter), (50vw - var(--site-container-max-width) / 2 - var(--tcds-section-region-gap)))
    4fr
    3fr
    max(var(--site-outer-gutter), (50vw - var(--site-container-max-width) / 2 - var(--tcds-section-region-gap)));
  grid-template-rows:
    minmax(var(--tcds-section-padding-block-start, var(--tcds-section-padding-block)), auto)
    auto
    var(--tcds-section-padding-block-end, var(--tcds-section-padding-block))
    auto;
  grid-template-areas:
    "tertiary  tertiary  tertiary  tertiary "
    ".         primary   primary   .        "
    "secondary secondary secondary secondary"
    "secondary secondary secondary secondary";
  align-items: var(--tcds-section-vertical-align, center);
  z-index: 1;
  position: relative;

  @media (min-width: 800px) {
    grid-template-rows:
      var(--tcds-section-padding-block-start, var(--tcds-section-padding-block))
      repeat(2, min-content)
      var(--tcds-section-padding-block-end, var(--tcds-section-padding-block))
      min-content;
    grid-template-areas:
      ". .         .         ."
      ". primary   tertiary  ."
      ". secondary secondary ."
      ". secondary secondary ."
      ". secondary secondary .";
  }
}

[part="background"] {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: -2;
  overflow: hidden;

  @media (min-width: 800px) {
    grid-row: 1 / -2;
  }

  &.has-background {
    aspect-ratio: 4 / 3;

    @media (min-width: 768px) {
      aspect-ratio: 16 / 9;
    }

    @media (min-width: 1200px) {
      aspect-ratio: 16 / 5;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: var(--tcds-section-overlay-color);
    backdrop-filter: var(--tcds-section-overlay-backdrop-filter);
  }

  &::after {
    @nest :host([class*="bg-"][watermark]:not([overlay*="bottom-gradient"])) & {
      display: block;
      content: "";
      width: var(--tcds-section-watermark-size);
      height: var(--tcds-section-watermark-size);
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(25%, var(--tcds-section-watermark-offset-block));
      color: inherit;
      background: var(--tcds-section-watermark-color);
      -webkit-mask: var(--tcds-icon-texas-childrens);
      mask: var(--tcds-icon-texas-childrens);
      -webkit-mask-position: 50% 50%;
      mask-position: 50% 50%;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
      opacity: var(--tcds-section-watermark-opacity);
      z-index: -1;
    }

    @nest :host([overlay*="bottom-gradient"]) & {
      display: block;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 50%;
      background-image: linear-gradient(to top, rgb(0 0 0 / 50%) 0%, rgb(0 0 0 / 0%) 100%);
    }
  }
}

[part="default"] {
  grid-column: 2 / -2;
  grid-row: 2 / -3;
}

[part="primary"] {
  grid-area: primary;
}

[part="secondary"] {
  grid-area: secondary;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  margin-top: var(--tcds-section-region-gap);
}

[part="tertiary"],
[part="image"] {
  grid-area: tertiary;

  @media (min-width: 768px) {
    grid-row: 2 / -2;
    margin-left: var(--tcds-section-region-gap);
    position: relative;
  }

  @media (max-width: 767px) {
    margin-bottom: var(--tcds-section-region-gap);
  }
}

hgroup {
  display: flex;
  flex-direction: column;

  @media (max-width: 799px) {
    text-align: center;
  }
}

nav {
  display: flex;
  gap: var(--tcds-space-x-loose);
  margin-top: var(--tcds-space-x-loose);

  @media (max-width: 799px) {
    justify-content: center;
  }
}

.fill-width {
  grid-column: 2 / 4;
}

.fill-height {
  grid-row: 2 / -3;
}
