tcds-section {
  --tcds-section-vertical-padding: 7rem;
}

tcds-section:not(:defined) {
  padding:
    var(--tcds-section-padding-top, var(--tcds-section-vertical-padding))
    max(1rem, (50vw - var(--site-container-max-width) / 2))
    var(--tcds-section-padding-bottom, var(--tcds-section-vertical-padding));
}

tcds-section:not([hidden]) {
  display: block;
}

tcds-section:not(:defined) [slot="image"],
tcds-section:not(:defined) [slot="background"] {
  display: none;
}
