tcds-section > [slot="background"],
tcds-section > [slot="background"] img,
tcds-section > img[slot="background"],
tcds-section > video[slot="background"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

tcds-section > [slot="background"] img,
tcds-section > img[slot="background"],
tcds-section > video[slot="background"] {
  object-fit: cover;
  object-position: center;
}

tcds-section > [slot="heading"] {
  color: var(--tcds-section-heading-color);
  line-height: var(--tcds-line-height-x-tight) !important;
  margin: 0 0 var(--tcds-space-x-loose) !important;
  font-size: calc(3.5rem * var(--tcds-font-size-scaler));
}

tcds-section > [slot="heading"] span {
  display: block;
  font-family: var(--tcds-font-ui);
  font-size: var(--tcds-font-size-large);
  font-weight: var(--tcds-font-weight-semibold);
  color: var(--tcds-color-text);
  margin-bottom: 0.5em;
}

tcds-section > [slot="heading"] sup {
  font-size: 10%;
  letter-spacing: 0.05em;
  position: relative;
  left: 1em;
  top: -1em;
}

tcds-section > [slot="subheading"] {
  font-size: 1.5rem !important;
}

@media (min-width: 768px) {
  tcds-section > [slot="image"] {
    width: 115%;
    max-width: none;
    position: absolute;
    transform: translateY(-50%);
  }
}

tcds-section [aria-controls*="video-modal"] {
  --tcds-button-height: 4rem;
  --tcds-button-font-size: var(--tcds-font-size-large);

  width: 100%;
  justify-content: center;
}

tcds-section [slot="video-description"] {
  color: #fff;
  z-index: 1;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: var(--tcds-space-x-loose) var(--content-inner-gutter);
  font-size: var(--tcds-font-size-large);
}

tcds-section [slot="video-description"]::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--tcds-color-secondary);
  opacity: 0.8;
  z-index: -1;
}
