tcds-section {
  --tcds-section-padding-block: 7rem;

  display: block;
  position: relative;
  z-index: 1;

  &:not(:defined) {
    /**
     * Shadow DOM structure uses a grid layout to create "padding" and a max-width
     * container. If not defined then fallback to a simpler layout and add
     * vertical padding and max-width constraint directly here.
     */
    padding:
      var(--tcds-section-padding-block-start, var(--tcds-section-padding-block))
      max(var(--site-outer-gutter), (100vw - var(--site-container-max-width)) / 2)
      var(--tcds-section-padding-block-start, var(--tcds-section-padding-block));

    > img[slot="secondary"],
    > [slot="secondary"] img,
    > img[slot="tertiary"],
    > [slot="tertiary"] img,
    > img[slot="image"],
    > [slot="image"] img {
      display: none;
    }
  }

  &[data-theme="dark"] {
    --tcds-section-heading-color: #fff;
  }

  > [slot="background"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  > [slot="background"] img,
  > img[slot="background"],
  > video[slot="background"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: var(--tcds-section-background-position, center);
  }

  > img[slot="secondary"],
  > [slot="secondary"] img,
  > img[slot="tertiary"],
  > [slot="tertiary"] img,
  > img[slot="image"],
  > [slot="image"] img {
    width: 100%;
  }

  > img[slot="tertiary"],
  > picture[slot="tertiary"],
  > img[slot="image"],
  > picture[slot="image"] {
    @media (min-width: 768px) {
      max-width: none;
      position: absolute;
      transform: translateY(-50%);
    }
  }

  > [slot="heading"] {
    line-height: var(--tcds-line-height-x-tight) !important;
    font-size: calc(4rem * var(--tcds-font-size-scaler));
    color: var(--tcds-section-heading-color, var(--tcds-color-text));
    margin: 0;

    sup {
      font-size: 16%;
      letter-spacing: 0.05em;
      position: relative;
      top: -1em;
    }
  }

  > [slot="overline"],
  > [slot="heading"] span {
    display: block;
    font-family: var(--tcds-font-ui);
    font-size: var(--tcds-font-size-large);
    font-weight: var(--tcds-font-weight-semibold);
    margin-bottom: var(--tcds-space-x-tight);
    letter-spacing: 0.0005em;
    color: var(--tcds-color-text);
  }

  > [slot="subheading"] {
    font-family: var(--tcds-font-headings);
    font-size: 1.5rem !important;
    margin: var(--tcds-space-x-loose) 0 0;
  }
}
