@use "../../scss/theming/abstracts/mixins/button" as *;

@layer tcds {
  .tcds-submenu {
    --tcds-submenu-item-padding-inline: .75em;
    --tcds-submenu-item-padding-block: .4em;
    --tcds-submenu-item-border-color: var(--tcds-color-theme-edge);
    --tcds-submenu-item-border: 1px solid var(--tcds-submenu-item-border-color);
    --tcds-submenu-link-font-size: var(--tcds-font-size-md);

    &--small {
      --tcds-submenu-link-font-size: var(--tcds-font-size-sm);
    }

    ul {
      padding-left: var(--tcds-space-component-md);
    }

    li {
      padding-top: var(--tcds-submenu-item-padding-block);

      &:not(:has(ul)) {
        padding-bottom: var(--tcds-submenu-item-padding-block);
      }

      &:not(:last-child) {
        border-bottom: var(--tcds-submenu-item-border);
      }
    }

    a {
      @include button();

      display: flex;
      justify-content: start;
      align-items: center;
      gap: 0;
      text-align: left;
      font-size: var(--tcds-submenu-link-font-size);
      width: calc(100% + var(--tcds-submenu-item-padding-inline));
      margin: 0 calc((var(--tcds-submenu-item-padding-inline) / 2) * -1);
      padding: var(--tcds-submenu-item-padding-block) var(--tcds-submenu-item-padding-inline);

      &[aria-current=page] {
        color: var(--tcds-button-foreground-hover);
        font-weight: var(--tcds-font-weight-bold);

        &::before {
          content: "";
          border-left: 5px solid currentcolor;
          position: relative;
          left: calc(-1 * var(--tcds-submenu-item-padding-inline));
          height: 3ex;
        }
      }
    }
  }
}
