@use "../../scss/abstracts/mixins" as *;

.tcds-submenu {
  @include text("ui", "md");

  font-weight: 500;
  letter-spacing: 0.025em;
  list-style: none;

  &--small {
    font-size: var(--tcds-font-size-xs);
  }

  li {
    @include breakpoint("lg") {
      &:not(:last-child) {
        border-bottom: 1px solid var(--tcds-color-theme-edge);
      }
    }

    a {
      display: block;
      color: var(--tcds-color-theme-default-text-secondary);
      text-decoration: none;
      position: relative;
      z-index: 1;
      transition: color var(--tcds-motion-duration-productive) var(--tcds-motion-easing-enter);

      &:hover {
        --tcds-submenu-link-background-color: var(--tcds-color-palette-red-50);

        color: var(--tcds-color-theme-default-accent);
      }

      @include breakpoint("", "lg") {
        padding: var(--tcds-space-component-md) 0;
      }

      @include breakpoint("lg") {
        --_tcds-submenu-link-background-inset: var(--tcds-submenu-link-background-inset, .4em);

        padding: var(--tcds-space-component-md) calc(var(--tcds-space-component-md) - var(--_tcds-submenu-link-background-inset));

        &::before {
          content: "";
          position: absolute;
          inset: var(--_tcds-submenu-link-background-inset) calc(var(--tcds-border-radius-sm) / -2);
          z-index: -1;
          background-color: var(--tcds-submenu-link-background-color, transparent);
          border-radius: var(--tcds-border-radius-sm);
          transition: background-color var(--tcds-motion-duration-productive) var(--tcds-motion-easing-enter);
        }
      }
    }
  }
}
