:host {
  --tcds-dialog-border-radius: 0;
}

:host(:not([position*="right"])) {
  --tcds-dialog-max-height: 75vh;
  --tcds-dialog-border-radius: var(--tcds-border-radius-m);
}

:host(:not([variant*="lightbox"])) {
  --tcds-dialog-padding: var(--tcds-micro-s);
}

:host([variant*="lightbox"]) {
  --tcds-dialog-min-width: min(90vw, fit-content);
}

:host([open]) {
  --tcds-dialog-backdrop-opacity: 1;

  display: block;
}

:host([open]:not([variant*="lightbox"], [position*="right"])) {
  --tcds-dialog-animation: tcds-animation-slide-in-up;
}

:host([open][variant*="lightbox"]) {
  --tcds-dialog-animation: tcds-animation-grow-in;
}

:host([open][position*="right"]) {
  --tcds-dialog-animation: tcds-animation-slide-in-left;
}

dialog {
  background-color: #fff;
  border: 0;
  border-radius: var(--tcds-dialog-border-radius);
  box-shadow: var(--tcds-box-shadow-s) var(--tcds-shade-medium);
  font-family: var(--tcds-font-ui);
  max-height: var(--tcds-dialog-max-height, 100vh);
  width: calc(100vw - var(--tcds-site-outer-gutter) * 2);
  overflow: visible;
  overflow-wrap: break-word;
  place-self: center;
  animation:
    var(--tcds-dialog-animation)
    var(--tcds-animation-expressive-duration)
    var(--tcds-animation-expressive-easing)
    forwards;

  @media (min-width: 896px) {
    min-width: var(--tcds-dialog-min-width, 600px);
    width: var(--tcds-dialog-base-width, fit-content);
    max-width: var(--tcds-dialog-max-width, calc(896px - var(--tcds-site-outer-gutter)));
  }

  &::backdrop {
    background-color: var(--tcds-shade-medium);
    opacity: var(--tcds-dialog-backdrop-opacity, 0);
    transition: opacity .3s ease;

    @starting-style {
      opacity: 0;
    }
  }
}

[part="header"] {
  padding: calc(var(--tcds-dialog-padding) / 2) var(--tcds-dialog-padding);
  border-bottom: 1px solid var(--tcds-color-gray);

  ::slotted(:is(h1, h2, h3, h4, h5, h6)) {
    margin: 0 !important;
    font-size: var(--tcds-font-size-l) !important;
  }
}

[part="content"] {
  overflow-y: auto;
  padding: var(--tcds-dialog-padding);
}

[part="close"] {
  position: absolute;
  top: 0;
  right: 0;
  translate: 50% -50%;
}
