@use "sass:map";
@use "@txch/tokens/dist/scss/color" as color;

@each $alias, $color in color.$aliases {
  .bg-#{$alias} {
    $scheme: map.get(color.$themes, "light");

    @each $element, $color in map.get($scheme, $alias) {
      #{"--tcds-color-#{$element}"}: var(--tcds-color-#{$alias}-#{$element});
    }

    background-color: var(--tcds-color-background) !important;
    color: var(--tcds-color-text) !important;
  }

  .text-color-#{$alias} {
    color: var(--tcds-color-#{$alias}) !important;
  }
}

.text-color-white {
  color: var(--tcds-color-white) !important;
}
