button,
input,
select,
summary,
textarea {
  max-width: 100%;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[type="file"] {
  cursor: pointer;
}

// label:has(input:where([type="text"], [type="password"], [type="email"])),
// label:has(+ input:where([type="text"], [type="password"], [type="email"])),
// input:where([type="text"], [type="password"], [type="email"]) + label {

// }
