/**
 * This compiles utilities (helper classes, keyframe sets), so that they can be
 * imported in bulk separately (namely by `_index.scss`) when the main bundle is
 * generated.
 *
 * This also generates a `dist/utilities.css` bundle.
 */

@forward "icons/utilities";
@forward "layout/utilities";
@forward "typography/utilities";
// @keyframes library
@forward "motion/animations";
