@use "_variables" as *;
@use "_functions" as *;

:root {
  @each $icon, $value in $icons {
    --tcds-icon-#{$icon}: #{icon($icon)};
  }
}

@each $icon, $value in $icons {
  tcds-icon[icon="#{$icon}"] {
    --tcds-icon: var(--tcds-icon-#{$icon});
  }
}

tcds-icon {
  color: inherit;
  height: var(--tcds-icon-size, 1em);
  width: var(--tcds-icon-size, 1em);
  vertical-align: sub;

  &:not([hidden]) {
    display: inline-flex;
  }

  &::before {
    background: currentcolor;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    mask: var(--tcds-icon);
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    mask-size: contain;
    vertical-align: middle;
  }
}
