tcds-alert-bar {
  --tcds-alert-bar-height: var(--tcds-size-large);

  @media (min-width: 768px) {
    --tcds-alert-bar-height: var(--tcds-size-x-large);
  }

  &:not(:defined) {
    display: block;
    max-height: var(--tcds-alert-bar-height);
    overflow: hidden;
    padding: 0 calc(50vw - var(--site-container-max-width) / 2);

    &:hover,
    &:focus-within {
      max-height: 100%;
    }

    > details {
      margin: 0;
    }
  }

  &:defined {
    > details {
      --tcds-details-icon-rotate: 90deg;

      display: contents;

      &[open] {
        --tcds-details-icon-rotate: 270deg;
        --tcds-alert-bar-tab-indicator-color: var(--tcds-color-primary);
      }

      > summary {
        grid-row: 1 / 2;
        height: var(--tcds-alert-bar-height);
        flex-direction: row-reverse;
        margin-right: var(--tcds-space-x-loose);
        box-shadow: inset 0 -4px 0 var(--tcds-alert-bar-tab-indicator-color, transparent);
        transition:
          box-shadow var(--tcds-animation-productive-duration) var(--tcds-animation-productive-easing),
          color var(--tcds-animation-productive-duration) var(--tcds-animation-productive-easing);

        &:hover {
          color: var(--tcds-color-primary);
        }

        &::before {
          background-color: var(--tcds-color-primary);
        }

        + * {
          grid-row: 2 / -1;
          grid-column: 1 / -1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: var(--tcds-space-loose) 0;
          gap: var(--tcds-space-normal);
          position: sticky;
          left: 0;
          max-width: calc(100vw - (var(--site-outer-gutter) * 2));
          background-color: #fff;
          border-top: 1px solid var(--tcds-color-gray-light);
          font-size: var(--tcds-font-size-small);

          @media (min-width: 768px) {
            max-width: calc(100vw - var(--tcds-alert-bar-label-width) - (var(--site-outer-gutter) * 2));
          }
        }
      }

      ul {
        list-style: none;
      }
    }
  }
}
