tcds-alert-bar {
  --tcds-alert-bar-height: var(--tcds-size-large);
}

tcds-alert-bar:not(:defined) {
  display: block;
  max-height: var(--tcds-alert-bar-height);
  overflow: hidden;
  padding: 0 calc(50vw - var(--site-container-max-width) / 2);
}

tcds-alert-bar:not(:defined) details {
  margin: 0;
}

tcds-alert-bar:not(:defined):hover,
tcds-alert-bar:not(:defined):focus-within {
  max-height: 100%;
}
