:host {
  display: flex;
}

section {
  width: 100%;
  min-height: var(--tcds-alert-bar-height);
  background-color: #fff;
  background-image:
    linear-gradient(
      to bottom,
      #fff var(--tcds-alert-bar-height),
      var(--tcds-color-gray-light) var(--tcds-alert-bar-height),
      var(--tcds-color-gray-light) calc(var(--tcds-alert-bar-height) + 1px),
      #fff 50%
    );
  background-size: 100% calc(var(--tcds-alert-bar-height) * 2);
  background-repeat: no-repeat;
  box-shadow: 0 2px 4px var(--tcds-color-shade-x-weak);
  position: relative;
  z-index: var(--tcds-layer-alert-bar);

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: var(--tcds-alert-bar-height) auto;
    grid-template-areas:
      "heading close"
      "alerts  close";
  }

  @media (min-width: 768px) {
    display: flex;
  }
}

h2 {
  display: flex;
  flex-shrink: 0;
  font-size: var(--tcds-font-size-medium-plus);
  font-family: var(--tcds-font-headings);
  font-weight: var(--tcds-font-weight-normal);
  margin: 0 !important;
  padding: 0 0 0 var(--site-outer-gutter);
  height: var(--tcds-alert-bar-height);
  align-items: center;
  gap: var(--tcds-space-tight);

  & tcds-icon {
    color: var(--tcds-color-primary);
  }

  @media (min-width: 768px) {
    width: 13rem;
  }

  @media (max-width: 768px) {
    grid-area: heading;
  }
}

[part="alerts"] {
  display: grid;
  grid-template-rows: var(--tcds-alert-bar-height) min-content;
  grid-template-columns: repeat(100, fit-content(100%));
  max-width: 100%;
  overflow-x: auto;
  overscroll-behavior: none;
  padding: 0 var(--site-outer-gutter);

  @media (max-width: 768px) {
    grid-area: alerts;
  }
}

[part="close"] {
  position: absolute;
  right: var(--site-outer-gutter);
  top: calc(var(--tcds-alert-bar-height) * 0.5);
  transform: translateY(-50%);
}
