@mixin button() {
  -webkit-appearance: none;
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--tcds-button-gap);
  background: var(--tcds-button-background);
  border: var(--tcds-button-border);
  color: var(--tcds-button-foreground);
  border: 0;
  border-radius: var(--tcds-button-border-radius);
  padding: var(--tcds-button-padding);
  font-family: var(--tcds-font-family-ui);
  font-size: var(--tcds-button-font-size);
  font-weight: var(--tcds-font-weight-semibold);
  text-decoration: none;
  user-select: none;
  transition:
    background var(--tcds-motion-duration-productive) var(--tcds-motion-easing-enter),
    color var(--tcds-motion-duration-productive) var(--tcds-motion-easing-enter);

  &:hover,
  &:focus {
    background: var(--tcds-button-background-hover);
    border: var(--tcds-button-border-hover);
    color: var(--tcds-button-foreground-hover);
  }

  &:active {
    background: var(--tcds-button-background-active);
    border: var(--tcds-button-border-active);
  }
}
