:host {
  display: block;
  margin: var(--tcds-space-x-loose) 0 !important;
}

p {
  font-family: var(--tcds-font-ui);
  font-weight: var(--tcds-font-weight-semibold);
  line-height: var(--tcds-line-height-tight);
}

small {
  display: block;
  font-size: var(--tcds-font-size-medium-plus);

  @media (min-width: 1080px) {
    font-size: var(--tcds-font-size-large);
  }
}

b {
  font-size: calc(var(--tcds-font-size-scaler) * 3rem);
  font-weight: inherit;
  white-space: nowrap;
  letter-spacing: -0.05em;
  word-spacing: 0.1em;

  @media (min-width: 1080px) {
    font-size: calc(var(--tcds-font-size-scaler) * 4rem);
  }
}
