<header class="global-header">
  <div class="site-branding">
    <a href="/" rel="home" title="Texas Children's Design System Home" class="site-branding__link">
      <img src="/images/tch-logo.svg" alt="Texas Children's Hospital" class="site-branding__logo">
      <span class="site-branding__type">Design System</span>
    </a>
  </div>

  {{ include("templates/partials/nav.twig") }}
</header>