@use "@tcds/_all" as *;

.Accordion {
  &:not(:last-child) {
    margin-bottom: space("normal");
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
  }

  &__section {
    border-bottom: 1px solid color("gray", "100");
  }

  &__heading {
    margin: 0;
  }

  &__button {
    appearance: none;
    border: 0;
    color: theme-color("link");
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: space("tight");
    line-height: 2.5;
    font-family: font-stack("ui");
    font-size: font-size("medium");
    width: 100%;
    transition:
      background animation("productive"),
      color animation("productive");

    &:focus-visible {
      @include focus-style;
    }

    &:focus-visible:hover {
      @include focus-style($inverted: true);
    }

    &[aria-expanded="true"] {
      --icon-rotate: 180deg;
    }
  }

  &__icon {
    height: 1em;
    pointer-events: none;
    transform: rotateZ(var(--icon-rotate, 0));
    transition: transform animation("productive");
  }

  &__panel {
    overflow: hidden;
    border-top: 1px solid color("gray", "100");
    transition: height animation("expressive");
  }

  &__content {
    padding: space("normal") space("loose");
  }
}
