@use "@tcds" as *;

tcds-accordion {
  margin: space("normal") 0;

  &::part(controls) {
    display: flex;
    justify-content: flex-end;
  }

  &::part(section) {
    border-bottom: 1px solid var(--tcds-color-translucent);
  }

  &::part(section last) {
    border-bottom: none;
  }

  &::part(heading) {
    margin: 0;
  }

  &::part(button) {
    @include font-size("medium");

    appearance: none;
    background: none;
    border: 0;
    color: var(--tcds-color-link);
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: left;
    gap: space("tight");
    padding: space("tight") 0;
    font-family: font-stack("ui");
    font-weight: font-weight("normal");
    width: 100%;
  }

  &::part(button expanded) {
    --tcds-accordion-icon-rotate: 180deg;
  }

  &::part(icon) {
    width: 1rem;
    pointer-events: none;
    transform: rotateZ(var(--tcds-accordion-icon-rotate, 0));
    transition: transform animation("productive");
  }

  &::part(panel) {
    overflow: hidden;
    border-top: 1px solid var(--tcds-color-translucent);
    transition: height animation("productive");
  }

  &::part(content) {
    padding: space("normal") space("loose");
  }
}
