@use "@tcds" as *;

.Breadcrumb {
  ul {
    display: flex;
  }

  li {
    @include font-size("medium", $line-height: false);

    line-height: 0;

    &:not(:last-child)::after {
      content: "/";
      margin: 0 1ch;
      user-select: none;
    }
  }
}
