@use "@tcds" as *;

tcds-carousel {
  &:defined {
    [slot="header"] {
      @include font-size("medium");

      margin: 0;
      font-weight: font-weight("normal");

      a {
        color: inherit;

        &:not(:hover) {
          text-decoration: none;
        }
      }
    }
  }
}
