@use "@tcds" as *;

tcds-carousel {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "slides slides"
    "indicators .";
  align-items: center;
  gap: space("normal") space("loose");

  &::part(indicators) {
    grid-area: indicators;
  }

  &::part(viewport) {
    grid-area: slides;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    @include motion-ok {
      scroll-behavior: smooth;
    }
  }

  &::part(slide) {
    flex: 1 0 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
