@use "@tcds/_all" as *;

/**
 * 1. Make padding add to the box's total dimensions, rather than pushing
 *    content inwards (as in `box-sizing: border-box`).
 * 2. Set the minimum height to 100% of the viewport height, minus top and
 *    bottom padding (so the total height isn't 100% plus padding). Then, if
 *    defined, subtract the height of the site's header, which will be added as
 *    top padding in 4.
 * 4. Set the top padding to the height of the site header (to be pulled up by
 *    the same amount in 5), plus whatever additional top padding is specified.
 * 5. Pull the hero up with a negative top margin, by the height of the site
 *    header (so that the header overlays the hero).
 * 6. If the hero rotates between multiple background images, create a proper
 *    "crossfade" effect with a "darken" blend mode.
 */

.Hero {
  /** Custom property defaults */
  $hero-padding-bottom: 5rem;
  $hero-padding-top: 5rem;
  $hero-base-height: 75vh;

  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  box-sizing: content-box; // 1
  min-height:
    calc(
      var(--hero-base-height, #{$hero-base-height})
      - var(--hero-padding-top, #{$hero-padding-top})
      - var(--hero-padding-bottom, #{$hero-padding-bottom})
      - var(--site-header-height, 0px)
    ); // 3

  padding-top: calc(var(--site-header-height, 0px) + var(--hero-padding-top, #{$hero-padding-top})); // 4
  padding-bottom: var(--hero-padding-bottom, #{$hero-padding-bottom});
  margin-top: calc(var(--site-header-height, 0px) * -1); // 5
  z-index: 1;
  position: relative;
  color: #fff;

  /** Modifiers */

  /**
   * Enable cross-fade effect between images if there are multiple.
   */
  &[data-background-images] {
    background-blend-mode: darken; // 6
    transition: background-image 3s;
  }

  /**
   * Make hero fill the full height of the window. Note the minimum height will
   * still be the height of the inner content plus top and bottom padding (even
   * if the window height scales below that).
   */
  &--full-height {
    --hero-base-height: 100vh;
  }

  /**
   * Align content to the bottom of the hero.
   */
  &--align-bottom {
    align-items: end;
  }

  /**
   * Only allow parallax if reduced motion preference is not set. Note this
   * property is not necessary for the parallax effect, but serves as a decent
   * fallback if the JavaScript effect fails.
   */
  @include motion-ok {
    &--parallax {
      background-attachment: fixed;
    }
  }

  &--darken-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(0 0 0 / 20%);
    background-color: rgb(0 0 0 / var(--hero-overlay-opacity, 20%));
  }

  &--bottom-gradient::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 50%;
    background-image: linear-gradient(to top, rgb(0 0 0 / 50%) 0%, transparent 100%);
  }

  &--text-shadow {
    text-shadow: 0 0 1rem color("shade");
  }

  /** Children */

  &__content {
    @include max-width;

    display: flex;
    align-items: center;
    gap: space("x-loose");
  }

  &__heading {
    @include font-size("xx-large");

    font-weight: font-weight("semibold");
    margin: 0;
  }

  &__subheading {
    @include font-size("medium-plus");

    @include breakpoint-above("medium") {
      width: 50%;
    }
  }
}
