@use "@tcds" as *;

.MegaMenu {
  position: absolute;
  left: 0;
  right: 0;
  padding: calc(var(--site-header-height) + #{space("x-loose")} - 10px) 0 space("x-loose");
  margin-top: calc(var(--site-header-height) * -1 + 10px);

  @include breakpoint-above("large") {
    top: 100%;
    background-color: theme-color("secondary");
    color: theme-color("secondary", "0");
    z-index: -2;
  }

  @include breakpoint-below("large") {
    top: 0;
    bottom: 0;
    background-color: #fff;
    color: color("gray");
    z-index: 1;
  }

  [aria-controls] {
    margin-bottom: space("normal");

    @include breakpoint-above("large") {
      display: none;
    }
  }
}
