@use "@tcds/_all" as *;

@mixin -theme($color) {
  background-color: #{interface-color($color, "0")};
  border-left: 4px solid #{interface-color($color)};
  color: #{interface-color($color, "400")};
}

.Message {
  @include -theme("neutral");

  padding: space("normal") space("loose");
  margin: space("loose") 0;

  &--positive {
    @include -theme("positive");
  }

  &--negative {
    @include -theme("negative");
  }

  &--attention {
    @include -theme("attention");
  }

  &--notice {
    @include -theme("notice");
  }

  &--small {
    font-size: font-size("small");
    padding: space("tight") space("normal");
    margin: space("normal") 0;
  }
}
