@use "@tcds" as *;

.Notification {
  z-index: layer("notification");
  display: flex;
  align-items: center;
  position: relative;
  background-color: theme-color("secondary");
  color: theme-color("secondary", "0");

  &:not(#{&}--full-bleed):not(#{&}--alert) {
    @include max-width;

    position: fixed;
    bottom: space("x-loose");
    left: 50%;
    transform: translateX(-50%);
  }

  &:not(#{&}--alert) {
    text-align: center;
  }

  &--full-bleed {
    position: sticky;
    top: 0;
  }

  &[data-state="closed"]#{&}--full-bleed,
  &[data-animation-state="closing"]#{&}--full-bleed {
    z-index: layer("site-header") + 1;
  }

  &--alert {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  &__content {
    @include max-width;

    padding: space("normal") 0;
    overflow: hidden;
  }

  &__dismiss {
    position: absolute;
    right: space("normal");
    top: 50%;
    transform: translateY(-50%);
  }

  &__expand {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &::part(button) {
      border-radius: 1rem;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      width: 64px;
      height: 24px;
    }

    &::part(button expanded) {
      transform: translate(-50%, -100%);
    }

    &::part(icon) {
      width: 100%;
      padding: 5%;
    }
  }

  /**
   * 1. Create content-safe area, ensuring button does not overlap the text.
   */
  &__message {
    flex: 1;
    padding: 0 space("normal");

    @include breakpoint-below("x-large") {
      padding: 0 60px 0 space("normal"); // 1
    }
  }
}
