@use "@tcds" as *;

.Section {
  --_section-vertical-padding: 2rem;
  --section-vertical-padding: var(--_section-vertical-padding);
  --section-vertical-margin: 0;

  z-index: 1;
  position: relative;
  padding: var(--section-vertical-padding) 0;
  margin: var(--section-vertical-margin) 0 max(var(--section-vertical-margin), 0px);

  @include breakpoint-above("medium") {
    --_section-vertical-padding: 5rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    background-size: cover;
    background-position: center;
    clip-path: var(--section-background-clip, none);
    transition: clip-path animation("expressive");
  }

  &--overlay-darken::before {
    background-color: rgba(30 35 40 / var(--section-overlay-opacity, 60%));
  }

  &--overlay-desaturate::before {
    backdrop-filter: saturate(0);
  }

  &--bottom-gradient::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 50%;
    background-image: linear-gradient(to top, rgb(0 0 0 / 50%) 0%, rgb(0 0 0 / 0%) 100%);
  }

  &--text-shadow {
    --section-text-shadow: 0 0.5rem 0.5rem color("shade", "100");
  }

  &--dark-text {
    color: color("gray", "500");
  }

  &--background-clip {
    background-color: #9a9a9a;

    &:not(.Section--dark-text) {
      color: #fff;
    }

    @include breakpoint-above("small") {
      --section-background-clip: ellipse(42% 99% at 85% 77%);
    }
  }
}
