@use "@tcds" as *;

.Section {
  --section-vertical-padding: 5rem;
  --section-vertical-margin: 0;

  background-size: cover;
  background-position: center;
  z-index: 1;
  position: relative;
  padding: var(--section-vertical-padding) 0;
  margin: var(--section-vertical-margin) 0 max(var(--section-vertical-margin), 0px);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &--overlay-darken::before {
    background-color: rgb(0 0 0 / 20%);
    background-color: rgb(0 0 0 / var(--section-overlay-opacity, 20%));
  }

  &--overlay-desaturate::before {
    backdrop-filter: saturate(0);
  }

  &--bottom-gradient::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 50%;
    background-image: linear-gradient(to top, rgb(0 0 0 / 50%) 0%, rgb(0 0 0 / 0%) 100%);
  }

  &--text-shadow {
    text-shadow: 0 0 1rem color("shade");
  }

  .max-width {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
