@use "@tcds" as *;

tcds-tabs:defined {
  &[size="small"] {
    --tcds-tabs-tab-font-size: #{font-size("small")};
    --tcds-tabs-tab-height: #{size("small")};
    --tcds-tabs-tab-x-padding: #{space("normal")};
  }

  &[size="large"] {
    --tcds-tabs-tab-flex-grow: 1;
    --tcds-tabs-tab-font-size: #{font-size("medium-plus", $responsive: true)};
    --tcds-tabs-tab-height: #{size("large")};
    --tcds-tabs-tab-x-padding: #{space("x-loose")};
    --tcds-tabs-panel-y-padding: #{space("loose")};
  }

  &::part(tablist) {
    display: flex;
    overflow-x: auto;
  }

  &::part(tab) {
    @include font-size("medium", $custom-property: "--tcds-tabs-tab-font-size");

    appearance: none;
    background: none;
    border: none;
    border-bottom: 5px solid var(--tcds-tabs-tab-indicator-color, #{color("shade", "100")});
    color: color("gray");
    font-family: font-stack("ui");
    font-weight: font-weight("semibold");
    flex: var(--tcds-tabs-tab-flex-grow, 0);
    padding: 0 var(--tcds-tabs-tab-x-padding, #{space("loose")});
    height: var(--tcds-tabs-tab-height, #{size("medium")});
    width: 100%;
    white-space: nowrap;
    cursor: pointer;
    transition:
      border-color animation("productive"),
      color animation("productive"),
      background-color animation("productive");

    @media (any-hover: hover) {
      &:hover {
        --tcds-tabs-tab-indicator-color: #{color("shade", "200")};

        color: color("shade", "400");
        background-color: color("shade", "0");
      }
    }

    @media (hover: none) {
      &:active {
        opacity: 0.5;
      }
    }
  }

  &::part(tab active),
  &::part(tab active):hover {
    --tcds-tabs-tab-indicator-color: #{theme-color("secondary")};

    color: color("shade", "500");
  }

  &::part(panel) {
    padding: var(--tcds-tabs-panel-y-padding, #{space("normal")}) 0 0;
  }
}
