:host {
  display: block;
  container-type: inline-size;
}

article {
  display: grid;
  overflow: hidden;
  height: 100%;

  :host([orientation*="horizontal"]) & {
    grid-template-columns: min(33.33%, 220px) 1fr;
  }

  :host(:not([orientation*="horizontal"])) & {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }

  @container (min-width: 375px) {
    :host(:not([orientation*="horizontal"], [variant*="lite"])) & {
      --tcds-card-padding: 2rem;
    }
  }

  &:hover {
    --tcds-card-image-scale: 1.025;

    [part="cta"] {
      --tcds-button-secondary-text-color: var(--tcds-color-primary);
      --tcds-button-secondary-icon-background-color: var(--tcds-color-primary);
      --tcds-button-secondary-icon-color: var(--tcds-color-white);
    }
  }
}

[part="image"] {
  border-radius: var(--tcds-card-image-border-radius, 0);
  position: relative;
  overflow: hidden;

  ::slotted(img) {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    object-position: center !important;
    scale: var(--tcds-card-image-scale, 1) !important;
    transition: scale var(--tcds-animation-expressive-duration) var(--tcds-animation-expressive-easing) !important;
  }
}

[part="content"] {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: var(--tcds-card-padding, 1rem);
}

[part="footer"] {
  display: flex;
  justify-content: var(--tcds-card-footer-justify-content, var(--tcds-card-justify-content, start));
  gap: 1rem;
  margin-top: auto;
  padding-top: 1rem;
}
