:host {
  display: block;
}

article {
  display: grid;
  overflow: hidden;
  height: 100%;

  :host([orientation*="horizontal"]) & {
    grid-template-columns: min(33.33%, 220px) 1fr;
  }

  :host(:not([orientation*="horizontal"])) & {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }
}

[part="image"] {
  border-radius: var(--tcds-card-image-border-radius, 0);
  position: relative;
  overflow: hidden;
}

[part="content"] {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: var(--tcds-card-padding, 1rem);
}

[part="footer"] {
  display: flex;
  justify-content: var(--tcds-card-footer-justify-content, var(--tcds-card-justify-content, start));
  gap: 1rem;
  margin-top: auto;
  padding-top: 1rem;
}
