:host {
  display: block;
  container-type: inline-size;
}

article {
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: var(--tcds-box-shadow-m) var(--tcds-shade-weak);
  border-radius: var(--tcds-border-radius-m);
  overflow: hidden;

  @container (min-inline-size: 640px) {
    :host(:not([orientation="vertical"])) & {
      grid-template-columns: minmax(220px, 1fr) 3fr;
    }
  }

  :host([orientation="horizontal"]) & {
    grid-template-columns: minmax(220px, 1fr) 3fr;
  }
}

[part="content"] {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 2rem;
  color: var(--tcds-color-gray-3);
}

::slotted(img) {
  width: 100%;
}
