:host {
  display: block;
  position: relative;
}

:host(:hover),
:host(:focus-within) {
  --tcds-carousel-play-pause-opacity: 1;
}

:host([multiple]) {
  --tcds-carousel-slide-gap: 1.5rem;
  --tcds-carousel-slide-size: min(300px, 70vw);
  --tcds-carousel-slide-align: center;
  --tcds-carousel-padding-inline: 50%;
  --tcds-carousel-viewport-align-items: stretch;
  --tcds-carousel-slide-display: grid;
  --tcds-carousel-spacer: "";
}

section {
  display: grid;
  grid-template-areas:
    "slides"
    "navigation"
    "play-pause";
  grid-template-columns: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem 0;

  @media (min-width: 896px) {
    grid-template-areas:
      "slides     slides"
      "play-pause navigation";
    grid-template-columns: min-content 1fr;
    justify-content: start;
  }

  @media (hover: none), (max-width: 896px) {
    --tcds-carousel-play-pause-opacity: 1;
  }

  :host([navigation*="top"][navigation*="right"]) & {
    --tcds-carousel-navigation-justify: end;

    grid-template-areas:
      "navigation"
      "slides"
      "play-pause";

    @media (min-width: 896px) {
      grid-template-areas:
        ".          navigation"
        "slides     slides"
        "play-pause .";
    }
  }
}

[part="viewport"] {
  grid-area: slides;
  display: flex;
  gap: var(--tcds-carousel-slide-gap, 0);
  align-items: var(--tcds-carousel-viewport-align-items, center);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  overscroll-behavior-x: none;
  position: relative;
  padding-inline: var(--tcds-carousel-padding-inline, 0);

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &::after {
    content: var(--tcds-carousel-spacer, none);
    flex: 1 0 100%;
  }
}

::slotted(tcds-slide) {
  display: var(--tcds-carousel-slide-display, block);
  flex: 1 0 var(--tcds-carousel-slide-size, 100%);
  scroll-snap-align: var(--tcds-carousel-slide-align, start);
  scroll-snap-stop: always;
}

[part="navigation"] {
  grid-area: navigation;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: var(--tcds-carousel-navigation-justify, center);
  gap: 1.5rem;
}

[role="tablist"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

[role="tab"] {
  display: inline-flex;
  overflow: hidden;
  padding: 0;
  border: 0;
  cursor: pointer;
  height: .85rem;
  width: .85rem;
  min-width: .85rem;
  border-radius: .85rem;
  background-color: var(--tcds-color-gray-2);

  &:hover,
  &[aria-selected="true"] {
    background-color: var(--tcds-color-primary);
  }
}

/**
 * 1. Increase touch target size.
 */
[part="play-pause"],
[part="next"],
[part="previous"] {
  appearance: none;
  background: none;
  border: 0;
  display: flex;
  padding: 1rem; /* 1 */
  margin: -1rem; /* 1 */
  color: var(--tcds-color-gray-2);

  &:hover {
    color: var(--tcds-color-gray-4);
  }
}

[part="play-pause"] {
  grid-area: play-pause;
  margin: 0 auto;
  opacity: var(--tcds-carousel-play-pause-opacity, 0);
  transition: opacity var(--tcds-animation-productive-duration) var(--tcds-animation-productive-easing);
}

[part="next"] {
  order: 3;
}
