.content-page-hero {
  &__heading {
    display: flex;
    flex-direction: column;
    padding-left: var(--tcds-space-layout-sm);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border-left: 5px solid var(--tcds-color-theme-accent);
    }

    tcds-breadcrumb {
      margin-bottom: 1em;
    }

    h1 {
      margin: 0;
    }
  }
}
