@use "sass:map";
@use "@txch/tokens/dist/scss/animation" as animation;

:root {
  @each $name, $value in animation.$timing {
    --tcds-animation-#{name}-duration: #{map.get($value, "duration")}ms;
    --tcds-animation-#{name}-easing: #{map.get($value, "easing")};
  }
}
