@use "../" as *;

blockquote {
  position: relative;
  margin: 3rem 0 3rem 3rem;
  padding-right: 13%;

  &::before {
    content: "“";
    font-family: font-stack("headings");
    font-size: 5rem;
    color: theme-color("secondary", "100");
    position: absolute;
    top: -2rem;
    left: -3rem;
  }
}
