@use "@tcds" as *;

/**
 * Note this file is NOT for styles for the Button component, but instead for
 * global styles of generic button elements.
 */

button,
[type="button"],
[type="file"],
[type="reset"],
[type="submit"] {
  appearance: none;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: button; // Needed for Safari.
  background: theme-color("primary");
  border: 0;
  color: #fff;
  padding: 0 1rem;
  height: size("medium");
  font-size: font-size("medium");
  font-family: font-stack("ui");
  font-weight: 600;
  cursor: pointer;
  vertical-align: middle;

  &:focus-visible {
    @include focus-style;
  }
}
