@use "@tcds" as *;

/**
 * Note this file is NOT for styles for the Button component, but instead for
 * global styles of generic button elements.
 */

button,
[type="button"],
[type="file"],
[type="reset"],
[type="submit"] {
  appearance: none;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: button; // Needed for Safari.
  background: var(--tcds-color-primary);
  color: #fff;
  border: 0;
  padding: 0 1rem;
  height: var(--tcds-size-medium);
  font-size: var(--tcds-font-size-medium);
  font-family: var(--tcds-font-ui);
  font-weight: var(--tcds-font-weight-semibold);
  cursor: pointer;
  vertical-align: middle;

  &:focus-visible {
    @include focus-style;
  }
}
