@use "@tcds" as *;

details {
  &:where(:not(:last-child)) {
    margin-bottom: 1em;
  }
}

summary {
  @include font-size("small", $responsive: true, $line-height: false);

  display: flex;
  gap: space("tight");
  align-items: center;
  line-height: 3;
  list-style: none;
  color: color("gray", "400");
  font-weight: font-weight("semibold");
  user-select: none;
  cursor: pointer;

  [open] > & {
    --icon-rotate: 90deg;
  }

  &::-webkit-details-marker {
    display: none;
  }

  &::before {
    content: "";
    width: 1em;
    height: 1em;
    background-image: url("#{$ASSETS}/icons/chevron-right.svg");
    background-size: 100%;
    display: block;
    transition:
      transform animation("productive"),
      filter animation("productive");
    filter: var(--icon-filter, none);
    transform: rotateZ(var(--icon-rotate, 0));
  }

  + div {
    padding: 0 0 space("normal");
  }
}
