@use "@tcds" as *;

ul:not([class]),
.ul,
ol:not([class]),
.ol {
  padding-left: 2ch;

  &:not(:last-child) {
    margin: 0 0 space("normal", "rem");
  }
}

:where(ul[class]:not(.ul)),
:where(ol[class]:not(.ol)) {
  list-style: none;
}

li {
  @include font-size("medium");
}

dl {
  @include font-size("medium");

  &:not(:last-child) {
    margin-bottom: space("normal", "rem");
  }
}

dt {
  font-weight: font-weight("bold");
}
