@use "@tcds/_all" as *;

ul:not([class]),
.ul,
ol:not([class]),
.ol {
  padding-left: space("normal", "rem");

  &:not(:last-child) {
    margin: 0 0 space("normal", "rem");
  }
}

ul[class]:not(.ul),
ol[class]:not(.ol) {
  list-style: none;
}

li {
  line-height: line-height("loose");
}

dl {
  line-height: line-height("loose");

  &:not(:last-child) {
    margin-bottom: space("normal", "rem");
  }
}

dt {
  font-weight: font-weight("bold");
}
