@use "@tcds/_all" as *;

table {
  border-collapse: collapse;
  width: 100%;

  &:where(:not(:only-child)) {
    margin: space("x-loose") 0;
  }
}

:not(thead) > tr:nth-of-type(odd) {
  background-color: color("gray", "0");
}

td {
  vertical-align: top;
}

th {
  text-align: left;
}

td,
th {
  padding: space("tight") space("normal");
  border-bottom: 1px solid color("gray", "100");
}
