@use "@tcds" as *;

label {
  font-weight: font-weight("semibold");
}

[type="text"],
[type="search"],
[type="tel"],
[type="date"],
[type="email"],
[type="number"],
[type="month"],
[type="week"],
[type="password"],
textarea,
select {
  appearance: none;
  border: 1px solid color("gray", "100");
  background-color: #fff;
  font-family: font-stack("ui");
  font-size: font-size("small");
  padding: 0 space("normal");
  height: size("medium");
  width: 100%;
  transition: background-color animation("productive");

  &:focus {
    border-color: theme-color("link");
    outline: 3px solid theme-color("link", "100");
  }
}

textarea {
  height: initial;
}

[type="search"] {
  appearance: textfield;
}

select {
  background-image: url("#{$ASSETS}/icons/chevron-down.svg");
  background-position: calc(100% - #{space("normal")}) center;
  background-size: auto 40%;
  background-repeat: no-repeat;
}
